<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   almond-rice cooler
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     almond-rice cooler
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    This has the simplest and most familiar flavors of the three most common aguas frescas: a slightly chalky, thirst-quenching refreshment with a flavor reminiscent of rice pudding. This recipe is based on the version served at the nationally famous Casilda’s aguas frescas stand in Oaxaca, where the crushed pulp of the tiny cactus fruit (jiotilla) is often stirred in to make the liquid pink. Their version relies in good part on the almonds to give it richness and body. I was forewarned that only hand-grinding on the metate would make it good; that’s close to the truth, but I did finally come up with a blenderized version that works.This drink is light but rich—exceptionally good hot-weather party fare, poured over ice.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1½ quarts, 6 to 7 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      6 tablespoons rice
     </li>
     <li>
      6 ounces (about 1¼ cups) blanched almonds
     </li>
     <li>
      1 inch cinnamon stick
     </li>
     <li>
      Three 2-inch strips of lime zest (colored rind only), ¾ inch wide
     </li>
     <li>
      About 1 cup sugar
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Soaking the rice and almonds. Thoroughly pulverize the rice in a blender or spice grinder. Transfer to a medium-size bowl and add the almonds, cinnamon stick and lime zest. Stir in 2¼ cups of hot tap water, cover and let stand at least 6 hours or, preferably, overnight.
     </li>
     <li>
      Blending and straining. Scoop the mixture into the blender jar and blend for 3 or 4 minutes, until it no longer feels very gritty. Add 2 cups of water, then blend for a few seconds more. Set a large sieve over a mixing bowl and line with 3 layers of dampened cheesecloth. Pour in the almond-rice mixture a little at a time, gently stirring to help the liquid pass through. When all has been strained, gather up the corners of the cheesecloth and twist them together to trap the dregs inside. Squeeze the package firmly to expel all the remaining liquid.
     </li>
     <li>
      Finishing the horchata. Add 2 cups of water and stir in enough sugar to sweeten the drink to your taste. If the consistency is too thick, add additional water. Cover and refrigerate until you’re ready to serve. Stir before pouring.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>