<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   beans with bacon, roasted chile and fresh coriander
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     beans with bacon, roasted chile and fresh coriander
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    After days scouring Monterrey’s charcoal-grilling establishments that specialize in arracherra (“skirt steak”) and cabrito (“kid”), we came across a little open-air setup with a vertical spit of pork layered for tacos al pastor (called tacos de trompo there) and an earthenware olla simmering over radiant coals. It wasn’t until then that I realized how tasty the town’s ubiquitous frijoles charros (“cowboy beans”) could be.Here is the recipe for those typically brothy beans, with their smoky bacon flavor, green chiles and fresh coriander. (Many printed recipes call for pickled pork rinds and the like, but I’ve never found them served that way.) The beans are a perfect match for most meats off the grill, like chicken or skirt steak.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 8 to 10 cups, serving 6 as a main course, 8 to 10 as a side dish
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 pound (about 2½ cups) pinto or other light-colored beans
     </li>
     <li>
      4 ounces fatty pork shoulder, cut into ½-inch cubes
     </li>
     <li>
      8 thick slices bacon, cut into ½-inch pieces
     </li>
     <li>
      1 medium onion, diced
     </li>
     <li>
      2 large fresh chiles poblanos, roasted and peeled, seeded and chopped
     </li>
     <li>
      2 ripe, medium-small tomatoes, roasted or boiled, cored, peeled and chopped OR one 15-ounce can tomatoes, drained and chopped
     </li>
     <li>
      Salt, about 1 teaspoon
     </li>
     <li>
      ½ cup roughly chopped fresh coriander (cilantro)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Soaking the beans. Pick over the beans for any foreign pieces, then rinse and place in a 4-quart pot. Add 2 quarts water, remove any beans that float, and soak for 4 to 8 hours, until water has penetrated to the core of the beans. Or quick-soak by boiling the beans for about 2 minutes, then letting them stand 1 hour. Drain the soaked beans.
     </li>
     <li>
      Preliminary cooking. Measure 2 quarts of fresh water into the pot of beans, add the pork, bring slowly to a boil, partially cover and simmer over medium-low heat, stirring occasionally, until the beans are tender, 1 to 2 hours.
     </li>
     <li>
      Flavorings. Fry the bacon in a medium-size skillet over medium-low heat, until crisp, about 10 minutes. Remove the bacon, pour off all but 2 tablespoons of fat and raise the heat to medium. Add the onion and chiles and fry until the onion is a deep golden brown, about 8 minutes. Stir in the tomato and cook until all the liquid has evaporated.
     </li>
     <li>
      Final simmering. Add the tomato mixture, bacon and salt to the cooked beans. Simmer, stirring occasionally, for 20 to 30 minutes, to blend the flavors. If the beans are very soupy, uncover, raise the heat and simmer away the excess liquid. For a thicker broth, puree 2 cups of the beans (with their liquid) and return to the pot.
     </li>
     <li>
      t before serving, taste for salt and stir in the chopped fresh coriander. Serve in warm bowls.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>