<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   brains with pungent mexican seasonings
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     brains with pungent mexican seasonings
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1½ cups
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      12 to 14 ounces (1 pair beef or 1½ pairs veal) brains
     </li>
     <li>
      ½ large lime, juiced
     </li>
     <li>
      Fresh hot green chiles to taste (roughly 2 chiles serranos or 1 chile jalapeño), stemmed, seeded and finely minced
     </li>
     <li>
      1 large sprig epazote, leaves removed and minced (1 generous tablespoon) OR 6 sprigs fresh coriander (cilantro), stemmed and finely chopped
     </li>
     <li>
      ¼ medium onion, finely chopped
     </li>
     <li>
      Salt, about ¼ teaspoon
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The brains. Soak the brains in cold water for 30 minutes. Drain and peel off the thin outer membrane. Soak in salted water for an hour more and drain again. Place the brains in a medium-size saucepan with enough salted water to cover; add the lime juice. Bring barely to a simmer, then cook over medium to medium-low heat for 20 to 25 minutes, until the brains are firm and white when cut into. Cool for ½ hour in their liquid, if there’s time. Drain, dry with paper towels and trim off any extraneous tissue.
     </li>
     <li>
      Finishing the mixture. In a mixing bowl, coarsely mash the brains. Stir in the chile, epazote (or coriander), onion and salt to taste. Cool thoroughly before using.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>