<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   broth
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     broth
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    One lesson kitchen history has taught us is that good cooking requires good broth, and in my opinion, the little artificially flavored bouillon cubes don’t count. Most Mexican broths aren’t as rich as their relatives, the French stocks; in fact, a really strong stock can unbalance the flavors of many Mexican preparations. Soups need the richest broths, while Mexican sauces can take those that are weaker.Since meats in Mexican cooking are frequently simmered until tender, many dishes create their own broths. When they don’t, here’s how you proceed.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1½ quarts
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      2 pounds meaty poultry, pork or beef bones or odd pieces (plus poultry innards—excluding the liver—for poultry broth)
     </li>
     <li>
      1 small onion, thinly sliced
     </li>
     <li>
      2 cloves garlic, peeled and halved
     </li>
     <li>
      2 bay leaves
     </li>
     <li>
      1 teaspoon mixed dried herbs (such as marjoram and thyme)
     </li>
     <li>
      8 black peppercorns, very coarsely ground
     </li>
     <li>
      1 small carrot, sliced (optional)
     </li>
     <li>
      1 rib celery, roughly chopped (optional)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preliminaries. Place the bones and so forth in a large saucepan, add the onion, garlic and 3 quarts water and bring slowly to a simmer. Skim off all the grayish foam that rises during the first few minutes of simmering, then add the bay leaves, herbs, peppercorns, and the carrot and celery, if you are using them.
     </li>
     <li>
      Simmering, straining and degreasing. Partially cover and simmer gently over medium-low heat for at least 2 hours (the liquid should reduce to about 1½ quarts); pork or beef broth will have a better flavor if simmered 4 hours, adding water as necessary to keep the quantity at no less than 1½ quarts.
     </li>
     <li>
      ain through a fine-mesh sieve and discard the solids. If there is time, let cool, refrigerate for several hours, then scrape off the congealed fat. Otherwise, let stand several minutes, then spoon off the fat that rises.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>