<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   burritos with spicy shredded jerky
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     burritos with spicy shredded jerky
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Deann and I had driven hundreds of uneventful miles, most of it through sun-bleached expanses of Baja California’s fascinating, unpopulated terrain; so it was a pleasure to roll into the cool, shaded center of San Ignacio. We found a place to eat and rest, and, like most every little eating place we’d passed, the menu consisted mostly of burritos de machaca. But in this isolated town, we got the real stuff: Rather than serving up the easy boiled-beef version I expected, the owner-cook took down a piece of homemade beef jerky, roasted and pounded it, fried it with vegetables and rolled it into flour tortillas. It is her recipe for jerky that is on, and her recipe for this rustic, full-flavored burrito filling.Served as a light main course, these burritos need only a little Salsa Picante, a green salad and some Charro Beans to make a very memorable meal.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For the filling:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      4 ounces beef jerky, store-bought or homemade
     </li>
     <li>
      5 tablespoons lard or vegetable oil, plus a little more if needed
     </li>
     <li>
      1 large onion, diced
     </li>
     <li>
      2 fresh chiles poblanos, roasted and peeled, seeded and diced
     </li>
     <li>
      2 ripe, medium-small tomatoes, cored and diced
     </li>
     <li>
      3 cloves garlic, peeled and minced
     </li>
     <li>
      Salt, about ½ teaspoon (depending on the saltiness of the jerky)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The tortillas. If the tortillas are not hot, heat them as directed.
     </li>
     <li>
      The filling. About ½ hour before serving, broil and shred the jerky as described in Step 1 on (there should be about 2 cups).
     </li>
     <li>
      t the lard or oil in a medium-large skillet over medium-high. When quite hot, add the onion and fry, stirring frequently, until beginning to brown, about 5 minutes. Add the jerky, reduce the heat to medium and stir frequently until the mixture is well browned, 5 to 7 minutes. (If the meat absorbs all the oil, add a little more, so the mixture fries and browns rather than toasts and burns.) Stir in the chile, tomato and garlic and cook several minutes, until the mixture is homogeneous. Season carefully with salt (jerky can vary widely in its saltiness).
     </li>
     <li>
      The burritos. When the machaca mixture is ready, make the burritos by rolling ¼ cup of filling into each hot flour tortilla. Place them on a warm platter and serve at once.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>