<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   butter-fried plantains with thick cream
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     butter-fried plantains with thick cream
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Through the lushly tropical, banana-growing land of Tabasco, the cafeterías write plátanos fritos on their menus (add a few cents if you want them fried in butter) and they serve them with thick, soured cream. Outside our Oaxacan apartment most afternoons, a young man came around with his wood-heated cart that was loaded with tender plantains warmed over pineapple rinds. And all the country’s fairs have at least one stand that fries churros, potato chips and these whole, golden cooking bananas.Plantains are a favorite everywhere: They are astringent when raw, but if they’re soft—nearly black-ripe—when they go on the fire, they’re delicious and sweet as they come off. I like to serve them for brunch or a Sunday evening snack, simply fried in butter and topped with cream. With the cinnamon, rum and nuts called for below, they make a special, simple dessert for an informal dinner.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1½ cups Thick Cream  OR 1¼ cups commercial sour cream thinned with about 1/3 cup cream
     </li>
     <li>
      ¾ cup nuts (pecans, slivered blanched almonds, walnuts or pine nuts)
     </li>
     <li>
      3 medium, very ripe plantains (see Ingredients in Cook’s Notes)
     </li>
     <li>
      4 tablespoons unsalted butter
     </li>
     <li>
      1/3 cup dark rum
     </li>
     <li>
      ½ teaspoon ground cinnamon
     </li>
     <li>
      3 tablespoons sugar
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The cream and nuts. Stir the thick cream gently to smooth it out; if you’re using commercial sour cream, mix it with the cream. Refrigerate until ready to serve.
     </li>
     <li>
      heat the oven to 325°. Spread the nuts onto a baking sheet and toast until golden, 10 to 15 minutes.
     </li>
     <li>
      Frying the plantains. Peel the plantains and slice on a diagonal into ¼-inch-thick ovals. Just before serving, melt the butter in a very large (12-inch) skillet over medium to medium-low heat, then arrange the plantains in a single layer. Fry until deep golden, 3 to 5 minutes per side. (If necessary, fry them in 2 batches, keeping the first batch warm in a low oven.) Transfer to a warm serving platter.
     </li>
     <li>
      Finishing the dish. Return the skillet to the heat, add the rum, cinnamon and sugar, and stir until a glaze is formed (ignite the mixture with a match, if you wish, to burn off the alcohol). Pour over the plantains. Sprinkle on the toasted nuts and serve immediately, passing the cream separately.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>