<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   buttered crepes with caramel and pecans
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     buttered crepes with caramel and pecans
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: 4 servings
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For finishing the dish:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      8 tablespoons (4 ounces) unsalted butter
     </li>
     <li>
      1 cup (about 3½ ounces) pecans, roughly chopped
     </li>
     <li>
      About 1½ cups (1 recipe) Goat Milk Caramel, at room temperature
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The crepe batter. Pulverize the cinnamon and cloves in a mortar or spice grinder, then place in a blender jar or food processor with all the remaining crepe ingredients except the butter. Process until smooth, stopping the machine once to scrape down the sides. With the machine running, pour in the 1 tablespoon melted butter. Set aside to rest for 2 hours. Before using, thin with a little water, if necessary, to the consistency of heavy cream.
     </li>
     <li>
      Making the crepes. Set a 7-inch skillet or crepe pan (see Equipment in Cook’s Notes) over medium to medium-high heat and brush very lightly with oil. When quite hot, pour in about ¼ cup of the batter, quickly swirl it around to coat the bottom, then immediately pour the excess (what hasn’t stuck) back into the blender jar.
     </li>
     <li>
      k until the edges begin to dry, 45 seconds to 1 minute. Loosen the edges with a knife and trim off the irregular part (where you poured off the excess batter). Using your fingers or a narrow spatula, flip the crepe (it should be golden brown). Cook about a minute longer, until golden brown underneath, then remove to a plate. Continue making crepes in the same manner, greasing the pan from time to time and stacking the finished crepes (there should be at least 12) on top of one another; cover with plastic wrap.
     </li>
     <li>
      Toasting the pecans and filling the crepes. Melt the 8 tablespoons butter in a medium-size skillet over medium-low heat. Add the pecans and stir frequently for about 10 minutes, until the nuts are toasted and the butter is browned. Remove the nuts with a slotted spoon and set the skillet of browned butter to one side of your work space.
     </li>
     <li>
      out a crepe, prettiest-side down, brush with the browned butter and spoon a scant tablespoon of cajeta on one side. Fold in half and press gently to spread out the filling. Brush the top with butter, fold in half to form a wedge and brush with butter again. Lay in a buttered, decorative baking dish. Repeat the buttering and filling with 11 more crepes, arranging them, slightly overlapping, in two rows in the baking dish. Cover with foil and scrape the remaining cajeta into a small saucepan.
     </li>
     <li>
      Finishing the dish. About 20 minutes before serving, preheat the oven to 325°. Bake the crepes for 10 minutes to warm them through. Heat the remaining cajeta over medium-low. Drizzle it over the warm crepes, strew with the nuts and serve at once.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>