<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   charcoal-grilled baby onions with lime
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     charcoal-grilled baby onions with lime
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    I can’t imagine eating slivers of charcoal-grilled meat wrapped in tortillas and dashed with hot sauce (Tacos al Carbón, without also wanting the requisite plate of grilled overgrown green onions. They’re so simple, so sweet and smoky that I can’t understand why we didn’t have them with our summertime steaks when I was growing up. We do now.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    6 to 8 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      3 bunches large green onions (see Ingredients in Cook’s Notes)
     </li>
     <li>
      2 tablespoons vegetable oil
     </li>
     <li>
      2 large limes, cut into wedges
     </li>
     <li>
      Salt, as desired
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preliminaries. About 45 minutes before serving, light your charcoal fire and let it burn until medium-hot. Cut the roots off the onions, trim ½ inch off the tops, and pull off any withered outer layers.
     </li>
     <li>
      Grilling the onions. Position the grill 4 to 6 inches above the coals; fold a square of aluminum foil in half and lay it on one side of the grill. Lightly brush the onions with oil, then lay them on the grill, bulb-side over the coals and green-side over the aluminum foil. Grill, turning frequently, for 7 to 12 minutes (depending on the size of your onions), until the bulbs are browned and the green tops soft. Remove to a warm serving platter, squeeze a couple of lime wedges over them and sprinkle with salt. Serve with the remaining lime wedges to the side, for those who want more.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>