<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   charcoal-grilled pork loin with rich red-chile sauce
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     charcoal-grilled pork loin with rich red-chile sauce
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: 6 servings, with about 3 cups of sauce
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For the garnish:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ½ cup meaty green olives, preferably manzanillos
     </li>
     <li>
      Several pickled chiles jalapeños, store-bought or homemade
     </li>
     <li>
      1 slice of onion, broken into rings
     </li>
     <li>
      Several slices of orange
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The chiles. Tear the chiles anchos into flat pieces. Heat 2 tablespoons of the lard or oil in a medium-size skillet over medium, then quick-fry the chiles a couple of pieces at a time, toasting them for a few seconds on each side. Drain well, cover with boiling water, weight with a plate to keep them submerged and let soak for several hours or overnight to rid them of any harshness.
     </li>
     <li>
      The onions and garlic. In the same skillet, fry the onion and garlic over medium heat, stirring occasionally, until well browned, about 8 minutes. Scoop out, draining as much fat as possible back in the pan, and place in a blender.
     </li>
     <li>
      Pureeing, frying and simmering the adobo sauce. Drain the chiles, squeezing them gently to remove all the soaking liquid. Add to the onions along with 2/3 cup of the broth. Grind the cumin and bay leaf in a mortar or spice grinder and add them to the blender along with the oregano, thyme and 2 tablespoons of the vinegar. Blend until smooth, then strain through a medium-mesh sieve.
     </li>
     <li>
      t the remaining tablespoon of lard or oil in a large saucepan over medium-high. When quite hot, add the chile puree and stir nearly constantly for 5 to 7 minutes, until it is a thick, deep-burgundy mass.
     </li>
     <li>
      r in 1 cup of the broth and the orange juice, partially cover, reduce the heat to medium-low and simmer for about 45 minutes. Season with sugar and salt, then cool.
     </li>
     <li>
      Marinating the pork loin. Mix together ¼ cup of the cooled adobo sauce and the remaining 4 tablespoons of vinegar; cover and refrigerate the rest of the adobo sauce. If your pork loin consists of 2 pieces tied into a double thickness for roasting, untie them, then place in a noncorrosive container, pour on the sauce-vinegar mixture and coat well. Cover and refrigerate at least 12 hours, turning the meat in the marinade several times.
     </li>
     <li>
      Grilling the meat. About 2 hours before serving, remove the meat from the marinade and set out to warm to room temperature. Build a charcoal fire and let it burn until only medium-hot. Position the grill about 6 inches above the coals and brush it with a little oil.
     </li>
     <li>
      n the fire is right, remove the pork from the marinade and lay it on the grill, fat-side down. Turn it periodically until it feels firm and reaches an internal temperature of about 150°; the cooking will take roughly 50 minutes to 1 hour.
     </li>
     <li>
      the cooked meat on a wire rack over a plate and let it rest in a low oven while you heat the sauce.
     </li>
     <li>
      Garnish and presentation. Warm the adobo sauce in a small saucepan, thinning it with a little broth, if necessary, to achieve a light consistency (like moderately thin barbecue sauce). Taste for salt and sugar. Thinly slice the meat, then lay the slices overlapping on a warm platter. Spoon the sauce over the top and garnish with the olives, chiles, onion rings and orange slices. Serve immediately.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>