<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   chicken tostadas with fresh vegetables and cream
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     chicken tostadas with fresh vegetables and cream
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    This recipe’s simple layering of crisp tortilla, fried beans, chicken, sour cream and a little well-dressed salad is a mainstay of coffee shops throughout Mexico (and even up into the fast-food restaurants north of the border). It is satisfying and tasty, but certainly seems less adventurous than a pigs’ feet tostada made on the hefty, salty, West-Central—style fried tortillas. And what could be more refreshing than the seviche tostadas served under the hot sun on practically any Mexican beach?The coffee-shop version detailed below makes a nice lunch or supper dish. Lightly topped tostadas often accompany Green Pozole in Guerrero and I also think they go well with a brothy soup like Tlalpeño Soup. This is one dish that isn’t too filling for a dessert like Sweet Fresh-Cheese Pie.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    12 tostadas, serving 4 as a light meal
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      12 Crisp-Fried Tortillas (Tostadas
     </li>
     <li>
      1 large (1¼-pound), whole chicken breast, cooked, skinned, boned and shredded
     </li>
     <li>
      About 2 cups (1 recipe) Frijoles Refritos
     </li>
     <li>
      2 tablespoons cider vinegar
     </li>
     <li>
      6 tablespoons vegetable oil, preferably part olive oil
     </li>
     <li>
      ¼ teaspoon salt
     </li>
     <li>
      A big pinch of freshly ground black pepper
     </li>
     <li>
      2½ to 3 cups sliced lettuce, preferably romaine
     </li>
     <li>
      1 cup Thick Cream or commercial sour cream thinned with 3 to 4 tablespoons milk or cream
     </li>
     <li>
      ½ cup chopped onion
     </li>
     <li>
      1 ripe, large avocado, peeled, pitted and diced
     </li>
     <li>
      2 ripe, medium-small tomatoes, cored and sliced or diced
     </li>
     <li>
      ¾ cup (3 ounces) crumbled Mexican queso fresco or queso añejo, or cheese like feta, farmer’s cheese or mild Parmesan
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preliminaries. About 25 minutes before serving, fry the tortillas as directed. Sprinkle the chicken with salt, if desired. Warm the beans over low heat, adding a little water if they’re overly thick. Thoroughly whisk together the vinegar, oil, salt and pepper, then toss the lettuce with this dressing.
     </li>
     <li>
      Assembling the tostadas. Spread a generous 2 tablespoons of warm beans over each crisp tortilla. Top with a little chicken, then add a thick drizzle of cream, some onion and avocado. Top each tostada with dressed lettuce, tomato and a sprinkling of cheese. Serve at once.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>