<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   chicken thighs with vinegar, oil and aromatic spices
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     chicken thighs with vinegar, oil and aromatic spices
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: 4 servings
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For finishing the dish:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1½ tablespoons (½ recipe) Mixed-Spice Paste
     </li>
     <li>
      1 tablespoon flour
     </li>
     <li>
      1 medium onion, sliced 1/8 inch thick
     </li>
     <li>
      4 long (4-inch) fresh chiles xcatiques or banana peppers, roasted and peeled, seeded, deveined and cut into long strips
     </li>
     <li>
      ¼ cup lard or vegetable (or olive) oil
     </li>
     <li>
      ¼ cup cider vinegar
     </li>
     <li>
      Salt, if necessary
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Simmering the chicken. Bring 7 cups of water to a boil in a large saucepan, add the chicken (plus a little more water if there isn’t enough to cover it), then skim off any grayish foam that rises during the first few minutes of simmering. Add the black pepper, cumin, oregano, bay leaves, salt and garlic. Partially cover and simmer gently for 23 minutes, until the meat is tender (boned thighs will be done in about 20 minutes). Remove from the fire, and, if time permits, cool the chicken in the broth. Fish out the thighs and set them skin-side up on a plate. Strain the broth, skim off the fat that rises to the top and reserve 2½ cups broth.
     </li>
     <li>
      Coating the chicken. When the chicken skin has dried, rub 1 tablespoon of the seasoning paste over the skin side of the thighs; let stand 1 hour, uncovered.
     </li>
     <li>
      Finishing the dish. About 25 minutes before serving, lightly dust the spice-covered side of the chicken with flour; pat gently to evenly distribute the flour and remove any excess. Rinse the onion, drain thoroughly and set aside with the strips of chile.
     </li>
     <li>
      a large (12-inch) skillet over medium heat and add the lard or oil. When hot, lay in the chicken pieces, skin-side down, and fry until crispy, about 4 minutes per side. Drain on paper towels and keep warm in a low oven.
     </li>
     <li>
      urn the pan to the heat and add the onion and chile. Cook for 4 to 5 minutes, stirring occasionally, until the onion softens. Add the vinegar, reserved broth and remaining ½ tablespoon seasoning paste, stirring to dissolve the paste. Simmer several minutes to blend the flavors. Taste for salt.
     </li>
     <li>
      ce 2 thighs in each of 4 warm, deep plates. Top with a portion of the onion mixture and broth, and serve.
     </li>
     <li>
      ardo Azcorra’s narrow eyes sparkled when he found out I loved Yucatecan food. It was the first time I’d sat on a stool at his canopied stall in front of one of the Mérida markets, watching him serve his breakfast of tamales colados and carry on with all the other vendors as he kept a sharp eye on everyone’s every movement—like a man who’d done with little all his life. His hair was graying and thin, but his enthusiasm belied a lively spirit. And when the subject was food or politics, in Mayan, Spanish or English, he never had to think up things to say.
     </li>
     <li>
      knew how to dig pits they call pibes, line them with rocks and build fires on top. He knew how to marinate little pigs or chickens in achiote seasoning and choose the right fragrant leaves—fig, guava, wild basil—to go over the coals. He understood how to wrap the meat in banana leaves, lay it on grates in the pit, and cover it with henequen bags and earth so it slowly cooked and steamed.
     </li>
     <li>
      re is little difference between the pit cooking he spelled out and that of the lamb barbacoa so famous in Central Mexico. Of course, in Yucatán the seasonings are different, and the meat is wrapped in more flexible, more sealable banana leaves, rather than maguey. And in recent years, the cooks have translated the leaf-wrapped pit cooking into indoor steaming and baking; it doesn’t give the food any taste of the fire, but it is certainly easier for most North Americans (many of whom, like me, don’t even have a yard to dig in).
     </li>
     <li>
      e never tasted the pit-cooked versions of chicken or pork pibil, but several recipes suggest re-creating the pit-cooked flavor by heating the cooked meat over smoky charcoal. Perhaps—but I love the flavors as they are: aromatic with red achiote and spices, tart with bitter orange juice and herby with banana leaves. The following recipe, based on the one from Sr. Azcorra, show those flavors at their best.
     </li>
     <li>
      in Mayan, according to the authoritative Diccionario de mejicanismos, refers as much to the procedure of roasting—underground or in the modern oven—as it does to the hot pit; it can even refer to roasted food in general. To most Yucatecáns, though, it still seems to conjure up scenes of earthy holes, achiote-marinated meat and banana leaves.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>