<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   chile-marinated vegetable tostadas
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     chile-marinated vegetable tostadas
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    In Oaxaca and Guerrero, chileajo (literally “chile-garlic”) is a well-known simple sauce of mild chile, lots of garlic, sweet spices and a dash of vinegar. Roadside eateries near Taxco stew iguana and rabbit in it; and market-day street vendors around the Oaxaca valley mix it up with vegetables and serve it on tostadas. Here’s a traditional recipe for the latter, based on one from Guzmán’s Tradiciones gastronómicas oaxaqueñas. These tostadas are good served before Fresh Corn Chowder with Shrimp, with a fresh fruit ice for dessert. Or, for a summer meal, serve the cool vegetables by themselves, with poached fish or smoked chicken.12 tostadas, serving 6 as a hearty appetizer
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      4 medium (about 1 ounce total) dried chiles guajillos, stemmed, seeded and deveined
     </li>
     <li>
      6 large cloves garlic, unpeeled
     </li>
     <li>
      3 ounces (about 1 cup) green beans, ends snipped, and chopped in ½-inch lengths
     </li>
     <li>
      2/3 cup peas, fresh or (defrosted) frozen
     </li>
     <li>
      2 small (about 6 ounces total) boiling potatoes like the red-skinned ones, diced in ½-inch pieces
     </li>
     <li>
      2 small (about 4 ounces total) carrots, peeled and diced in ½-inch pieces
     </li>
     <li>
      2 cloves (or a big pinch ground)
     </li>
     <li>
      1/8 teaspoon black peppercorns (or a scant ¼ teaspoon ground)
     </li>
     <li>
      ½ teaspoon oregano
     </li>
     <li>
      1 tablespoon lard or vegetable oil
     </li>
     <li>
      1½ tablespoons cider vinegar
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
     <li>
      Sugar, about ½ teaspoon
     </li>
     <li>
      12 Crisp-Fried Tortillas (Tostadas)
     </li>
     <li>
      ¼ cup (about 1 ounce) Mexican queso añejo or cheese like feta or mild Parmesan
     </li>
     <li>
      ½ small onion, thinly sliced
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The chiles and garlic. Cover the chiles with boiling water, weight with a plate to keep them submerged, soak 30 minutes, then drain. While the chiles are soaking, place the unpeeled garlic on a griddle or heavy skillet over medium heat. Turn frequently for about 15 minutes, until blackened in spots and soft. Cool, then slip off the skins. Place the garlic and chiles in a blender jar and set aside.
     </li>
     <li>
      Preparing the vegetables. In a large saucepan, bring several quarts of salted water to a boil over high heat. One at a time, boil the vegetables just until tender (you can use the same water for each batch): first the green beans for 3 to 5 minutes, then the fresh peas for 4 to 20 minutes (depending on their freshness and maturity), then the potatoes for about 5 minutes, and last, the carrots for 5 to 8 minutes. As each group of vegetables is done, scoop it out, run under cold water to stop the cooking, then drain on paper towels. Transfer to a mixing bowl (along with the defrosted peas, if using them).
     </li>
     <li>
      Finishing the sauce. Grind the cloves and black pepper in a mortar or spice grinder; add to the chile mixture in the blender jar along with the oregano and ½ cup water. Blend until smooth, then strain through a medium-mesh sieve.
     </li>
     <li>
      t the lard or vegetable oil in a medium-small skillet over medium-high. When quite hot, add the chile mixture and stir constantly until somewhat darker and noticeably thicker, 2 to 3 minutes. Reduce the heat to medium-low, add the vinegar and enough water to give the sauce the consistency of thin ketchup, and simmer for a minute to blend the flavors. Season with salt and sugar, then cool.
     </li>
     <li>
      the sauce into the vegetables. If there is time, cover and let stand for a few hours before serving.
     </li>
     <li>
      Finishing the tostadas. When you are ready to serve, scoop 2 heaping tablespoons of the vegetable mixture on each crisp-fried tortilla and sprinkle with a little cheese and onion.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>