<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   chilied chicken steamed with avocado leaves
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     chilied chicken steamed with avocado leaves
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    In Southern Mexico, the preparation of barbacoa frequently changes from the maguey-wrapped, pit-cooked chunks of lamb (typical in Central states), to an aromatic dish of chile-marinated goat that has been slowly steamed over a bed of anisey avocado leaves; it’s sold in the markets to roll up into special tacos. On weekends in Guerrero, some cooks make a delicious version with chicken—which is certainly a simple alternative for us average North Americans.My original recipe, from a market vendor in Tixtla, Guerrero, called for whole chicken; but I’ve given directions for half-boned breasts and boned thighs so you can serve your barbacoa easily as a main dish. It is simple, good fare for backyard parties, with a Mixed Vegetable Salad, Mexican Rice, plus hot corn tortillas, Fresh Green Tomatillo Sauce and chopped red onions. I’d served Jamaica “Flower” Cooler or beer to drink and Pecan Pie with Raw Sugar for dessert.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      8 medium (about 2 ounces total) dried chiles guajillos
     </li>
     <li>
      2½ tablespoons sesame seeds
     </li>
     <li>
      ½ inch cinnamon stick (or about ½ teaspoon ground)
     </li>
     <li>
      3 cloves (or a big pinch ground)
     </li>
     <li>
      ½ teaspoon black peppercorns (or about ¾ teaspoon ground)
     </li>
     <li>
      ½ medium onion, roughly chopped
     </li>
     <li>
      4 cloves garlic, peeled and roughly chopped
     </li>
     <li>
      2 tablespoons cider vinegar
     </li>
     <li>
      1½ tablespoons lard or vegetable oil
     </li>
     <li>
      Salt, about 1 teaspoon, divided between the marinade and the steaming liquid
     </li>
     <li>
      2 large (about 2½ pounds total), whole chicken breasts, boned or half-boned
     </li>
     <li>
      4 (about 1¼ pounds) chicken thighs, boned if you wish
     </li>
     <li>
      15 avocado leaves (see Ingredients in Cook’s Notes)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The chile paste. Stem the chiles, break them open, discard the seeds and carefully remove the veins, reserving them for later. Tear the chiles into flat pieces. Heat a griddle or heavy skillet over medium, then toast the chiles a few pieces at a time, pressing them firmly against the hot surface with a metal spatula until they crackle and change color, then flipping them over and pressing down to toast the other side. Cover them with boiling water, weight with a plate to keep them submerged, and soak for 30 minutes.
     </li>
     <li>
      st the sesame seeds on the griddle or skillet, stirring for several minutes until golden; scrape into a blender jar. Toast the chile veins for a few seconds only and add them to the sesame seeds. Pulverize the spices in a mortar or spice grinder and add to the blender along with the onion, garlic, vinegar and ½ cup water.
     </li>
     <li>
      in the chiles and stir into the blender. Blend until smooth, stirring and scraping down the mixture several times; add additional water only if absolutely necessary. Strain the thick mixture through a medium-mesh sieve.
     </li>
     <li>
      t the lard or oil in a medium-size saucepan over medium-high. When quite hot, add the chile puree all at once and stir constantly, for 4 or 5 minutes, until very thick and dark. Season with about ½ teaspoon salt and cool.
     </li>
     <li>
      Marinating the chicken. Halve the chicken breasts and place in a noncorrosive bowl with the chicken thighs. Scrape in the chile paste and mix thoroughly. Cover and refrigerate several hours or, preferably, overnight.
     </li>
     <li>
      Steaming the chicken. About 45 minutes before serving, set up a large steamer: Measure 3 cups water into the bottom and cover the steamer rack with a single layer of avocado leaves. Lay the chicken over the leaves, daub any remaining marinade on top, then lay on the remaining leaves. Cover and steam over medium to medium-low heat for 25 minutes.
     </li>
     <li>
      Finishing the barbacoa. Remove the chicken and leaves, take out the steamer rack, then add the leaves to the simmering liquid. Boil over high heat until reduced to 2 cups, remove from the fire, skim off any fat and lightly season with salt.
     </li>
     <li>
      urn the chicken to the broth, cover and simmer for 3 or 4 minutes; turn the pieces over and simmer a minute or so longer, until much of the marinade has dissolved into the broth. Serve the chicken in deep, warm plates with several spoonfuls of broth.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>