<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   chunky guacamole (avocado relish)
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     chunky guacamole (avocado relish)
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 3 cups, serving 6 as an appetizer, 12 to 15 as a dip
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ½ small onion, very finely chopped
     </li>
     <li>
      Fresh hot green chiles to taste (roughly 2 chiles serranos or 1 chile jalapeño), stemmed, seeded and very finely chopped
     </li>
     <li>
      1 ripe, medium-large tomato, cored and very finely chopped (optional)
     </li>
     <li>
      1 clove garlic, peeled and very finely chopped (optional)
     </li>
     <li>
      10 sprigs fresh coriander (cilantro), chopped (optional)
     </li>
     <li>
      3 ripe, medium avocados
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
     <li>
      ½ lime, juiced (optional)
     </li>
     <li>
      Additional chopped onion and fresh coriander, radish slices or roses, and/or a little crumbled Mexican queso fresco or other fresh cheese like feta or farmer’s cheese, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The preliminaries. In a medium-size bowl, mix the finely chopped onion and chiles with the optional tomato, garlic and coriander.
     </li>
     <li>
      The avocado. Close to the time you are going to serve, halve the avocados lengthwise by cutting from the stem to flower ends, around the pits. Twist the avocado halves in opposite directions to loosen the meat from the pits, then scoop out the pits and reserve. Scrape the avocado pulp from the skins and add it to the bowl.
     </li>
     <li>
      Finishing the guacamole. Using your hand or a spoon, roughly mash the avocado while mixing in the other ingredients, making a coarse, thick mass. Flavor with salt, then enough lime juice to add a little zing, if you wish. Return the pits to the guacamole and cover with a sheet of plastic wrap pressed directly onto the surface of the mixture. Set aside for a few minutes to let the flavors blend.
     </li>
     <li>
      Garnish and presentation. The guacamole is very attractive in a pottery bowl or Mexican mortar, sprinkled with chopped onion, coriander, radish slices and crumbled fresh cheese; radish roses really dress it up.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>