<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   cinnamon-flavored hot chocolate
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     cinnamon-flavored hot chocolate
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Volumes have been filled with details of the engaging cocoa bean. Historians have debated the etymology of its New World name—from Nahuatl for “bitter water,” from Mayan “hot water” or simply from the choco-choco sound of the ancient chocolate beater in the pot—and they’ve not come to any conclusion. Researchers have singled out the precious varieties that served as New World currency well after the Spanish conquest. They’ve described the elegant chocolate-drinking cups of Montezuma and the various flavors, from savory to sweet, that went in with the ground beans. They’ve followed it to Europe, to the courts and chocolate parlors and even into (and back out of) the churches; and finally, they’ve moved on to the smooth Swiss confections that made chocolate a candy (helping, I suppose, to spread the final covering over its “barbaric” New World roots). Chocolate has gone so far from home that today few realize what a vital role the rustic cup of hot chocolate plays in Mexican life.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 3 cups, 3 to 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      2½ cups milk (or water)
     </li>
     <li>
      A 3.3-ounce tablet Mexican chocolate, roughly chopped
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Simmering. In a medium-size saucepan, simmer the milk (or water) with the chocolate for a few minutes over medium-low heat, stirring constantly to dissolve the chocolate.
     </li>
     <li>
      Beating. Either pour into a pitcher and beat well with a Mexican molinillo (chocolate beater), whisk or electric mixer, or pour into a blender, loosely cover and whiz until thoroughly mixed. Either way, you should wind up with a nicely frothy drink. Serve at once.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>