<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   corn tortillas
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     corn tortillas
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For most of us North Americans, there is a proud feeling of accomplishment when we can pass around a basket of steaming homemade tortillas to enjoy with our meals. With powdered masa harina so widely distributed these days, more of us have learned how wonderful a fresh-baked tortilla is. And with the fresh-ground dough (masa) becoming available from tortillerías in so many communities, it won’t be long until the freshest-tasting home-baked tortillas are part of many of our lives. Though tortillas take some time to prepare, it’s time well spent—at least on special occasions. Other times, store-bought factory-made tortillas can be served as the authentic accompaniment (and if they’re steam-heated as described on, they’ll be very good indeed); and store-bought tortillas are fine, generally even preferable, for most of the antojitos like enchiladas.15 tortillas
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 pound fresh masa for tortillas, store-bought or homemade OR 1¾ cups masa harina mixed with 1 cup plus 2 tablespoons hot tap water
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The dough. If using masa harina, mix it with the hot water, then knead until smooth, adding more water or more masa harina to achieve a very soft (but not sticky) consistency; cover with plastic and let rest 30 minutes
     </li>
     <li>
      n you’re ready to bake the tortillas, readjust the consistency of the fresh or reconstituted masa (see Techniques in Cook’s Notes), then divide into 15 balls and cover with plastic.
     </li>
     <li>
      Heating the griddle. Heat a large, ungreased, heavy griddle or 2 heavy skillets: one end of the griddle (or one skillet) over medium-low, the other end (or other skillet) over medium to medium-high.
     </li>
     <li>
      Pressing. Cut 2 squares of heavy plastic to fit the plates of your tortilla press. With the press open, place a square of plastic over the bottom plate, set a ball of dough in the center, cover with the second square of plastic, and gently flatten the dough between. Close the top plate and press down gently but firmly with the handle. Open, turn the tortilla 180°, close and gently press again, to an even 1/16-inch thickness.
     </li>
     <li>
      Unmolding. Open the press and peel off the top sheet of plastic. Flip the tortilla onto one hand, dough-side down, then, starting at one corner, gently peel off the remaining sheet of plastic.
     </li>
     <li>
      Griddle-baking. Lay the tortilla onto the cooler end of the griddle (or the cooler skillet). In about 20 seconds, when the tortilla loosens itself from the griddle (but the edges have not yet dried or curled), flip it over onto the hotter end of the griddle (or onto the hotter skillet). When lightly browned in spots underneath, 20 to 30 seconds more, flip a second time, back onto the side that was originally down. If the fire is properly hot, the tortilla will balloon up like pita bread. When lightly browned, another 20 or 30 seconds, remove from the griddle (it will completely deflate) and wrap in a towel.
     </li>
     <li>
      ss, unmold and bake the remaining balls of masa, placing each hot tortilla on top of the last and keeping the stack well wrapped.
     </li>
     <li>
      Resting. Let the wrapped stack of tortillas rest for about 15 minutes to finish their cooking, soften and become pliable.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>