<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   creamy fresh- coconut dessert
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     creamy fresh- coconut dessert
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Sitting on the dessert table at the famous Fonda el Refugio restaurant in Mexico City, amidst the brilliantly colored paper flowers, there’s nearly always a green-glazed, Michoacán-style leaf-shaped serving bowl that’s filled with golden cocada. Its lightly browned top gives way to dense, fresh coconut held together with just a little rich custard. “Pudding” is really the wrong word to describe this dessert; “macaroon in pudding form” may be closer.Since coconuts are readily available throughout Mexico, many places commonly serve a preparation similar to this one, especially restaurants in Central Mexico. The following recipe is based on one from María A. de Carbia’s México en la cocina de Marichu, though I’ve made it a little creamier to duplicate the version at Fonda el Refugio. It is very good and rather elegant in small portions after a big meal, but is equally at home on a picnic.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    6 to 8 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 medium (1¾-pound) fresh coconut with lots of liquid inside
     </li>
     <li>
      1 cup sugar
     </li>
     <li>
      1½ tablespoons good-quality sweet or dry sherry
     </li>
     <li>
      6 large egg yolks
     </li>
     <li>
      3 tablespoons milk or whipping cream
     </li>
     <li>
      ½ cup (about 2 ounces) sliced almonds
     </li>
     <li>
      1½ tablespoons unsalted butter, cut into small bits
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The coconut. Hull and peel the coconut as directed, reserving and straining the liquid. Grate the meat (it should be medium-fine).
     </li>
     <li>
      Cooking the coconut. Measure the coconut liquid and add enough tap water to bring the total quantity to 1 cup. Place the grated coconut in a medium-size, heavy saucepan, stir in the liquid and sugar and set over medium heat. Cook, stirring frequently, until the coconut becomes transparent (it will look almost candied) and the liquid has reduced to a glaze, 20 to 30 minutes. Stir in the sherry and cook for 3 or 4 minutes longer, to evaporate its liquid, then remove from the fire.
     </li>
     <li>
      Thickening the cocada. Beat the yolks with the milk or cream, stir in several tablespoons of the hot coconut, then carefully stir the warm yolk mixture into the coconut remaining in the pan. Return to medium-low heat and stir constantly until lightly thickened, about 5 minutes. Scrape the cocada into an ovenproof serving dish.
     </li>
     <li>
      Browning the finished cocada. Spread the almonds onto a baking sheet and toast in a 325° oven until lightly browned, about 10 minutes.
     </li>
     <li>
      rtly before serving, heat the broiler. Dot the cocada with butter, run under the heat and let brown for a minute or so. Watch carefully: The sugar in the cocada will caramelize very quickly. Strew with the toasted almond slices and the dessert is ready to serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>