<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   crispy wheat-flour turnovers with well-seasoned meat
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     crispy wheat-flour turnovers with well-seasoned meat
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: twelve 6-inch turnovers, serving 4 as a light main course, 6 as a hearty appetizer
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For filling and frying:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 recipe (about 3 generous cups) Minced-Pork Picadillo or Northern-Style Picadillo, cooled to room temperature
     </li>
     <li>
      Oil for deep frying, to a depth of 1 inch
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The dough. As described in the recipe for flour tortillas, measure the flour into a bowl, then thoroughly work in the fat. Dissolve the salt in the hot water, then work it into the flour mixture, making a medium-stiff dough. Knead several minutes until smooth.
     </li>
     <li>
      Resting. Divide the dough into 12 portions, roll each into a ball, set on a plate, cover with plastic wrap and let rest at least 30 minutes (to make the dough easier to roll).
     </li>
     <li>
      Forming the empanadas. On a lightly floured surface, roll out a portion of dough into a 7-inch-diameter circle (details of the process are in Step 3. Very lightly brush the perimeter with water, then scoop about ¼ cup of filling onto one side. Fold the uncovered side over the filling, expelling as much air as possible, then press the two edges firmly together. Lay the empanada on a baking sheet; continue forming turnovers with the remaining balls of dough. Firmly seal the empanadas by pressing the two edges together with the tines of a fork or by making the rope edge described below.
     </li>
     <li>
      The optional decorative rope edge. Hold an empanada in one hand; with the thumb and first finger of the other hand, pinch out a ½-inch section of the dough on the nearest end, flattening it so that it extends out ¼ inch beyond the rest of the edge. With your thumb, curl over the top half of the pinched-out section of dough (it should look like a wave breaking), then gently press it down to secure it. Now, pinch out the next ½-inch section of dough, curl the top side over, and press it down. Continue until you reach the other end. Fold the last pinched-out section back on itself, finishing the seal. Complete the rope edge on the remaining empanadas and return them to the baking sheet.
     </li>
     <li>
      Frying the empanadas. About 15 minutes before serving, heat the oil to 375° Fry the empanadas 2 or 3 at a time, until deep golden, 2 to 3 minutes per side. Drain on paper towels and keep warm in a low oven until all are fried. Serve at once.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>