<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   crispy-fried tacos
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     crispy-fried tacos
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    With the predictable regularity of changing traffic signals, people in the cities come to sit together in the brightly lit Mexican coffee shops they know as cafeterías. These are spots for the tasty snacks that are common indoors, like tostadas and the cylindrical, crispy, chicken-filled tacos dorados (or tacos de pollo) with guacamole and thick cream.This typical version makes a great light meal with the addition of Frijoles Refritos. For a special winter supper, serve them with bowls of Shrimp-Ball Soup with Roasted Pepper.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    12 tacos, serving 4 as a light main course
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 ripe, large tomato, roasted or boiled, cored, peeled and roughly chopped OR about ¾ 15-ounce can tomatoes, drained and roughly chopped
     </li>
     <li>
      ½ small onion, roughly chopped
     </li>
     <li>
      1 clove garlic, peeled and roughly chopped
     </li>
     <li>
      1 tablespoon lard or vegetable oil
     </li>
     <li>
      1 large (1¼-pound) whole chicken breast, cooked, skinned, boned and shredded
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
     <li>
      12 corn tortillas, preferably thin store-bought ones
     </li>
     <li>
      ¾ cup vegetable oil
     </li>
     <li>
      8 large leaves romaine lettuce, for garnish
     </li>
     <li>
      ½ cup Thick Cream or commercial sour cream thinned with 2 tablespoons milk or cream
     </li>
     <li>
      About 1½ cups (½ recipe) Chunky Guacamole (optional)
     </li>
     <li>
      1 tablespoon crumbled Mexican queso fresco or queso añejo, or other cheese like feta or farmer’s cheese, for garnish
     </li>
     <li>
      Several radish slices or roses, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The filling. Combine the tomato, onion and garlic in a blender or food processor and process until very smooth. Heat the tablespoon of lard or oil in a medium-size skillet over medium-high. When quite hot, add the puree and stir constantly until it is thick and reduced, about 4 minutes. Stir in the chicken, remove from the heat and season with salt.
     </li>
     <li>
      Assembling the tacos. If the tortillas are moist, let them dry out in a single layer for a few minutes. Heat ¼ cup of the oil in a medium-size skillet over medium-high. When quite hot, quick-fry the tortillas one at a time to soften them, 2 to 3 seconds per side. Drain well on paper towels. Place 2 tablespoons of filling across each tortilla, roll up and secure with toothpicks (sliding them into the flap while holding them almost parallel to it). Cover with plastic wrap.
     </li>
     <li>
      Frying the tacos. Add the remaining ½ cup of oil to what is in the skillet and heat over medium-high. When quite hot, lay in half the tacos. Fry, turning occasionally, until all sides are lightly browned and crispy, about 4 minutes. Drain on paper towels and keep warm in a low oven while frying the remainder.
     </li>
     <li>
      Garnish and presentation. Line a platter with half the romaine leaves; slice the remainder into 3/8-inch strips and spread over the center. Arrange the tacos side by side over the lettuce and drizzle with cream. Dollop the optional guacamole down the center and sprinkle with cheese and/or radish slices; arrange the optional radish roses decoratively.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>