<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   custard ice cream with cinnamon and vanilla
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     custard ice cream with cinnamon and vanilla
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    Generally, this beautifully light ice cream is made with milk (some cooks make it even less creamy by omitting the cooking); on occasion, though, I want a really rich, smooth frozen dessert, so I’ll replace the milk with half-and-half. Two tablespoons brandy or dark rum are a delicious, though nontraditional, addition.about 1½ quarts, 8 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 quart milk
     </li>
     <li>
      1½ cups sugar
     </li>
     <li>
      2 inches cinnamon stick
     </li>
     <li>
      10 large egg yolks
     </li>
     <li>
      1 teaspoon vanilla extract
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The cinnamon-flavored milk. Combine the milk, sugar and cinnamon stick in a large, heavy, noncorrosive saucepan (preferably enameled cast iron). Bring to a boil, stirring frequently, then simmer, covered, over medium-low heat for 10 minutes. Remove from the fire.
     </li>
     <li>
      The custard. Beat the egg yolks until runny. Slowly whisk in 1 cup of the hot milk mixture, then whisk the yolk mixture into the milk remaining in the saucepan. Return the pan to medium-low heat and cook, stirring almost constantly, until the custard has thickened enough to coat a wooden spoon (it should be 185–190°), 7 to 10 minutes. Do not let the mixture come near a boil or the egg yolks will curdle. Immediately strain through a fine-mesh sieve, then stir in the vanilla and cool to room temperature, stirring occasionally. If there is time, cover and chill before freezing.
     </li>
     <li>
      The ice cream. Scrape the custard into the canister of your ice cream freezer and freeze according to the manufacturer’s directions. For a firmer ice cream, “ripen” for several hours by placing in your freezer or by repacking the ice cream freezer with a new round of ice and salt.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>