<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   duck in smooth pumpkinseed sauce
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     duck in smooth pumpkinseed sauce
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: 4 large servings, with about 3 cups of sauce
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For the garnish:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 slice of onion, broken into rings
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Duck preliminaries. Use a large knife or kitchen shears to split each duck: Cut through the ribs down both sides of the backbone (set the backbone aside to use in preparing the broth); open the duck out, cavity-side down, press down firmly on the breastbone to loosen it, then split the duck down the breastbone. Split the second duck in the same fashion. Finally, prick the skin sides of each half with a fork at 1-inch intervals, pushing the tines in only about 1/8 inch.
     </li>
     <li>
      Preparing the broth. In a medium-size saucepan, combine the duck backs, necks, gizzards and hearts (but not the livers), plus 5 cups water, the onion and salt. Bring to a simmer, skim off any grayish foam that rises during the first few minutes of simmering, add the herbs and bay leaves, partially cover and simmer over medium-low for at least 1 hour, preferably 2 or 3. Strain through a fine-mesh sieve, then skim off all the fat that rises to the top.
     </li>
     <li>
      Frying the duck. Heat the 2 tablespoons oil in a large (12-inch) skillet over medium. Dry 2 duck halves with paper towels, lay skin-side down in the hot oil, and fry for about 15 minutes without turning, until the duck skin is well browned; drain on paper towels. Pour off all but a thin coat of fat and fry the remaining duck halves in the same manner.
     </li>
     <li>
      Sauce preliminaries. Tear the chiles into large flat pieces. Heat 2 tablespoons of the lard or oil in a medium-size skillet over medium. When hot, quick-fry the chiles to toast them lightly, a few seconds on each side. Transfer to a small bowl, draining off as much oil as possible, cover with boiling water, weight down with a small plate, and soak about 30 minutes.
     </li>
     <li>
      k the onion and garlic in the same skillet over medium heat until they have browned nicely, about 10 minutes. Remove them from the pan, draining well, and place in a large bowl.
     </li>
     <li>
      t another medium-size skillet over medium-low for several minutes. Add the pumpkinseeds; when the first one pops, stir them constantly for 4 to 5 minutes, until all have toasted and popped. Crumble a few and reserve for garnish, then scoop the rest into the bowl with the onions.
     </li>
     <li>
      nd the spices in a mortar or spice grinder and add to the bowl, along with the thyme, bread, peanuts, chipotle and 1½ cups of the duck broth. Drain the chiles and add to the bowl.
     </li>
     <li>
      Pureeing, frying and simmering the sauce. Scoop half of the mixture into a blender jar and blend to a smooth puree, adding a little more broth if the mixture won’t move through the blades; strain through a medium-mesh sieve. Puree and strain the other half.
     </li>
     <li>
      t the remaining tablespoon of lard or oil in a large saucepan over medium-high. When quite hot, add the puree and stir constantly for about 5 minutes, as it concentrates and darkens. Stir in 2 cups of the broth, cover and simmer over medium-low heat for about 45 minutes, stirring occasionally. When the sauce is ready, adjust the consistency, if necessary, by adding enough broth to make it the consistency of heavy cream. Season with sugar and salt.
     </li>
     <li>
      Baking the duck. About 45 minutes before serving, preheat the oven to 350°. Lay the duck halves, skin-side up, in a large roasting pan. Pour the hot sauce over them, cover and bake for 25 to 30 minutes, until the duck is done (tender when pricked with a fork).
     </li>
     <li>
      Garnishing and presentation. Remove the duck halves to a warm serving platter or individual plates. Tip the sauce to one end of the pan and spoon off the fat that has accumulated on top. Ladle the sauce over the ducks, garnish with the onion rings and crumbled pumpkinseeds and serve immediately.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>