<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   enchiladas and their relatives
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     enchiladas and their relatives
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      y workers migrated from their West-Central homeland to Los Angeles and to Chicago, where I live, carrying with them a feel for enchiladas of chile-dipped tortillas—quick-fried so the sauce penetrates and adheres, then topped with a little fried potatoes and carrots and sprinkled with cheese. They’re light fare, to be eaten gingerly with fingertips; and they’re the only enchiladas that show up on the streets.
     </li>
     <li>
      Mexico, you’ll find enchiladas mostly in coffee shops, though, since many varieties have substantial fillings and are more involved than much of the street food. Still, they’ve never graduated to a spot in the afternoon comida: It seems any dish that involves tortillas or the like will always carry the stigma of inconsequentiality, of being an antojito. And that’s too bad, since enchiladas make beautiful main courses, featuring a wide variety of traditional fillings and sauces.
     </li>
     <li>
      s is a collection of four distinctive regional recipes, which I’ve taken the liberty to group together because all involve dipping tortillas in sauce (though the sauce may not contain much chile or the final dish be called an enchilada). There are the legitimate enchiladas like those in tomatillo-chile sauce, mole or the West-Central or Northern red-chile sauces; but the same idea is used for Oaxacan enfrijoladas dipped in a savory bean sauce, the tomato-sauced entomatadas, the stack of tortillas, black beans and fish they call pan de cazón, or even the Yucatecan papadzules with their egg stuffing and pepita sauce. Many areas have variations on this traditional theme.
     </li>
     <li>
      re are three approaches to making enchiladas, and I’ve included a recipe using each one. When the sauce is an uncooked puree of soaked red chiles, the tortillas are dipped before they’re fried. For a fully cooked sauce of tomatillos, tomatoes or mole, the tortillas are quick-fried before dipping (to make them more pliable as well as resistant to quick softening in the sauce). And some cooks with really fresh tortillas and a fully cooked sauce will omit the tortilla frying altogether, simply saucing the fresh tortillas and serving them quickly (before they soften too much). The flavor and texture changes with each approach, so make them all, then begin to work out your own variations on your favorites.
     </li>
     <li>
      ck-Frying Tortillas for Enchiladas of the Fried-Then-Sauced Category: The tortillas should be dried until they feel somewhat leathery or they will absorb a lot of oil. Fry them quickly and drain them well: The goal is to “soften” the tortillas, making them pliable enough to roll without cracking; they should not crisp in the least.
     </li>
     <li>
      ing Enchiladas: Except for the newly popular enchiladas suizas, enchiladas in Mexico are not generally baked: They are put together with warm ingredients just before serving, though they never arrive at the table as piping hot as most North Americans would like. So I recommend baking the enchiladas for a few minutes after they’re sauced. But don’t leave them too long in the oven or they’ll come out mushy, and keep the sauce on the thin side, since it will thicken a little during baking.
     </li>
     <li>
      Spanish, to enchilar something is, in some way or another, to get chile all over it; a tortilla enchilada (or just plain enchilada for short) is one of the common corn cakes that is dipped in a chile-spiked sauce, rolled or folded, filled or not; and it can have as many possible flavors as there are Mexican sauces.
     </li>
     <li>
      the purpose of this book, I have developed my own functional definition, though: Any of the sauced tortilla dishes get lumped together under the heading enchilada. It is my valiant attempt to bring order to linguistic chaos. Where shape is definitive in Mexico, anything rolled in a tortilla is a taco, sauced or not; a simple tortilla dipped in sauce might be called an enchilada in those places—but it would only be folded or quartered, not rolled or stuffed. Some places they differentiate the dipping sauce in the name: enfrijolada for a sauce of frijoles (“beans”), enmoladas for a sauce made of mole, and so on. And to complicate things further, sometimes you’ll run into the sauced tortilla folded over a filling and called an envuelto. Most cookbooks from Mexico seem to welcome all this complication and contradiction and will list virtually the same recipe various times under the different regional names, often with only the shape modified.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>