<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   fish broth
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     fish broth
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    One of the most important ingredients in a really good fish soup or sauce is a well-made fish broth. This version that I’ve developed is rich without being strong or fishy, it has additions that enhance the piscine flavor, and it has a nice, reddish-brown hue. In Mexico, the heads and bones are always sold beside the fillets and such; in the United States, you need to call ahead to the fish markets to have them reserved.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 2 quarts
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      2 pounds fish heads (gills removed) and bones
     </li>
     <li>
      1 rib celery, roughly chopped
     </li>
     <li>
      1 small onion, sliced
     </li>
     <li>
      1 medium-large carrot, roughly chopped
     </li>
     <li>
      2 large cloves garlic, peeled and halved
     </li>
     <li>
      2 tablespoons vegetable oil
     </li>
     <li>
      1 small dried chile ancho, stemmed and seeded (optional)
     </li>
     <li>
      1 ripe, medium-large tomato (or 1 ½, if you’re not using the chile ancho), sliced OR 2/3 15-ounce can tomatoes (or an entire 15-ounce can, if you’re not using the chile ancho), drained and roughly chopped
     </li>
     <li>
      2 bay leaves
     </li>
     <li>
      1½ teaspoons mixed dried herbs (such as thyme and marjoram)
     </li>
     <li>
      4 sprigs fresh coriander (cilantro)
     </li>
     <li>
      ½ teaspoon black peppercorns, very coarsely ground
     </li>
     <li>
      ¼ teaspoon aniseed
     </li>
     <li>
      4 strips of orange zest (orange rind only, no white), each about ½ inch wide and 2 inches long
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preliminaries. Rinse the heads and bones, then place in a large saucepan along with the celery, onion, carrot, garlic and vegetable oil. Stir to coat the fish and vegetables lightly with oil, place over medium heat, cover and cook, stirring occasionally, for 8 minutes.
     </li>
     <li>
      Simmering, straining and degreasing. Uncover and add the chile ancho, tomato, bay leaves, herbs, spices and orange zest. Pour in 10 cups water, partially cover and simmer gently over medium to medium-low heat for 20 minutes.
     </li>
     <li>
      ain through a fine-mesh sieve and discard the solids. Skim off the fat that rises and it is ready to use.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>