<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   fish fillets with fresh tomatoes, capers and olives
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     fish fillets with fresh tomatoes, capers and olives
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: 4 servings
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For the sauce:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      3 tablespoons vegetable oil, preferably part olive oil
     </li>
     <li>
      1 medium onion, thinly sliced
     </li>
     <li>
      2 pounds (4 medium-large) ripe tomatoes, roasted or boiled, peeled and cored OR three 15-ounce cans good-quality tomatoes, lightly drained
     </li>
     <li>
      2 cloves garlic, peeled and minced
     </li>
     <li>
      20 meaty green olives (preferably manzanillo), pitted and roughly chopped
     </li>
     <li>
      2 tablespoons large Spanish capers
     </li>
     <li>
      2 medium pickled chiles jalapeños, store-bought or homemade, stemmed, seeded and sliced into strips
     </li>
     <li>
      1 tablespoon pickling juices from the chiles
     </li>
     <li>
      1½ teaspoons mixed dried herbs (such as marjoram and thyme)
     </li>
     <li>
      2 tablespoons finely chopped flat-leaf parsley, plus a few sprigs for garnish
     </li>
     <li>
      3 bay leaves
     </li>
     <li>
      1 inch cinnamon stick
     </li>
     <li>
      2 cloves
     </li>
     <li>
      ¼ teaspoon black peppercorns, very coarsely ground
     </li>
     <li>
      1 cup light-flavored fish broth, bottled clam juice or water
     </li>
     <li>
      Salt, if necessary
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The fish. Rinse the fillets, lay them in a noncorrosive dish and sprinkle them with lime juice and salt. Cover and refrigerate about 1 hour.
     </li>
     <li>
      The sauce. In a large skillet, heat the oil over medium, add the onion and cook, stirring frequently, until golden, 7 or 8 minutes.
     </li>
     <li>
      le the onion is cooking, cut the peeled fresh tomatoes in half crosswise and squeeze out the seeds into a strainer set over a small bowl. Cut the tomatoes into 1-inch pieces and place in a mixing bowl. Collect all the juices on the cutting board and add to the tomatoes, along with those strained from the seeds. Canned tomatoes need only be lightly drained, then cut into 1-inch pieces, collecting the juices as you go.
     </li>
     <li>
      the garlic to the lightly browned onion and stir for a minute or so, then add the tomatoes and their juice. Simmer for 5 minutes to reduce some of the liquid.
     </li>
     <li>
      ide the olives and capers between two small bowls, and set one aside to use as garnish. To the other bowl, add the jalapeño strips, pickling juice, mixed herbs and chopped parsley. If you don’t wish to have the whole bay leaves, cinnamon, cloves or cracked pepper in the finished sauce, wrap them in cheesecloth and tie with a string; otherwise, add them directly to the bowl containing the herbs.
     </li>
     <li>
      n the tomatoes are ready, add the mixture of pickled things, herbs and spices, along with the fish broth (or clam juice or water). Cover and simmer 10 minutes, then taste for salt (and remove the cheesecloth-wrapped spices).
     </li>
     <li>
      Finishing the dish. Fifteen minutes before serving, remove the fillets from the refrigerator and rinse them again. Either poach them in the sauce on top of the stove or bake in the sauce, as follows:
     </li>
     <li>
      stove-top method: Nestle the fish fillets in the sauce so they are well covered. Set the lid on the pan and place over a medium heat. After 4 minutes, turn the fillets over, re-cover and cook 2 or 3 minutes longer, until a fillet will flake under firm pressure.
     </li>
     <li>
      baking method: Preheat the oven to 350°. Place the fillets in a single layer in a lightly greased baking dish. Spoon the sauce over them, cover with aluminum foil and bake for 8 to 10 minutes, until the fish just flakes when pressed firmly with a fork at the thickest part.
     </li>
     <li>
      ve the poached or baked fillets on warm dinner plates with lots of the sauce, garnished with a sprinkling of the reserved capers and olives and a sprig of parsley.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>