<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   fresh corn chowder with roasted peppers
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     fresh corn chowder with roasted peppers
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    With its smooth, rich texture punctuated with bits of green chile and sharp fresh cheese, this was the most popular soup I served while I was chef of Lopez y Gonzalez restaurant in Cleveland. Its richness goes well before Charcoal-Grilled Chicken, with fresh fruit ice or Pecan Pie with Raw Sugar for dessert.A rather plain-tasting bowl of this chowder is ubiquitous in Mexican cafeterías, largely because Campbell’s can be purchased everywhere. A homemade version, however, seems to be listed most frequently on comida corrida menus in Central and West-Central Mexico.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1 quart, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      3 large ears fresh sweet corn OR 2½ to 3 cups frozen corn, defrosted
     </li>
     <li>
      4 tablespoons unsalted butter
     </li>
     <li>
      ½ medium onion, finely chopped
     </li>
     <li>
      2 cloves garlic, peeled and minced
     </li>
     <li>
      1½ tablespoons cornstarch
     </li>
     <li>
      2 cups milk, plus a little more if necessary
     </li>
     <li>
      2 fresh chiles poblanos, roasted and peeled, seeded and finely diced
     </li>
     <li>
      1 cup Thick Cream or whipping cream
     </li>
     <li>
      Salt, about 1 teaspoon
     </li>
     <li>
      ½ cup (2 ounces) crumbled Mexican queso fresco or other fresh cheese like feta or farmer’s cheese
     </li>
     <li>
      2 tablespoons chopped flat-leaf parsley, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preparing the corn. For fresh corn, husk and remove all of the corn silk, then cut the kernels from each cob with a sharp knife; transfer to a blender or food processor. Scrape all the remaining bits of corn from the cobs, using the end of a spoon and add to the rest. There should be between 2½ and 3 cups of corn. Simply place defrosted frozen corn in the blender or processor.
     </li>
     <li>
      The corn puree. Heat half of the butter in a small skillet over medium. Add the onion and fry until soft, 6 or 7 minutes, then stir in the garlic and cook a minute longer. Scrape the mixture into the corn in the blender or processor, along with the cornstarch and ¼ cup water. Process until smooth. (With a blender, you’ll have to pulse the machine and stir the contents several times—but do not add more liquid; there is enough moisture in the corn once the blades can get at it.)
     </li>
     <li>
      t the remaining 2 tablespoons of butter in a medium-large saucepan set over medium heat. Add the corn puree and stir constantly for several minutes, until quite thick.
     </li>
     <li>
      Finishing the soup. Whisk in the milk, partially cover and simmer 15 minutes over medium-low heat, stirring often.
     </li>
     <li>
      n the soup is ready, strain it through a medium-mesh sieve. Rinse out the pan, return the strained soup to it and stir in the diced chile poblano and cream. Season with salt and simmer over medium-low heat for 10 minutes longer, stirring frequently.
     </li>
     <li>
      n you are ready to serve, thin the soup with additional milk if it is thicker than heavy cream, then ladle into small, warm soup bowls. Garnish with the fresh cheese and chopped parsley, and serve at once.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>