<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   fresh prickly-pear ice
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     fresh prickly-pear ice
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    I’ve written the main fruit-ice recipe using prickly pears simply because preparing the fruit requires a little more explanation. Ices made of more common fruit follow the same general procedure, as detailed in the variations. Prickly pear ice is delicious with the nontraditional addition of 1½ tablespoons Cointreau.5 to 6 cups, 6 to 8 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      3½ pounds (about 18 medium) fresh prickly pears (tunas)
     </li>
     <li>
      1 cup sugar, plus a little more if necessary
     </li>
     <li>
      About 3 tablespoons freshly squeezed lime juice
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preparing the prickly pears. Cut a ½-inch slice off both ends of the prickly pears, then make a ½-inch-deep incision down one side, end to end. Carefully (remember, there are little stickers) peel off the rind, starting from your incision: The rind is thick and, if ripe, will easily peel away from the central core of fruit. Roughly chop the peeled prickly pears.
     </li>
     <li>
      The ice base. Place the fruit in a blender or food processor, add 1 cup water, the sugar and lime juice, and blend for several minutes, until the sugar is dissolved. Strain through a medium-mesh sieve; taste for sweetness and tartness, adding more sugar or lime juice as necessary. If time permits, chill thoroughly.
     </li>
     <li>
      Freezing the ice. Pour the mixture into the canister of your ice cream freezer and freeze according to the manufacturer’s directions. When the ice comes from the machine, it may be rather soft; for a firmer texture, let it “ripen” in your freezer for a couple of hours before serving.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>