<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   fruit and milk smoothy
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     fruit and milk smoothy
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Mariano Dueñas’ small pamphlet on the modern variety of Mexican refreshment praises the “delicious and nutritive licuado” as the salvation of Mexican health. Apparently he’s not alone, for the entire country has enthusiastically adopted the blender-made concoctions and all the burnished-Formica juice bars that serve them. Life is the better for it, I think, because licuados offer an alternative to overripe fruit in the trash can and too much candy at the snack bar. Made from milk, they are filling (a complete breakfast, says Sr. Dueñas) and much less like soft drinks than the related aguas frescas and licuados de agua that are made with water.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    11/3 to 1½ cups, 1 large serving
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 cup cold milk
     </li>
     <li>
      1 to 1½ tablespoons sugar, plus more if necessary
     </li>
     <li>
      3 to 5 ounces (½ to ¾ cup) fruit (banana, cantaloupe, mango, persimmon, papaya, strawberry, watermelon or guava), peeled, hulled, seeded and/or cored, as necessary, and cut into small cubes
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Blending. Combine all the ingredients in a blender jar and blend until very smooth.
     </li>
     <li>
      Straining. If there are seeds, skins or stringy fibers, strain through a medium-mesh sieve, taste for sweetness and serve in tall glasses.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>