<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   garbanzo-vegetable soup with smoky broth and fresh avocado
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     garbanzo-vegetable soup with smoky broth and fresh avocado
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    First, there is smoke and the prickle of picante; then meaty, mealy garbanzos and earthy root vegetables; finally, calming broth and the soothing bits of oily avocado. It’s a soup with the savoriness of the vegetable-studded broth that collects below pit-roasted barbacoa—the broth that was likely the inspiration for caldo tlalpeño.This recipe, based on the version served at the Bola Roja restaurant in Puebla, makes a good first course before Beef Tips a la Mexicana or Fish with Toasted Garlic. Or serve large bowls for a main course, with Deep-Fried Masa Turnovers (quesadillas).
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 2½ quarts, 6 generous servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      2 quarts good chicken broth
     </li>
     <li>
      1 large (1¼-pound), whole chicken breast
     </li>
     <li>
      1 teaspoon mixed dried herbs (such as marjoram and thyme)
     </li>
     <li>
      1 tablespoon lard or vegetable oil
     </li>
     <li>
      1 medium onion, diced
     </li>
     <li>
      1 large carrot, peeled and diced
     </li>
     <li>
      1 large clove garlic, peeled and minced
     </li>
     <li>
      One 15-ounce can garbanzos (chickpeas), drained and rinsed
     </li>
     <li>
      1 sprig epazote (see Ingredients in Cook’s Notes)
     </li>
     <li>
      Salt, the quantity will vary depending on the saltiness of the broth
     </li>
     <li>
      Canned chiles chipotles to taste (roughly 1 to 2 chiles), seeded and thinly sliced
     </li>
     <li>
      1 ripe, medium avocado, peeled, pitted and diced
     </li>
     <li>
      1 large lime, cut into 6 wedges
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The broth. Place the broth and chicken in a 4-quart saucepan and bring to a simmer over medium heat. Skim off any grayish foam that rises during the first few minutes of simmering, add the herbs, cover and simmer 13 minutes.
     </li>
     <li>
      ove the chicken breast, skin and bone it, then tear the meat into thick shreds and set aside. Strain the broth and skim off all the fat that rises to the top.
     </li>
     <li>
      Finishing the soup. Wash the pan, set it over medium heat, and add the lard or oil, onion and carrots. Cook, stirring occasionally, until the onions begin to brown, about 7 minutes. Add the garlic and cook 1 minute longer. Stir in the broth, garbanzos and epazote, partially cover and simmer for 30 minutes. Season with salt.
     </li>
     <li>
      Garnishing the soup. Just before serving, add the chile and shredded chicken to the simmering soup. Let them heat through, then ladle the soup into bowls, top with diced avocado, and serve accompanied by wedges of lime.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>