<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   goat-milk caramel with spirits
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     goat-milk caramel with spirits
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    One Mexico City restaurant makes a rich, warm pudding of caramely cajeta and serves it in a bowl; the more typical variety (like this recipe adapted from Cajeta Vencedora) is a little too sweet to put out like that. Many Mexicans I know eat it spread on waferlike María cookies, and the chain ice cream places swirl it into the frozen confections. (I even enjoy it warm over ice cream, like hot fudge.) But the dressiest way to serve cajeta is with crepes, as they do in many of the fancier traditional restaurants: The buttery crepes and toasted nuts are a perfect foil for the wonderful caramel. The crepe recipe that follows the one for cajeta is based on the version served at the comfortably elegant San Ángel Inn in Mexico City.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1½ cups
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 quart goat milk
     </li>
     <li>
      1 cup sugar
     </li>
     <li>
      1 tablespoon corn syrup
     </li>
     <li>
      ½ inch cinnamon stick
     </li>
     <li>
      ¼ teaspoon baking soda
     </li>
     <li>
      1 tablespoon grain alcohol OR 1 tablespoon sweet sherry, rum or brandy
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The initial mixture. In a large (at least 4-quart), heavy-bottomed saucepan or kettle, combine the milk, sugar, corn syrup and cinnamon, and bring to a simmer, stirring. Dissolve the baking soda in 1 tablespoon water, remove the pan from the heat, then stir in the soda mixture; it will bubble up, so have a spoon ready to stir it down.
     </li>
     <li>
      Boiling the caramel. Return the pan to the fire and adjust the heat so the liquid simmers at a steady roll. Stir regularly as the mixture reduces. When the bubbles start changing from small, quick-bursting ones to larger, glassier ones—in 25 to 40 minutes—reduce the heat to medium-low. Stir frequently and thoroughly, washing the spoon each time, until it thickens into a caramel-brown syrup that’s a little thinner than corn syrup.
     </li>
     <li>
      Finishing the cajeta. Strain the cajeta through a fine-mesh sieve into a small bowl or wide-mouthed jar. Let cool a few minutes, then stir in the alcohol. Cool completely before covering.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>