<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   half-fried tortillas with black beans, chicken and pickled onions
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     half-fried tortillas with black beans, chicken and pickled onions
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    The appeal of these special little tostadas is the way they crisp underneath while the thin top layer of the tortilla melds with the beans; strew that with a little chicken in escabeche and the result is remarkably delicious. Everyone, from market vendors to the best regional restaurateurs, serves them in Mérida, Yucatán, and they are popular up the Gulf Coast through Veracruz.This recipe is based on the version served at Los Almendros restaurant in Mérida, where the panuchos occasionally come with a welcomed sprinkling of lettuce over the top. For a special Yucatecan meal, serve them before Pork Pibil and Creamy Fresh-Coconut Dessert. Or use them as a main course with a fruit salad and Mexican Rice Pudding.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    12 panuchos, serving 4 as a light meal, 6 as a hearty appetizer
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      12 puffed corn tortillas (see Ingredients in Cook’s Notes)
     </li>
     <li>
      About 2 cups (½ recipe) Shredded Chicken in Escabeche OR 11/3 cups salted Shredded Chicken, plus about 2/3 cup (½ recipe) Pickled Red Onions
     </li>
     <li>
      About ¾ cup (1/3 recipe) smooth Frijoles Refritos made with black beans
     </li>
     <li>
      2/3 cup vegetable oil
     </li>
     <li>
      1½ cups loosely packed, sliced leaf lettuce
     </li>
     <li>
      6 pickled chiles jalapeños, either store-bought or homemade, stemmed, seeded, deveined and sliced into thin strips (optional)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Opening a pocket in the tortillas. Lay out the tortillas in a single layer, turning them every few minutes, until they have lost any moistness and feel leathery. Do not let them dry until they curl or begin to harden.
     </li>
     <li>
      a tortilla face-side up on the counter (face-side is the one with the thin, puffed cap and small, dark splotches). Using a thin knife, near the edge make an incision into the pocket between the two layers. Following the line that marks the separation of the layers (most tortillas won’t have puffed all the way to the edge), cut about 1/3 of the way around the perimeter.
     </li>
     <li>
      t, open the two layers of the tortilla into as full a pocket as possible by sliding a few fingers through the opening and very gently prying apart the two sides. (Should the tortilla rip, stop at once and either discard the tortilla or, if the rip is small, use the tortilla with whatever size pocket it has.) Open pockets in the remaining tortillas.
     </li>
     <li>
      Stuffing the tortilla and other preliminaries. About 45 minutes before serving, drain the juice from the chicken in escabeche and set it out at room temperature; or, if using shredded chicken, set it out with the pickled onions.
     </li>
     <li>
      on 1 tablespoon of the beans into the pocket of each tortilla, then press gently on the tops to spread out the beans. Stack the stuffed tortillas and cover with plastic wrap.
     </li>
     <li>
      Frying and topping the panuchos. Heat the vegetable oil in a large skillet over medium-high. When it is hot enough to make the edge of a tortilla sizzle sharply, begin frying the panuchos 2 or 3 at a time, face-side up, until crisp underneath, about 3 minutes. Drain them for a minute upside down on paper towels, then flip them over so they’re face-side up; keep warm in a low oven until all are fried.
     </li>
     <li>
      the panuchos on a warm serving platter. Divide the sliced lettuce over them, top with chicken in escabeche, or shredded chicken and onions in escabeche, then strew with the optional pickled jalapeño. Serve immediately.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>