<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   herb-green rice with peas
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     herb-green rice with peas
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    A number of years ago, when I was cooking with Don Ricardo and María Merrill in their cooking school in León, Guanajuato, Mrs. Merrill laid out the rice rules: White rice is for christenings and weddings, red rice gets made every day and green rice is holiday rice—traditions I’ve heard given voice numerous times since. (The one exception I’m aware of is that white rice is served at most meals on the Gulf.)Though all the cooks say they know about making green rice, it’s only rarely offered in Mexican eating places. This recipe is based on Mrs. Merrill’s version, and its herby, green-chile flavor is especially delicious alongside Fish with Toasted Garlic or Charcoal-Grilled Chicken.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 4 cups, 4 to 6 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ½ medium onion, roughly chopped
     </li>
     <li>
      1 rib celery, roughly chopped
     </li>
     <li>
      6 sprigs fresh coriander (cilantro), plus a few sprigs for garnish
     </li>
     <li>
      6 sprigs flat-leaf parsley, plus a few sprigs for garnish
     </li>
     <li>
      2 fresh chiles poblanos, roasted and peeled, seeded and roughly chopped
     </li>
     <li>
      1 large clove garlic, peeled and sliced
     </li>
     <li>
      2/3 cup broth (preferably poultry) or water
     </li>
     <li>
      Salt, about ½ teaspoon if using salted broth, 1 teaspoon if using unsalted broth or water
     </li>
     <li>
      1 cup fresh or (defrosted) frozen peas
     </li>
     <li>
      1½ tablespoons vegetable oil
     </li>
     <li>
      1 cup long- or medium-grain rice
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preparing the green-herb mixture and peas. Place the onion, celery, fresh coriander, parsley, chiles poblanos and garlic in a small saucepan, add 1¼ cups water, cover and bring to a simmer over medium heat. Cook until the celery and onion are tender. about 10 minutes, then remove from the heat and let cool a few minutes until lukewarm, covered. Puree the mixture (including liquid) in a blender or food processor, return to the pan and add the broth or water and the salt.
     </li>
     <li>
      mer the fresh peas, if using them, in salted water to cover until tender, 4 to 20 minutes, depending on their maturity and freshness. Drain thoroughly and set aside; frozen peas only need to be defrosted.
     </li>
     <li>
      Frying the rice. About 40 minutes before serving, combine the vegetable oil and rice in a 1½- to 2-quart saucepan over medium heat. Stir frequently until the rice turns opaque but not brown, about 7 minutes. Meanwhile, heat the broth mixture to a simmer.
     </li>
     <li>
      Simmering, steaming and finishing the rice. Add the hot liquid to the rice, stir, scrape down the sides of the pan, cover and simmer 15 minutes over medium-low heat. Let the covered pan stand 5 to 10 minutes off the fire until the grains are tender (but not splayed). Add the peas to the pan and fluff the rice with a fork, mixing thoroughly. Scoop into a warm serving bowl, garnish with the fresh coriander and/or parsley and serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>