<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   jamaica “flower” cooler
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     jamaica “flower” cooler
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    I serve jamaica as a nonalcoholic drink before a big dinner, poured over ice in tall glasses or wine goblets. Though it goes nicely with Mexican snacks and appetizers, the flavor doesn’t seem to do a lot for the nicer main dishes; mixed with red wine, however, it makes an interesting sangria. Whenever you serve it, jamaica’s color adds festivity.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 5 cups, 5 or 6 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      2 cups (2 ounces) jamaica “flowers”
     </li>
     <li>
      ¾ cup sugar, plus a little more if necessary
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Boiling and steeping. Bring 6 cups water to a boil, add the “flowers” and sugar, and stir while the mixture boils for a minute. Pour into a noncorrosive bowl (preferably one that won’t stain) and steep 2 hours.
     </li>
     <li>
      Finishing the drink. Strain through a sieve, pressing on the “flowers” to extract as much liquid as possible. Taste for strength and sweetness: If it is too pungent, add water; if too tart, add sugar. Cover and refrigerate, stored in a noncorrosive container, until time to serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>