<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   layered tortilla casserole
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     layered tortilla casserole
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      LD: about 6 servings
     </li>
     <li>
      s delicious lasagnalike variation on chilaquiles is often called budin cuauhtémoc or budín azteca. Quick-fry 12 corn tortillas in a little vegetable oil, 2 or 3 seconds per side, then drain well. Prepare 2 cups Quick-Cooked Tomatillo Sauce, 3 large chiles poblanos (roasted, peeled, seeded and sliced), 1¼ cups Thick Cream or thinned commercial sour cream, and 1½ cups (6 ounces) grated melting cheese like mild cheddar or Monterey Jack. Line the bottom of a 9-inch-square baking dish with 3 tortillas (slightly overlapping). Top with ¼ of the sauce, cream and cheese, and ½ of the chiles; repeat with three more layers (the top will have no chiles). Cover and bake at 350° for about 30 minutes. Strew with onion rings and radish rounds, then serve. About 1½ cups shredded cooked chicken, pork or fish can be layered with the chiles.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>