<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   lime-marinated mackerel with tomato and green chile
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     lime-marinated mackerel with tomato and green chile
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    To my tongue, there is nothing more refreshing than the clean, fresh taste of seviche, whether it is made in the saucy, tomatoey Acapulco/west-coast style or with the chunky simplicity of the east-coast versions. Because it is light and mild, seviche is a good way to ease into the rich or spicy Mexican sauces. It’s good as picnic fare too (kept in a cold thermos), or served in the backyard before a cookout.My recipe for the classic mackerel seviche in fresh-tasting tomato “sauce” is based on one published in Mexico’s Gastrotur magazine. The less saucy versions are in the notes; they’re a little dressier since they can be served on a lettuce-lined plate, but they’re also good served simply on tostadas for a stand-up hors d’oeuvre.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 4 cups, 6 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 pound very fresh, boneless, skinless sierra or other fish fillets (see Ingredients in Cook’s Notes)
     </li>
     <li>
      1 cup freshly squeezed (not bottled) lime juice (roughly 6 to 8 limes)
     </li>
     <li>
      ½ medium onion, finely diced
     </li>
     <li>
      1 ripe, medium-small tomato, cored and chopped into ¼-inch dice
     </li>
     <li>
      16 to 20 meaty, flavorful green olives (preferably medium manzanillos), pitted and roughly chopped
     </li>
     <li>
      Fresh hot green chiles to taste (roughly 2 chiles serranos or 1 chile jalapeño), stemmed, seeded and finely chopped
     </li>
     <li>
      1 to 2 tablespoons finely chopped fresh coriander (cilantro) or parsley
     </li>
     <li>
      1 cup good-quality tomato juice
     </li>
     <li>
      3 tablespoons vegetable oil, preferably part olive oil
     </li>
     <li>
      1 teaspoon dried oregano
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
     <li>
      Sugar, about 1 teaspoon (optional)
     </li>
     <li>
      Sprigs of fresh coriander (cilantro) or parsley, or some diced avocado, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Marinating the fish. Run your finger down the groove in the center of each fillet, feeling for the stubby ends of tiny rib bones. To remove them, run a sharp knife along the groove just to one side of the bones, cutting the fillets in half lengthwise. Then, from the halves containing the stubby ends, cut off the thin strips of flesh in which the bones are embedded and discard them. Cut the fillets into 3/8-inch cubes and place in a noncorrosive bowl.
     </li>
     <li>
      r the lime juice over the fish, mix thoroughly, cover with a sheet of plastic wrap pressed directly on the surface of the fish, and refrigerate 4 hours, or overnight, to “cook” the fish. To ascertain if the fish is ready, break apart a cube of fish: If it is still raw-looking inside, it needs to marinate longer.
     </li>
     <li>
      Finishing the seviche. Shortly before you are planning to serve, drain the fish thoroughly. Mix in the chopped onion, tomato, olives, green chile, fresh coriander or parsley, tomato juice, oil and oregano. Season with salt and the optional sugar, cover and refrigerate until serving time.
     </li>
     <li>
      n you are ready to serve, spoon a portion of the seviche into each of 6 small bowls. Garnish with sprigs of fresh coriander, sprigs of parsley or diced avocado.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>