<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   lime-zest cooler
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     lime-zest cooler
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    I never met Oaxaca’s famous Casilda, but I spent many afternoons at her renowned drink stand, in front of the glass pitchers of bright-colored fruit drinks and the earthenware pots. It’s there I learned about agua de limón rallado, the fragrant green drink made of the colored skin of underripe limes. Casilda’s niece runs the stand now, with a conscientious pride and generous grace. And she freely shared many of the details of her trade, even to bringing me a sack of underripe limes and the rough clay mortar (chirmolera) to demonstrate the preparation of this Oaxacan specialty. It is such a distinctive, delicious liquid that I’ve used it in my Margarita and I freeze it into an ice as they do in Oaxaca.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    1 quart, 4 to 5 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      8 large dark-green limes
     </li>
     <li>
      ¾ to 1 cup sugar (or even a little more, if desired)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Steeping the lime zest. Using a very fine, rasplike grater—not a citrus zester—remove the limes’ green zest (no white). Add 1 quart water, using a little of it to rinse into the bowl any zest that has clung to the grater. Let stand 1 hour. (Wrap and refrigerate the fruit for another use.)
     </li>
     <li>
      Finishing the drink. Strain the zest mixture through a fine-mesh sieve, pressing firmly on the solids to extract as much liquid as possible. Add enough sugar to sweeten the drink to your taste, stirring until dissolved. Cover and refrigerate until serving time. Serve over ice.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>