<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   mexican rice pudding
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     mexican rice pudding
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    This dessert is softer and more cinnamony than our baked rice pudding. The flavors are simple and close to home, but it’s easy to develop a thoroughgoing love for it, spoonful after spoonful…. Mexican people everywhere serve it as regularly as they do flan; it’s creamy and, in its own way, light and soothing.This is an especially pretty and tasty recipe, based on one from Zelayarán’s Las 500 mejores recetas de la cocina mexicana. It would be welcome after a hearty soup like Menudo or Shrimp-Ball Soup; it travels well to pot-lucks. Leftovers, thinned with milk and warmed, are very good for breakfast.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    8 to 10 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      2 inches cinnamon stick
     </li>
     <li>
      A 2-inch strip of lime zest (colored rind only), ¾ inch wide
     </li>
     <li>
      1 cup rice
     </li>
     <li>
      1 quart milk
     </li>
     <li>
      ¾ cup sugar
     </li>
     <li>
      ¼ teaspoon salt
     </li>
     <li>
      4 large egg yolks
     </li>
     <li>
      ½ teaspoon vanilla extract
     </li>
     <li>
      ¼ cup raisins
     </li>
     <li>
      1 tablespoon unsalted butter, cut into bits Ground cinnamon, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The rice. Bring 2 cups water to a boil in a medium-size saucepan, add the cinnamon stick and lime zest, then cover and simmer over medium heat for 5 minutes. Pour in the rice, let the mixture return to a boil, stir once, then cover and cook over medium-low heat for 20 minutes, until all the liquid is absorbed and the rice is tender.
     </li>
     <li>
      The pudding. Stir in the milk, sugar and salt, and simmer over medium to medium-low heat, stirring frequently, until the liquid shows the first signs of thickening, 20 to 25 minutes. Take from the heat and remove the cinnamon stick and zest. Beat the egg yolks until runny, stir in the vanilla and a few tablespoons of the hot rice, then stir the yolk concoction back into the rice mixture. Mix in half the raisins, then spoon the rice pudding into a decorative 8-inch-square baking dish.
     </li>
     <li>
      Browning and finishing the pudding. Preheat the broiler and dot the rice pudding with butter. Set the dish under the heat long enough to brown the top, 3 or 4 minutes. Sprinkle with the remaining raisins and the ground cinnamon, and serve warm or at room temperature.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>