<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   mexican tomato- colored rice (with fresh vegetables)
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     mexican tomato- colored rice (with fresh vegetables)
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    The flavors here are of nutty browned rice, tomato and good broth—classic, familiar Mexican flavors. It’s not surprising, then, that this red rice is found in every settlement, nor that it finds regional transformations into main courses with meat and fish.This traditional recipe comes from Sra. Villalobos of Juchitán, Oaxaca—with a few modifications from open cazuelas and wood fires to closed pans and gas. It is a good accompaniment to most any main course or can be served comida corrida—style as a second course, after the soup and before the poultry, meat or what have you; it works fine on a buffet or, if your reflexes are so trained, can go on the plate with beans and enchiladas, a la norteamericana.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 3½ cups, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1½ tablespoons vegetable oil
     </li>
     <li>
      1 cup long- or medium-grain rice
     </li>
     <li>
      1 small onion, finely chopped
     </li>
     <li>
      1 large clove garlic, peeled and finely diced
     </li>
     <li>
      1 ripe, medium-small tomato, roasted or boiled, cored and peeled OR ½ 15-ounce can tomatoes, drained
     </li>
     <li>
      1½ cups broth (preferably poultry) or water
     </li>
     <li>
      Salt, about ½ teaspoon if using salted broth, 1 teaspoon if using unsalted broth or water
     </li>
     <li>
      1 cup fresh or (defrosted) frozen peas (optional)
     </li>
     <li>
      1 large carrot, peeled and chopped into ¼-inch dice (optional)
     </li>
     <li>
      Several sprigs of fresh coriander (cilantro) or flat-leaf parsley, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Frying the rice. About 40 minutes before serving, measure the oil into a 1½- to 2-quart saucepan set over medium heat. Add the rice and onion, and cook, stirring regularly, until both are lightly browned, 7 to 10 minutes. Mix in the garlic and cook a minute longer.
     </li>
     <li>
      The liquid ingredients. While the rice is frying, prepare the tomato: Seed it, if you like, by cutting it in half width-wise and squeezing out the seeds, then puree it in a blender or food processor. Pour the broth or water into a small pan, add the salt and bring just to a simmer.
     </li>
     <li>
      Simmering and steaming the rice. Add the pureed tomato to the browned rice and cook for a minute, stirring several times. Add the simmering broth, stir the rice, scrape down the sides of the pot, cover and reduce the heat to medium-low. Cook 15 minutes, then turn off the heat and let the rice stand 5 to 10 minutes, covered, until the grains are tender (but not splayed).
     </li>
     <li>
      The optional vegetables. While the rice is cooking, simmer the fresh peas until tender (4 to 20 minutes, depending on their size and freshness), then drain and set aside; frozen peas only need to be defrosted. Separately, simmer the carrot 5 to 8 minutes, drain and add to the fresh or defrosted peas.
     </li>
     <li>
      Finishing the rice. When the rice is tender, add the optional vegetables and fluff with a fork to separate the grains and stop the cooking. Scoop the rice into a warm serving dish, decorate it with fresh coriander or parsley, and it is ready to serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>