<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   minced pork with almonds, raisins and sweet spices
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     minced pork with almonds, raisins and sweet spices
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Though this filling is made of ground meat, it’s rich with tomatoes and sweet spices, and it’s textured with raisins and almonds. Oaxacan picadillo is a far cry from the soupy, undistinguished hamburger-and-potato picadillos commonly available throughout Mexico. It makes a delicious filling for Chiles Rellenos and Picadillo Turnovers as well as simple soft tacos. The name, by the way, comes from the verb picar, “to mince.”
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 31/3 cups, enough for 12 tacos, serving 4 as a light main course
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1½ pounds (3 medium-large) ripe tomatoes, roasted or boiled, cored, peeled and roughly chopped OR one 28-ounce can tomatoes, undrained
     </li>
     <li>
      1½ tablespoons vegetable oil
     </li>
     <li>
      1 medium onion, finely diced
     </li>
     <li>
      1 clove garlic, peeled and minced
     </li>
     <li>
      1½ pounds lean, coarse-ground pork (see Ingredients in Cook’s Notes)
     </li>
     <li>
      ½ teaspoon black peppercorns (or about ¾ teaspoon ground)
     </li>
     <li>
      1 inch cinnamon stick (or about 1 teaspoon ground)
     </li>
     <li>
      5 cloves (or about 1/8 teaspoon ground)
     </li>
     <li>
      ¼ cup raisins
     </li>
     <li>
      4 teaspoons cider vinegar
     </li>
     <li>
      ¼ cup slivered almonds
     </li>
     <li>
      Salt, about 1 teaspoon
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The tomatoes. For a picadillo using peeled fresh tomatoes, place them in a blender or food processor with 1/3 cup water, then process until smooth. Using canned tomatoes, simply puree them with their liquid.
     </li>
     <li>
      The meat. Heat the oil in a large skillet over medium. When hot, add the onion and cook until soft, about 5 minutes. Stir in the garlic and cook 2 minutes longer. Add the pork in a thin layer and fry, stirring frequently, until cooked and lightly brown. (If quite a bit of fat has rendered from the meat, drain it off.)
     </li>
     <li>
      Finishing the picadillo. Pulverize the pepper, cinnamon and cloves in a mortar or spice grinder, then add to the skillet along with the tomato puree, raisins and vinegar. Simmer until reduced to a thick, homogeneous mass, 30 to 45 minutes, depending on the juiciness of the tomatoes.
     </li>
     <li>
      st the almonds for about 10 minutes in a 325° oven, stir into the filling, season with salt, and it’s ready.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>