<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   mixed vegetable salad with lime dressing
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     mixed vegetable salad with lime dressing
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: about 6 cups, 6 servings
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For the garnish:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      6 leaves romaine or leaf lettuce
     </li>
     <li>
      1 small bunch of watercress, large stems removed (optional)
     </li>
     <li>
      1 hard-boiled egg, sliced 1/8 inch thick
     </li>
     <li>
      1 thick slice of red onion, broken into rings
     </li>
     <li>
      2 tablespoons crumbled Mexican queso fresco or other fresh cheese like feta or farmer’s cheese (optional)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The vegetables. In a large saucepan, set up a vegetable steamer over an inch of water and set over medium-high heat. When the water begins to boil, place the prepared carrots, potatoes and/or beets in separate shallow piles on the steamer rack. (If using beets, keep them away from the others, or you’ll have a lot of red vegetables.) Steam, tightly covered, until the vegetables are tender but still retain a little firmness, 8 to 12 minutes, depending on their cut and condition. If one vegetable is done before the others, remove it with a large spoon or tongs. Cool the vegetables in separate groupings on a large tray.
     </li>
     <li>
      t, steam the green beans and/or fresh peas, tightly covered: 5 to 8 minutes for beans, anywhere from 4 to 20 minutes for the peas (depending on their size and freshness). When the green vegetables are done, remove them and cool with the other vegetables. Frozen peas need only be defrosted and set aside.
     </li>
     <li>
      a large bowl, mix together the radishes, cucumbers and/or tomatoes with the well-drained, cooked vegetables.
     </li>
     <li>
      The dressing. A few minutes before serving, measure the lime juice, oil, salt, pepper and optional fresh coriander or parsley into a small bowl or a jar with tight-fitting lid; whisk or shake until thoroughly blended. Pour onto the vegetables and mix well.
     </li>
     <li>
      Garnish and presentation. Line a large serving platter with lettuce leaves. Once again, toss the vegetable mixture with the dressing, then scoop it onto the platter. Garnish the edges with the optional watercress. Top with slices of hard-boiled egg, rings of red onion, and a sprinkling of the optional fresh cheese.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>