<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   nontraditional salad dressings
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     nontraditional salad dressings
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: about 11/3 cups
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    This thick, creamy dressing is just right for raw or blanched vegetables or over firmer lettuces like romaine.
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ½ ripe avocado, peeled and pitted
     </li>
     <li>
      1½ tablespoons freshly squeezed lime juice
     </li>
     <li>
      1½ tablespoons cider vinegar
     </li>
     <li>
      2 tablespoons chopped fresh coriander (cilantro)
     </li>
     <li>
      1 clove garlic, peeled and roughly chopped
     </li>
     <li>
      2/3 cup vegetable oil
     </li>
     <li>
      1 large egg yolk
     </li>
     <li>
      The green top of 1 green onion, thinly sliced
     </li>
     <li>
      2 tablespoons cream
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      bine the avocado, lime juice, vinegar, coriander, garlic and oil in a blender or food processor, and process until smooth. Whisk the yolk in a medium-size bowl until broken up, then slowly whisk in the avocado mixture, about a tablespoon at a time, to achieve a light mayonnaise consistency. Add the green onion and cream, then season with salt. Cover and refrigerate; if it becomes too thick during storage, whisk in a little more cream.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>