<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   northern-style shredded beef with tomatoes
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     northern-style shredded beef with tomatoes
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Mexican cooks throughout the Republic boil and shred beef for snacks, though nowhere do they prepare it as frequently or as well seasoned as in Northern Mexico. Besides being rolled into soft tacos, meaty shreds of beef with tomatoes, chile and green onions are the unnamed filling for Crispy-Fried Tacos called flautas there, and for the flour tortilla—wrapped Chivichangas of the northwest. Served with flour tortillas, Frijoles Refritos and a salad, this shredded beef is a satisfying meal.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 2½ cups, enough for 10 tacos, serving 3 or 4 as a light main course
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 pound lean, boneless beef chuck, flank or brisket, well trimmed and cut into 1½-inch pieces
     </li>
     <li>
      1 teaspoon salt
     </li>
     <li>
      1 medium onion
     </li>
     <li>
      3 cloves garlic, peeled
     </li>
     <li>
      3 tablespoons lard or vegetable oil
     </li>
     <li>
      2 ripe, medium-small tomatoes, roasted or boiled, cored, peeled and chopped OR one 15-ounce can tomatoes, drained and chopped
     </li>
     <li>
      2 large green onions, root ends removed and chopped in ¼-inch pieces
     </li>
     <li>
      Fresh hot green chiles to taste (roughly 2 or 3 chiles serranos or 1 or 2 chiles jalapeños), stemmed, seeded and finely chopped
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The meat. Bring 2 quarts water to a boil in a large saucepan, add the meat and salt, then skim off any grayish foam that rises during the first few minutes of simmering. Slice half of the onion and halve I clove of the garlic; add to the meat. Partially cover and simmer over medium to medium-low heat until the meat is very tender, 45 minutes to 1½ hours, depending on the cut. Let the meat cool in the broth, if there is time. Strain the liquid and spoon off all the fat that rises to the top; set the broth aside. Finely shred the meat (see Techniques in Cook’s Notes), then dry with paper towels.
     </li>
     <li>
      Finishing the shredded beef. Dice the remaining onion and mince the remaining garlic. Heat the lard or oil in a large, heavy skillet over medium-high. When hot, add the onion and shredded beef and stir frequently for 8 to 10 minutes, until well browned. Reduce the heat to medium, add the garlic, tomatoes, green onions and chiles, and cook, stirring frequently, until the tomatoes have softened, about 4 minutes. Stir in 2/3 cup of the reserved broth, then simmer until the liquid has evaporated, 10 to 15 minutes. Season with salt and it’s ready.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>