<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   oysters poached with mild vinegar and aromatic spices, tabasco-style
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     oysters poached with mild vinegar and aromatic spices, tabasco-style
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    In Tabasco, the silky fresh-shucked oysters are frequently seasoned with a packet of coarse-ground escabeche spices (including the locally grown allspice) and poached in sweet banana vinegar. Even with the obvious hurdles, it’s an easy dish to do well in the United States.The following recipe is based on the version served at the Mariposa restaurant in Villahermosa (though I have reduced the vinegar a little—ours is stronger—and used fish broth rather than water; also, I sprinkle mine with fresh coriander (cilantro) to add a special lift). Served cool with crusty bread, it makes a nice first course, though in Tabasco I’ve only had it warm. You can dress up the dinner with a starter of Deep-Fried Masa Turnovers (Quesadillas, then end with rich Mexican Rice Pudding.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 5 cups, serving 4 as a light main dish, 4 to 6 as an appetizer
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1/3 teaspoon cumin seeds
     </li>
     <li>
      6 cloves
     </li>
     <li>
      ¼ teaspoon allspice berries
     </li>
     <li>
      ¼ teaspoon black peppercorns
     </li>
     <li>
      3 bay leaves
     </li>
     <li>
      1 scant teaspoon dried oregano
     </li>
     <li>
      ¾ inch cinnamon stick
     </li>
     <li>
      1/3 cup vegetable or olive oil (or a mixture of the two)
     </li>
     <li>
      1 large onion, thinly sliced
     </li>
     <li>
      3 small carrots, peeled and diced
     </li>
     <li>
      6 cloves garlic, peeled and minced
     </li>
     <li>
      6 long (4-inch) fresh chiles güeros or banana peppers, roasted and peeled, seeded and cut into ½-inch dice
     </li>
     <li>
      3 tablespoons cider vinegar, plus a little more if necessary
     </li>
     <li>
      1 generous cup mild fish broth, clam juice or water
     </li>
     <li>
      1½ pounds shucked oysters, undrained (about 36 medium-to-small with a generous cup liquid)
     </li>
     <li>
      Salt, about ¾ teaspoon (depending on the saltiness of the oysters)
     </li>
     <li>
      About 3 tablespoon chopped fresh coriander (cilantro), for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The spices and herbs. Measure the cumin, cloves, allspice and black pepper into a mortar or spice grinder and crush or process until cracked but not pulverized. Transfer to a small dish and measure in the bay leaves, oregano and cinnamon.
     </li>
     <li>
      The vegetables and flavorings. Heat the oil in a large (12-inch) skillet over medium, add the onions and carrots and stir occasionally until the onion is soft, about 5 minutes. Mix in the garlic and chile and cook 2 minutes longer. Add the vinegar, broth (or clam juice or water) and spices to the skillet, cover and simmer over medium-low heat for 10 minutes. If there’s time, let stand off the fire (in a noncorrosive container) for several hours; the flavors will greatly improve.
     </li>
     <li>
      Finishing the dish. Just before serving, add the oysters and their liquid to the vegetables, bring to a very gentle simmer over medium-low heat, and cook until the oysters are just firm, about 3 minutes. Remove from the heat, season with salt (and more vinegar, if necessary); take out the bay leaves and cinnamon, if you wish. Serve in deep plates, sprinkled with the fresh coriander.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>