<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   pan-fried chile-marinated pork
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     pan-fried chile-marinated pork
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    I know of this quintessentially Mexican-flavored filling not from the mobile street griddles, but from the more permanent busstation and market taquerías in Toluca, Oaxaca, San Luis Potosí and Chilpancingo, Guerrero, where chile-marinated pork is a specialty. It’s at its best laid across a fresh tortilla, sprinkled with Fresh Green Tomatillo Sauce and topped with Roasted Pepper Rajas.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 2 cups, enough for 12 tacos, serving 4 as a light main course
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      About 1 pound (1 recipe) Chile-Marinated Pork
     </li>
     <li>
      About 2 tablespoons vegetable oil
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Frying the meat. Cut the meat into lengths that will fit into your skillet, then smooth the adobo marinade into a light, even coating.
     </li>
     <li>
      ut 15 minutes before serving, set a large skillet over medium heat and measure in the oil (there should be enough to coat the bottom nicely). When it is hot, lay in as much meat as will comfortably fit in the pan, and fry until cooked through: Meat that is 1/8 inch thick will take about 2 minutes per side.
     </li>
     <li>
      ove the meat to a wire rack set over a large plate, and keep warm in a low oven. Continue frying batches of the meat, adding a little more oil to the skillet, if necessary. After the last batch has been fried, let the meat rest for a couple of minutes in a low oven.
     </li>
     <li>
      Serving. The moment you’re ready to serve, cut the meat across the grain into thin strips, place in a deep, warm bowl and carry to the table.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>