<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   pecan pie with raw sugar and spices
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     pecan pie with raw sugar and spices
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: one 9-inch pie, 6 to 8 servings
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For the filling:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      4½ ounces piloncillo, chopped OR 2/3 cup packed dark-brown sugar plus 1½ tablespoons molasses
     </li>
     <li>
      ½ cup clear corn syrup
     </li>
     <li>
      1 inch cinnamon stick
     </li>
     <li>
      4 cloves
     </li>
     <li>
      8 peppercorns, very coarsely ground
     </li>
     <li>
      6 tablespoons unsalted butter, diced
     </li>
     <li>
      3 tablespoons Thick Cream or commercial sour cream
     </li>
     <li>
      1½ cups (about 5¼ ounces) pecan halves or pieces
     </li>
     <li>
      1 large egg
     </li>
     <li>
      2 large egg yolks
     </li>
     <li>
      ¼ teaspoon salt
     </li>
     <li>
      ½ teaspoon vanilla extract
     </li>
     <li>
      1 tablespoon flour
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The dough. Measure the flour, lard and butter into a bowl. With a pastry blender, quickly work in the fat until the flour looks a little damp (rather than powdery) but small bits of fat are still visible.
     </li>
     <li>
      together 1 of the egg yolks, the ice water, salt and sugar; reserve the remaining egg yolk for Step 3. Little by little, work the ice-water mixture into the flour mixture with a fork. The dough will be in rough, rather stiff clumps; if there is unincorporated flour in the bottom of the bowl, use the fork to work a little more ice water into it. Press the clumps of dough together into a single mass, wrap in plastic and refrigerate at least 1 hour.
     </li>
     <li>
      a lightly floured surface, roll the dough into a 12-inch circle. Transfer to an 8-inch pie pan or 9-inch tart pan (¾ inch deep, with removable bottom), finish the edge (crimp for a pie pan, pinch up and press to secure on the vertical edge of the tart tin), then trim off the excess dough. Cover and refrigerate while you prepare the filling.
     </li>
     <li>
      The filling. Place the piloncillo (or brown sugar and molasses), corn syrup, cinnamon stick, cloves and peppercorns into a small saucepan. Measure in 1/3 cup water, cover and place over medium-low heat. After the mixture has come to a simmer, uncover and stir until the piloncillo has dissolved. Simmer over medium heat until reduced to 1 cup, about 10 minutes. Strain through a fine-mesh sieve, add the diced butter and cream, and stir until the butter is melted. Let cool, stirring occasionally.
     </li>
     <li>
      t the oven to 325° and position the rack in the middle. Spread the pecans over a baking sheet and bake until toasted through, 10 to 15 minutes. Remove and cool.
     </li>
     <li>
      sk together the egg, 2 egg yolks, salt, vanilla and flour. Stir into the cooled sugar-spice mixture.
     </li>
     <li>
      Prebaking the crust. Heat the oven to 425°. Prick the bottom of the crust at 1-inch intervals, then bake until set and very lightly browned, about 10 minutes. Check the crust every couple of minutes: If it slips down in any spot, press it back into place with the back of a spoon; if it bubbles up, prick it with a fork to release the steam. Beat the remaining egg yolk to break it up, then brush it over the crust, carefully sealing up all the holes. Cool the crust to lukewarm. Reduce the oven temperature to 325°.
     </li>
     <li>
      Finishing the pie. Spread the pecans over the crust, then pour on the filling mixture, coating all the nuts. Bake about 35 minutes, until the filling is slightly puffed and no longer jiggles about when the pie is gently shaken. Cool to completely set the filling, then serve.
     </li>
     <li>
      heavy-set son ushered us down a narrow hallway toward a 15-gallon, hammered copper pot (the traditional cazo used for candy making) filled to the brim with today’s goat milk. As we moved past it, the passage opened onto a narrow room with a 2-foot-high, bricked-in stove along one side. There, four more huge cazos boiled over strong gas jets. A barrel of sugar stood nearby with a wooden paddle propped up beside it; in the small bottling room at the end was a shelf that held baking soda, cinnamon, vanilla and alcohol, plus glass bottling jars in sizes from a cup to a quart.
     </li>
     <li>
      family’s task was to transform the rich-tasting goat milk into a fudgey-consistency, sweet, golden syrup known as cajeta, the specialty of their hometown, Celaya, Guanajuato. The baking soda, I learned, was what helped it to brown, the cinnamon, vanilla and alcohol gave it the different flavors the customers wanted. To my taste, theirs was the best I’ve had: soft and rich without all the glassy glucose of the industrialized variants; full with the taste of goat milk and browned milk solids without the strength of added caramelized sugar. At the small Cajeta Vencedora factory and shop in Celaya, the family would even mold the cajeta into flimsy wooden cajas (“boxes”), the old-fashioned way to sell the sticky stuff and what gave it its name.
     </li>
     <li>
      bottled cajeta that is sold nationwide (even in the United States) is a far cry from the original cajetas of fruits and nuts that were cooked with sugar to a thick, preservable consistency, packed into boxes and kept for special occasions. Only in the abundant candy shops of San Cristóbal de las Casas, Chiapas, have I still seen them selling little oval boxes filled with a dark, sticky cajeta made of peach or quince, or of sugar and egg yolks.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>