<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   pickled red onions
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     pickled red onions
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    I wouldn’t want a chicken-topped Panucho or a plate of Pork Pibil unless I could have it topped with these sweet-and-sour, richly spiced red onions. They are at practically every Yucatecan meal, and I know Deann uses a Yucatecan dinner as an excuse to make a big batch of them to have around for sandwiches and just about any other snack. To summarize: They are delicious.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 11/3 cups
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 small (6-ounce) red onion, sliced 1/8 inch thick
     </li>
     <li>
      ¼ teaspoon black peppercorns
     </li>
     <li>
      ¼ teaspoon cumin seeds
     </li>
     <li>
      ½ teaspoon dried oregano
     </li>
     <li>
      2 cloves garlic, peeled and halved
     </li>
     <li>
      ¼ teaspoon salt
     </li>
     <li>
      1/3 cup cider vinegar
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Parboiling the onion. Place the thinly sliced red onion in a saucepan with salted water to cover, bring to a boil, time 1 minute, then remove from the heat and drain.
     </li>
     <li>
      The pickling. Coarsely grind the peppercorns and cumin in a mortar or spice grinder, then add to the saucepan, along with the remaining ingredients. Pour in just enough water to barely cover the onions, bring to a boil over medium heat, time 3 minutes, then remove from the heat and pour into a small, noncorrosive bowl. Let stand several hours before using.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>