<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   poached guavas in spicy syrup
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     poached guavas in spicy syrup
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    When I brought home my first kilo of ripe guavas one winter and piled them in a bowl on the table, I found it difficult to walk by without stopping to inhale their spicy aroma. I’d planned to cook them into the thick jellied paste they call ate, but I wound up poaching them in a cinnamon-flavored syrup as they do in traditional restaurants across Mexico. The gentle, short cooking captures their aroma, develops their flavor and enhances their delicate texture; in short, it shows off the fruit at its best. I heartily recommend poaching guavas when you can lay your hands on some (they’re mostly available during fall and winter months). And if they’re the pink ones, the dish will be particularly beautiful.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    4 generous servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      3 pounds ripe guavas
     </li>
     <li>
      11/3 cups sugar
     </li>
     <li>
      4 inches cinnamon stick
     </li>
     <li>
      6 cloves
     </li>
     <li>
      2 strips of lime zest (green rind only), 2 inches long and ¾ inch wide
     </li>
     <li>
      2 teaspoons freshly squeezed lime juice
     </li>
     <li>
      ¼ teaspoon vanilla extract
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preparing the fruit. Peel the guavas, cut in half and scoop out the seedy centers with a teaspoon, leaving only the shells. Set the prepared fruit aside.
     </li>
     <li>
      Poaching the fruit. In a large saucepan, combine the sugar, cinnamon stick, cloves, lime zest, juice and 2½ cups water, and bring to a simmer, stirring. Cover and simmer over medium-low heat for 20 minutes.
     </li>
     <li>
      over, strain, return the syrup to the pan and set over medium heat. When the syrup returns to a simmer, add the prepared fruit and partially cover. Poach until tender but firm, 5 to 10 minutes, depending on the ripeness. Uncover and let the fruit cool in the syrup.
     </li>
     <li>
      Reducing the syrup. With a slotted spoon, remove the fruit. Boil the syrup over medium-high heat until reduced to 1 cup, about 15 minutes. Remove from the heat, stir in the vanilla and pour over the fruit; cool and serve.
     </li>
     <li>
      re is a general rule that the farther you come down from the cool temperate regions that make up the bulk of Mexico, the more you’ll see the little store-fronts outfitted with cold cases stocked with ices and ice creams, bright-colored Popsicles and fruit drinks. The rule has at least one major exception, however: Temperate-climate Oaxaca City has Mexico’s most talked-about tradition of ices and ice cream.
     </li>
     <li>
      generations, the neveros, as the vendors call themselves, had set up canopied tables, chairs and ice buckets on one side of Alameda Park in Oaxaca City; but when the city decided to beautify things, the neveros found themselves displaced to the year-round market (a bonus for the customers) and a few spots out by one of the churches. Theirs has always been a simple craft: Mix the sweet, ripe bounty of the warm earth with a little sugar, pour it into tin canisters that are packed in ice and salt, then spin them by hand, scraping and mixing from time to time, until the insides hold forth in coarse, slushy coldness.
     </li>
     <li>
      t’s most unpredictable about the whole affair is, first, the enthusiasm with which the country reveres these vendors (at Chagüita, the most renowned stand, there are pictures of different celebrities’ pilgrimages to eat the fruit-flavored cupfuls). And second, there are the flavors: They move quickly past the predictable mango, coconut and peach to such unimaginable (occasionally rather unpalatable) ingredients as avocado, cheese, corn, burned milk, even pork rind, and one made of roses and almonds.
     </li>
     <li>
      Oaxacan specialties come in three styles: fruit with water, fruit with milk, and a smooth alternative with milk and egg yolks, called nieve de sorbete. For the recipes here, I’ve combined what I learned hanging around the stands with notes given in Guzmán’s Tradiciones gastronómicas oaxaqueñas. And if you want the honest-to-goodness, coarse, granita—like texture of the market ices, use the “still-set” freezer method I’ve outlined in the notes.
     </li>
     <li>
      ve (literally “snow”) and helado (literally “frozen”) both refer to ice cream in Mexico. The new chains generally call their offerings helados, while some of the older shops label the ices nieves and ice creams helados. But it’s not always that cut-and-dried. In Oaxaca, most everything is a nieve, even if it is made with custard.
     </li>
     <li>
      ing Alcohol: Besides adding flavor, a little rum, Triple Sec or what have you will make the mixture freeze more slowly, give it a finer consistency and keep it from freezing solid.
     </li>
     <li>
      voring Fruit-Based Concoctions: The mixture should be fairly sweet (the sugar’s potency is diminished a little by freezing); lime, as well as sugar, can brighten dull (or underripe) fruit flavors; and alcohols can add richness.
     </li>
     <li>
      ezing Without an Ice Cream Freezer: For a coarser, granita-type (and, truthfully, more authentic) texture, make the ice or ice cream base with alcohol, place in a stainless-steel bowl in your freezer and beat every 45 minutes for several hours, until it holds its shape in a spoon. About 30 minutes before serving, beat it once more; if frozen solid, break it up and beat it quickly, in batches, in a food processor, to give it a light consistency.
     </li>
     <li>
      ening and Storing: An ice cream freezer will only take the mixture to a soft-frozen state; to firm it, “ripen” in the freezer or in a new packing of salt and ice for several hours. Ices and ice creams without emulsifiers and stabilizers will become more crystalline the longer they’re frozen, so plan to eat them a few hours (at most a day) after freezing. Store tightly covered.
     </li>
     <li>
      it: Ripe, strong-flavored, perfumey fruit is what you’re after. Scout the bruised and overripe bargains: They’ll have a riper flavor (texture is of no concern), and you can simply cut out the bad spots.
     </li>
     <li>
      Cream Freezers: All of these ices were tested in a Waring 2-quart ice cream maker that uses ice cubes and table salt. Any freezer will work and they all have their peculiarities, so read the directions.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>