<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   pork and hominy soup with red chile and fresh garnishes
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     pork and hominy soup with red chile and fresh garnishes
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    When hominy is simmering with pork and dried red chile, the aromas are wonderfully mouth-watering. A big bowl of the rich soup, topped with its crunchy fresh vegetables, makes a full informal meal for those who like good eating. I’d start with a Jícama Salad or Cactus-Paddle Salad and finish with one of the ice creams.While any Mexican will say “Guadalajara” as fast as you can say “pozole,” this soup is supper and weekend food most everywhere in the Republic, save Yucatán. White pozole (simmered without the red chile) is the typical Guadalajara version, where the adorning sprinkle of oregano is often omitted. My first choice is this full-flavored Michoacán recipe—which comes from a transplanted vendor at the Coyoacán prepared-foods market in Mexico City.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For the condiments:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ½ medium head of cabbage, cored and very thinly sliced OR ½ head iceberg lettuce, cored and very thinly sliced
     </li>
     <li>
      8 to 10 radishes, thinly sliced
     </li>
     <li>
      1½ cups finely chopped onion
     </li>
     <li>
      About 1/3 cup dried oregano
     </li>
     <li>
      2 to 3 large limes, cut into wedges
     </li>
     <li>
      15 to 20 Crisp-Fried Tortillas (Tostadas
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The hominy. Prepare the Half-Cooked Hominy or canned hominy as described in Step 1.
     </li>
     <li>
      The meat. Using dried corn: When the corn is nearly tender, add the pig’s head (or pigs’ feet and neck bones), the pork shoulder and the garlic. Cook as described in Step 2, until the corn is tender.
     </li>
     <li>
      ng canned hominy: Measure 7 quarts of water into a kettle or stockpot and add the pig’s head (or pigs’ feet and neck bones), the pork shoulder and the garlic. Cook as described in Step 2, until the corn is tender.
     </li>
     <li>
      The chiles. Tear the chiles into large, flat pieces and toast them, a few at a time, on a griddle or heavy skillet set over medium heat, using a metal spatula to press them firmly against the hot surface until they crackle and blister, then flipping them over and pressing them down again. Remove to a bowl, cover with boiling water, weight with a plate to keep them submerged and soak 30 minutes.
     </li>
     <li>
      in, place in a blender jar and add ½ cup water; blend until smooth. Strain through a medium-mesh sieve into the simmering soup, then mix well.
     </li>
     <li>
      erously season the soup with salt (hominy requires considerable salt) and let simmer for another hour or so.
     </li>
     <li>
      Finishing the soup. Remove the pig’s head (or pigs’ feet and neck bones) and the pork shoulder from the simmering broth. When cool enough to handle, remove the meat from the pig’s head, discarding the bones, fat and cartilage (or for pigs’ feet, remove and discard the cartilage and bones, then chop what remains into 1-inch pieces). Roughly shred all the meat.
     </li>
     <li>
      t before serving, reseason the soup with salt. Add the meat to the pot and let simmer a few minutes to reheat.
     </li>
     <li>
      le the soup into large bowls, top each one with a portion of shredded cabbage or lettuce and some sliced radishes. Pass the onion, oregano and lime wedges separately for each guest to add to his or her taste. The tostadas are a crunchy accompaniment to enjoy between big spoonfuls of the soup.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>