<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   pork with smoky tomato sauce, potatoes and avocado
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     pork with smoky tomato sauce, potatoes and avocado
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Rich in roasted tomatoes, browned meat and smoky chipotle chiles—this is one of my favorite dishes and one my North American friends take to readily. In colonial Puebla, on the other side of the volcanos from mile-high Mexico City, tinga is offered as a stew in the restaurants, a filling for tortas in the snack shops and a stuffing for the masa turnovers available from street griddles.The recipe that follows is based on the version served at Puebla’s Fonda Santa Clara restaurant. It is a good warming stew with a spicy edge, and it makes a beautiful, simple meal with crusty rolls, a salad and Almond Flan. Beer, Tamarind Cooler, or even a robust red wine like Chianti or Zinfandel would go well here.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For the garnish:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 ripe, medium avocado, peeled, pitted and sliced
     </li>
     <li>
      4 ounces Mexican queso fresco or other fresh cheese like mild goat or farmer’s cheese (or even Muenster), cut into 8 fingers
     </li>
     <li>
      A ¼-inch slice of onion, broken into rings
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The meat. Bring about 1 quart salted water to a boil in a medium-size saucepan, add the pork, skim the grayish foam that rises to the top during the first few minutes of simmering, then add the herbs and bay leaves. Partially cover and simmer over medium heat until the meat is tender, about 50 minutes. (If there is time, let the meat cool in the broth.) Remove the meat, then strain the broth and spoon off all the fat that rises to the top; reserve 1 cup. When the meat is cool enough to handle, dry it on paper towels and break it into ¾-inch pieces.
     </li>
     <li>
      The potatoes, tomatoes and chorizo. Boil the potatoes in salted water to cover until just tender, 12 to 15 minutes; drain, peel (if you want), then chop into ½-inch dice. Seed the tomatoes, if you wish, by cutting them in half crosswise and gently squeezing out the seeds; then chop into ½-inch pieces. Fry the chorizo in the oil in a large, heavy skillet over medium-low heat until done, about 10 minutes, stirring occasionally to break up any clumps. Remove, leaving as much fat as possible in the skillet.
     </li>
     <li>
      Browning the main ingredients. Raise the heat to medium and add the onion and pork. Fry, stirring frequently, until well browned, about 10 minutes. Stir in the garlic and cook 2 minutes.
     </li>
     <li>
      Finishing the stew. Add the chopped tomatoes, oregano and chorizo, mix well and simmer 5 minutes. Stir in the potatoes, the reserved cup of broth, chipotle peppers and adobo sauce from the can. Simmer gently for 10 minutes to blend the flavors, then season with salt and sugar.
     </li>
     <li>
      Garnish and presentation. When you’re ready to serve, scoop the simmering tinga into a warm serving dish and decorate with alternating slices of avocado and fingers of cheese. Strew the top with onion rings and serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>