<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   pork-stuffed chiles in savory tomato sauce
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     pork-stuffed chiles in savory tomato sauce
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Chiles rellenos are slid onto hundreds of plates in restaurants and market fondas throughout the Republic every day, and they can be as different as the Northern long green variety stuffed with Chihuahua cheese, or the Veracruz meat-stuffed jalapeños wrapped in a tortilla to eat “taco-style” in the market. They might come filled with shredded crab or shrimp (as on the upper east and west coasts); they might be simple and unsauced, or made from reconstituted chiles anchos, or even stuffed with warm fried beans and set out unbattered.I’ve encountered a great number of people smitten with taste for these, which is unfortunate for them, because they do take a little time to prepare; I’ve set up a workable schedule under Timing. Saucy chiles rellenos need little to accompany them, only some Mexican Rice, perhaps a romaine salad, and Flan for dessert. A lightly sauced, cheese-filled chile relleno makes an elegant first course.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    8 stuffed chiles, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      8 large fresh chiles poblanos
     </li>
     <li>
      About 2 cups (1 recipe) Quick-Cooked Tomato-Chile Sauce
     </li>
     <li>
      1½ cups beef or pork broth
     </li>
     <li>
      Oil to a depth of ¾ inch, for frying
     </li>
     <li>
      About ¼ cup flour, plus another tablespoon for the eggs
     </li>
     <li>
      About 3 cups (1 recipe) Minced-Pork Picadillo or Northern-Style Shredded Beef, at room temperature
     </li>
     <li>
      4 large eggs, at room temperature
     </li>
     <li>
      ½ teaspoon salt
     </li>
     <li>
      4 sprigs flat-leaf parsley, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Cleaning the chiles. Roast and peel the chiles as directed, being careful not to overcook them or break off their stems. Seed them: Make a slit in the side of each one, from the shoulder down nearly to the point; with an index finger, scrape the seeds loose from the seed pods (just underneath the stem); under a gentle stream of water, flush the chiles clean of all their seeds, then drain. If you want milder chiles, carefully cut out the veins that run down the inside flesh of each one. Dry the chiles inside and out with paper towels.
     </li>
     <li>
      Other preliminaries. In a small saucepan, mix the prepared tomato sauce with the broth (you may want to add ¼ teaspoon each ground cinnamon and black pepper, if you’re using Oaxacan Minced-Pork Picadillo). Cover and place over very low heat. Heat the frying oil over medium-low.
     </li>
     <li>
      Stuffing the chiles. Stuff the chiles with room-temperature filling, leaving room to reclose the opening. If a chile won’t reform around the filling or if it is torn, “sew” it together with toothpicks; any that can be gently picked up by the stem without losing their filling are fine as is.
     </li>
     <li>
      Battering and frying the chiles. Spread about ¼ cup flour onto a plate, then roll the roll chiles in it and shake off the excess.
     </li>
     <li>
      arate the eggs: whites into a clean mixing bowl, yolks into a small dish. Add the salt to the egg whites, then beat with a whisk or electric mixer set at medium speed until they are just stiff enough to hold a peak. Gently beat in the yolks one at a time, followed by 1 tablespoon of flour; stop beating when the flour is incorporated.
     </li>
     <li>
      ng the oil to 375°. Holding a chile by its stem, dip it completely into the egg batter, draw it out quickly, then lay it into the hot oil; batter 2 or 3 more chiles and lay them in the oil. (If a chile doesn’t have a stem, set it on a fork, dip it in the batter, then roll it off into the oil; any uncovered spot can be dabbed with a little batter.) When the chiles are brown underneath, gently roll them over and brown the other side. Drain on paper towels and keep warm in a low oven. Batter and fry the remaining chiles, then drain with the others.
     </li>
     <li>
      Garnish and presentation. Ladle about ¾ cup of brothy tomato sauce into each of 4 warm, deep plates, top with 2 chiles, then spoon a dribble of the sauce across the middle of each chile for decoration. Lay a sprig of parsley between the chiles and carry them to the table.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>