<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   potatoes with mexican sausage
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     potatoes with mexican sausage
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    There is a bare glass bulb that hangs over most of the outdoor taco stalls, and it casts its unfocused illumination on an earthy scene that smells of fire and substance. Sausage and potatoes sizzle on the metal and crackle out that unmistakable, penetrating savor; alongside are piles of chiles whose piquancy you can feel. These are the environs for tacos, nighttime street tacos, and the enjoyment of them is as much for the oily tortillas and energizing sauce as it is for the taste of comradeship, green earth and hot fires.Traditionally, this potato-chorizo filling is paired with Fresh Green Tomatillo Sauce, plus a sprinkling of fresh coriander (cilantro) and chopped onion. Untraditionally, it makes a good stuffing for mushroom caps.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 3 cups, enough for 12 tacos, serving 4 as a light main course
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      4 medium-small (about 1 pound total) boiling potatoes like the red-skinned ones, halved
     </li>
     <li>
      2 tablespoons vegetable oil
     </li>
     <li>
      8 ounces (1 cup) chorizo sausage, store-bought or homemade, casing removed
     </li>
     <li>
      1 small onion, diced
     </li>
     <li>
      Salt, if necessary
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The potatoes. Boil the halved potatoes in salted water to cover until just tender, 12 to 15 minutes. Drain, peel if you wish, then cut into ¾-inch dice.
     </li>
     <li>
      The chorizo. Heat the oil in a large skillet set over medium-low, add the chorizo and cook, stirring to break up any clumps, until done, about 10 minutes. Remove from the pan, leaving behind as much fat as possible. Pour off all but enough fat to coat the bottom of the pan.
     </li>
     <li>
      Finishing the mixture. About 20 minutes before serving, fry the onions and potatoes over medium heat until well browned, about 15 minutes; regularly scrape up any sticking bits of potato so they won’t burn. Add the chorizo to the potatoes, stir well and let heat for several minutes. Season with salt, if necessary, and you’re ready to serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>