<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   potatoes and green chiles
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     potatoes and green chiles
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1½ cups
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      2 small (about 6 ounces total) boiling potatoes like the red-skinned ones, halved
     </li>
     <li>
      1½ tablespoons lard or vegetable oil
     </li>
     <li>
      ½ small onion, thinly sliced
     </li>
     <li>
      3 medium, fresh chiles poblanos, roasted and peeled
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
     <li>
      ¾ cup (about 3 ounces) crumbled Mexican queso fresco or other fresh cheese like mild domestic goat or farmer’s cheese
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The potatoes. Simmer the potatoes in salted water to cover until tender, about 15 minutes. Drain, cool under running water, peel and cut into ¼-inch dice.
     </li>
     <li>
      Frying the mixture. Heat the lard or oil in a heavy medium-size skillet over medium. Add the onion and potato, and fry, stirring regularly to ensure that nothing sticks to the pan, until the mixture is nicely browned, 10 to 15 minutes.
     </li>
     <li>
      le the potatoes are browning, seed the chiles and slice them into 1/8-inch strips. Stir them into the potato mixture, season with salt, remove from the fire and stir in the cheese. Scrape into a small dish and cool before using.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>