<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   quick-cooked tomato-chile sauce
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     quick-cooked tomato-chile sauce
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Many gastronomical commentators have singled out the tomato as Mexico’s most useful contribution to world cookery…even in light of her chiles and chocolate. Tomatoes do, after all, have that fresh tangy sweetness and an ability to cook into a soft-textured mass that offers relief from those old-fashioned glutinous soups and sauces.The cooks of Mexico’s distinct regions boil and roast and fry huge quantities of this fruit-of-the-groping-vine into all sorts of delicious variations on this simple sauce, ones that their people have come to identify as their own. For the basic recipe below, I have culled out a kind of fence-straddling version that works as well to spark up Huevos Rancheros and Mexican Rice as it does for saucing Chiles Rellenos or Quick-Simmered Tortilla Casserole (Chilaquiles) or for spooning onto tacos.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 2 cups
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1½ pounds (3 medium-large round, 9 to 10 pear-shaped) ripe tomatoes, boiled or roasted, peeled and cored OR one 28-ounce can good-quality tomatoes, drained
     </li>
     <li>
      Fresh hot green chiles to taste (roughly 3 to 5 chiles serranos or 2 to 3 chiles jalapeños), stemmed
     </li>
     <li>
      ½ small onion, chopped
     </li>
     <li>
      1 large clove garlic, peeled and roughly chopped
     </li>
     <li>
      1 tablespoon lard or vegetable oil
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The tomatoes. For a more refined sauce, seed the tomatoes: Cut them in half across the middle and squeeze out the seeds and liquid. Roughly chop the tomatoes and place in a blender or food processor.
     </li>
     <li>
      The puree. If you want a milder sauce, first seed the chiles. Then chop them into small bits and add to the blender or processor, along with the onion and garlic. If using a blender, stir to distribute the ingredients evenly, then process the mixture until pureed (but still retaining a little texture).
     </li>
     <li>
      Frying the sauce. Heat the lard or oil in a medium-large skillet over medium-high. When it is hot enough to make a drop of the puree really sizzle, add it all at once and stir constantly for about 5 minutes, as the puree sears and cooks into a thicker, more orange-colored sauce. Season with salt and remove from the fire.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>