<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   quick-fried zucchini with toasted garlic and lime
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     quick-fried zucchini with toasted garlic and lime
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Though not traditional, I’ve combined the typical toasted garlic preparation mojo de ajo with quick-fried zucchini. For those who crave vegetables and want a sauceless, typically Mexican-tasting preparation to serve with their Mexican dinners, this is my recommendation. It goes well with most of the saucier main dishes like smoky Pork Tinga or Green Pumpkinseed Mole.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 pound (about 4 small) zucchini, ends trimmed and cut into ½-inch cubes
     </li>
     <li>
      1 scant teaspoon salt, plus a little more to season the finished dish, if necessary
     </li>
     <li>
      1 tablespoon unsalted butter
     </li>
     <li>
      1 tablespoon vegetable oil
     </li>
     <li>
      5 cloves garlic, peeled and very thinly sliced
     </li>
     <li>
      1 tablespoon freshly squeezed lime juice
     </li>
     <li>
      A generous ¼ teaspoon freshly ground black pepper
     </li>
     <li>
      ½ teaspoon dried oregano
     </li>
     <li>
      2 tablespoons chopped flat-leaf parsley
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Sweating the zucchini. In a colander, toss the zucchini with the salt; let stand ½ hour over a plate or in the sink. Rinse the zucchini, then dry on paper towels.
     </li>
     <li>
      Browning the garlic and frying the zucchini. About 15 minutes before serving, heat the butter and oil over a medium-low heat in a skillet large enough to hold the zucchini in a single layer. Add the garlic and stir frequently until light brown, about 3 minutes. Do not burn. Scoop the garlic into a fine-mesh sieve set over a small bowl, then scrape the strained butter mixture back into the pan; set the garlic aside. Raise the heat to medium-high.
     </li>
     <li>
      the zucchini to the pan and fry, stirring frequently, for 8 to 10 minutes, until browned and tender but still a little crunchy. Remove from the heat.
     </li>
     <li>
      Finishing the dish. Add the lime and toasted garlic; toss thoroughly. Sprinkle with the pepper, oregano and parsley, then mix, taste for salt and serve in a warm dish.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>