<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   quick-fried fish with toasted garlic
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     quick-fried fish with toasted garlic
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    “No!” I can hear them say. “You’ll ruin the dish! You can’t let garlic brown.” I’ve heard it for years; I may have said it myself at one point, until I learned that slowly browned chunks of garlic, taken off before they get dark and bitter, have a superbly nutty flavor and a special sweetness.Along with breaded, fried and a la veracruzana, al mojo de ajo is a standard preparation anywhere in the Republic that they cook fish. Luckily, it is delicious and very easy to do at home. The following method, based on one in Dueñas’s Cocina básica: pescados, is one I especially like because the fish is quick-fried in garlic-flavored oil and butter, then a little lime juice is added to give it sparkle.This dish welcomes a flavorful vegetable like Swiss Chard with Tomatoes and Potatoes. To dress up the meal, start with Fresh-Corn Tamales or a soup and end with Flan or Spicy Poached Guavas. Beer and Sparkling Limeade go well with these flavors.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      Four 10- to 12-ounce fish like bass, catfish or perch, whole or pan-dressed
     </li>
     <li>
      Freshly squeezed lime juice and a little salt
     </li>
     <li>
      3 tablespoons unsalted butter
     </li>
     <li>
      3 tablespoons vegetable oil
     </li>
     <li>
      10 large cloves garlic, peeled and thinly sliced
     </li>
     <li>
      About ½ cup flour
     </li>
     <li>
      A scant teaspoon salt, plus a little more to season the pan sauce, if necessary
     </li>
     <li>
      1 tablespoon freshly squeezed lime juice
     </li>
     <li>
      2 tablespoons chopped flat-leaf parsley, plus a few sprigs for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The fish. Rinse the fish. With a sharp knife, make 2 diagonal slashes on both sides of each one. Sprinkle them lightly, inside and out, with the lime juice and salt, lay in a noncorrosive dish, cover with plastic wrap and refrigerate about 1 hour.
     </li>
     <li>
      The garlic. Heat the butter and oil in a large (12-inch) skillet over medium-low, add the garlic and very slowly cook, stirring frequently, until the garlic has turned golden, 3 or 4 minutes. Scrape into a small strainer set over a bowl and let the fat drain through, then return it to the pan and set the garlic aside.
     </li>
     <li>
      Frying the fish. Spread the flour on a plate and mix in the salt. Rinse the fish, then pat dry with paper towels. Return the skillet to medium heat and, when hot, dredge the fish in the flour, shake off the excess and lay in the pan. Fry until golden and done, 4 to 5 minutes on each side. (Make a small, deep cut down to the backbone of one fish to determine if it is cooked through.) Remove the fish to a large serving platter and keep warm in a low oven.
     </li>
     <li>
      Finishing the dish. With the skillet off the fire, add the reserved garlic, lime juice and chopped parsley. Return the pan to medium heat and stir constantly for about 1 minute, until the lime juice has mostly evaporated and the parsley has wilted. Taste for salt. Spoon the sauce over the fish and serve, decorated with parsley.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>