<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   quick-fried fish with roasted peppers and thick cream
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     quick-fried fish with roasted peppers and thick cream
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    This is not a regional specialty but a family one, and I’m sold on the way a fresh, good-textured piece of fish combines with roasted peppers and thick, half-soured cream. My inspiration for this elegant, versatile dish comes from the occasional recipes for this sort of thing you find in cookbooks from Mexico; once or twice, I’ve tasted something similar in fancier restaurants.Serve it with a Cress and Jícama Salad for a special dinner, with some tasty filled Masa Boats (Sopes, or a bowl of Tlalpeño Soup to start, and a fresh fruit ice for dessert. The fish is good with a full-bodied white wine like a Chardonnay.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1½ pounds boneless, skinless fish fillets like halibut or bass, about ½ inch thick
     </li>
     <li>
      Freshly squeezed lime juice and a little salt
     </li>
     <li>
      2 tablespoons vegetable oil
     </li>
     <li>
      ½ medium onion, sliced 1/8 inch thick
     </li>
     <li>
      2 cloves garlic, peeled and minced
     </li>
     <li>
      1 large fresh chile poblano, roasted and peeled, seeded and sliced into thin strips
     </li>
     <li>
      1¼ cups Thick Cream or whipping cream
     </li>
     <li>
      Salt, about ½ teaspoon each for the sauce and for the dredging flour
     </li>
     <li>
      About 1/3 cup flour
     </li>
     <li>
      1 tablespoon unsalted butter
     </li>
     <li>
      Thinly sliced tops of green onions, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The fish. Rinse the fillets, place in a noncorrosive dish and sprinkle the lime juice and a little salt; cover and refrigerate about an hour.
     </li>
     <li>
      The roasted-pepper cream. Heat half the vegetable oil in a medium-size saucepan over medium. Add the onion and cook, stirring frequently, until lightly browned, 7 or 8 minutes. Add the garlic and chile and cook 2 minutes longer, then stir in the cream and simmer until the sauce coats a spoon rather thickly. Season with salt.
     </li>
     <li>
      Finishing the dish. About 10 minutes before serving, spread the flour on a plate and mix in a little salt. Dry the fillets with paper towels. Heat the butter and remaining tablespoon of oil in a medium-large skillet over medium-high. When the butter just begins to brown, quickly dredge the fillets in the flour, shake off the excess and lay in the hot pan. Fry until lightly browned, about 1½ minutes per side, then add the sauce, reduce the heat to medium and simmer for 2 or 3 minutes more, until the fillets flake under firm pressure. Remove the fillets to a warm serving platter, spoon the sauce over them, garnish with the green-onion slivers and serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>