<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   ranch-style eggs with tomato-chile sauce
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     ranch-style eggs with tomato-chile sauce
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    You can almost bet that anything ranchero or a la ranchera will come in a coarse, picante tomato sauce—what you might expect for “ranch” style. The picante can be little serranos (or habaneros in Yucatán), dried chiles de árbol, even chipotles or long green chiles—whatever happens to be the regional choice or the find of the moment.I can’t think of serving huevos rancheros without Frijoles Refritos, tropical fruit and lots of Café con Leche.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      About 2 cups (1 recipe) Quick-Cooked Tomato-Chile Sauce (or any of the accompanying variations)
     </li>
     <li>
      4 medium-thick corn tortillas, store-bought or homemade, preferably stale
     </li>
     <li>
      ¼ cup vegetable oil, plus a little more if needed
     </li>
     <li>
      8 large eggs
     </li>
     <li>
      Salt and freshly ground black pepper, as desired
     </li>
     <li>
      2 tablespoons crumbled Mexican queso fresco or queso añejo, or cheese like feta, farmer’s cheese or mild Parmesan
     </li>
     <li>
      A little chopped parsley, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The preliminaries. Warm the sauce in a small saucepan over medium-low heat, covered. If the tortillas are fresh, let them dry out in a single layer for a few minutes. Heat the oil in a large, well-seasoned skillet over medium-high; when quite hot, quick-fry the tortillas one at a time, 2 or 3 seconds per side, just to soften them. Drain on paper towels, wrap in foil and keep warm in a low oven. Reduce the heat under the skillet to medium-low and let it cool for several minutes.
     </li>
     <li>
      The eggs. Break 4 eggs into the skillet and let them cook slowly until set, sunny-side up. (If you want the eggs cooked more uniformly top and bottom, cover the skillet for a time.) Sprinkle with salt and pepper, then transfer the cooked eggs to a baking sheet and keep them warm with the tortillas. Add a little more oil to the pan, if necessary, then fry the remaining eggs in the same fashion.
     </li>
     <li>
      Assembling the dish. Set a tortilla on each of 4 warm plates. Top with 2 fried eggs, then spoon the sauce over the tortilla and whites of the eggs, leaving the yolks exposed. Last, sprinkle with the crumbled cheese and chopped parsley, and carry to the table.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>