<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   red-chile enchiladas with cheese and vegetables
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     red-chile enchiladas with cheese and vegetables
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: 4 to 6 servings
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For finishing the dish:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      4 to 5 tablespoons vegetable oil, plus a little more if needed
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preliminaries. If the tortillas are moist, lay them out to dry a little, then wrap in plastic.
     </li>
     <li>
      The sauce. Heat a heavy skillet or griddle over medium, then lay the garlic on one side to roast. Tear the chiles into flat pieces and, a few at a time, press them against the hot surface with a metal spatula, flip them over and press again; you’ll hear them crackle and see them blister and change color. Remove to a bowl, cover with boiling water, weight down with a plate to keep them submerged, and soak for at least 1 hour, preferably 2 or 3.
     </li>
     <li>
      n the garlic frequently for 15 minutes or so, until blackened a little and soft within. Remove, cool, peel and place in a blender jar. Grind the peppercorns and cumin seeds in a mortar or spice grinder and add to the garlic.
     </li>
     <li>
      in the chiles, squeezing gently. Add to the blender jar and measure in 1½ cups of the poultry broth. Blend until smooth, then strain into a large bowl through a medium-mesh sieve. Season with salt and with sugar (if the sauce is bitter or sharp). Add additional broth to thin to the consistency of a light tomato sauce.
     </li>
     <li>
      The vegetables. Place the potatoes and carrots in a medium-size saucepan, cover with water and add the vinegar and salt. Simmer over medium until tender, about 15 minutes, then drain thoroughly and set aside.
     </li>
     <li>
      The garnishes. Core the cabbage, slice it very thinly and place in a bowl. Mix the vinegar, oil and salt, then toss with the cabbage. Set aside, together with the onion rings and crumbled cheese.
     </li>
     <li>
      Frying the enchiladas. About 15 minutes before serving, divide the cabbage mixture among 4 dinner plates, spreading it into a bed in the center. Heat 3 tablespoons of the vegetable oil in a large skillet or wok (see Equipment in Cook’s Notes) over medium. When hot, dip both sides of a tortilla into the sauce, then lay it in the oil; do the same with 1 or 2 more, if they will fit into your pan. After about 20 seconds, flip the tortillas over, fry another 20 seconds, fold them in half, then in half again lengthwise. Lift them out, draining as much of the oil back into the pan as possible, lay on a baking sheet and keep warm in a low oven. Fry the remaining tortillas in the same manner, adding more oil as necessary.
     </li>
     <li>
      Finishing the dish. Add a little more oil to the skillet or wok, then scoop in the potatoes and carrots along with 2 or 3 tablespoons of leftover sauce. Stir frequently until the vegetables are warm, 3 or 4 minutes.
     </li>
     <li>
      ce 3 enchiladas over the cabbage on each plate. Divide the fried vegetables over the enchiladas, then strew with the onion and cheese and serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>