<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   red-wine cooler with fresh lime
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     red-wine cooler with fresh lime
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    This Mexican cousin to the Spanish drink of red wine, fruit juice, liqueur and sugar is a simple, sparkling limeade-and-wine cooler. As one who enjoys red wine, I’m happy that they stir these up in restaurants all over Mexico; until recently, most of Mexico’s wine production has been pretty coarse stuff, so the additions to the glass have been welcome. The bartenders in even the smallest establishments like to float the wine over a denser, lime-flavored layer made with a special syrup; but it’s just as good simply stirred up.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 5½ cups, 6 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      2/3 cup freshly squeezed lime juice
     </li>
     <li>
      2/3 cup sugar
     </li>
     <li>
      3 cups dry, fruity red wine, like Beaujolais, Zinfandel or many red table wines
     </li>
     <li>
      1 cup sparkling water
     </li>
     <li>
      4 to 6 wheels of lime, with a cut made on one side
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The lime-sugar syrup. Mix together the lime juice, sugar and ¼ cup water, stirring until the sugar dissolves.
     </li>
     <li>
      The sangria. Just before serving, pour the wine into a pitcher and stir in the sparkling water and lime syrup. Serve over ice in tall glasses, each garnished with a wheel of lime wedged onto the rim.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>