<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   roasted garlic dressing
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     roasted garlic dressing
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: about ¾ cup
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    This simple vinegar-and-oil dressing goes beautifully with mixed fresh greens or matchsticks of jícama tossed with watercress and red onion. The rich-tasting Italian balsamic vinegar really enhances the roasted garlic flavor; look for it at any specialty food shop.
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      3 large cloves garlic, unpeeled
     </li>
     <li>
      3 tablespoons balsamic vinegar
     </li>
     <li>
      2/3 cup olive oil
     </li>
     <li>
      ¼ teaspoon freshly ground black pepper
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The garlic. Roast the garlic on a griddle or heavy skillet over medium heat, turning occasionally until blackened in spots and soft, about 15 minutes. Cool, then slip off the skin.
     </li>
     <li>
      The dressing. Combine the garlic and the rest of the ingredients in a blender or food processor, and process until smooth. Taste for salt. Cover and store at room temperature.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>