<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   roasted peppers with onions and herbs
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     roasted peppers with onions and herbs
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    When the chiles have been charred over glowing charcoal, gently fried with browned onions, then simmered with garlic, herbs and cream—there isn’t a Mexican who wouldn’t call it simple, traditional perfection. I’ve called for these rajas (they’re substantial enough to be called a vegetable) numerous times throughout the book: on a plate of Steak a la Tampiqueña, with grilled meat for Tacos al Carbón, to stuff Central Mexican—Style Tamales and in many of the variation recipes. The single word rajas, by the way, simply means “strips,” though Mexican cooks always seem to understand it to mean “strips of green chile.” What other kind could there be?
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1½ cups
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      4 medium, fresh chiles poblanos, roasted and peeled
     </li>
     <li>
      1½ tablespoons vegetable oil
     </li>
     <li>
      1 medium onion, sliced ¼ inch thick
     </li>
     <li>
      2 cloves garlic, peeled and minced
     </li>
     <li>
      2/3 cup Thick Cream, whipping cream or broth
     </li>
     <li>
      ½ teaspoon mixed dried herbs (such as thyme, oregano and marjoram)
     </li>
     <li>
      2 bay leaves
     </li>
     <li>
      Salt, about ½ teaspoon (depending on the saltiness of the broth)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The chiles. Stem and seed the chiles; for milder rajas, cut out the veins. Slice the chiles crosswise into ¼-inch strips.
     </li>
     <li>
      Frying the vegetables. Heat the vegetable oil in a medium-size skillet over medium. Fry the onion, stirring frequently, until it begins to brown, 7 or 8 minutes. Stir in the garlic and chile strips and cook 2 minutes.
     </li>
     <li>
      The simmering. Add the cream or broth, the herbs and bay leaves, and simmer until the liquid has reduced to a light coating for the vegetables; the simmering should go quickly enough that the chiles don’t get too soft before the liquid has reduced. Remove the bay leaves and season with salt.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>