<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   savory golden country ribs with avocado relish
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     savory golden country ribs with avocado relish
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    In Mexico City’s suburb of Tlalpan, there is a row of purveyors along Avenida Insurgentes, where you can see clearly how pork becomes delicious carnitas. Every part of the pig emerges from wide copper caldrons, half-boiled and half-fried, with a golden appeal. The flesh is soft and moist, the exterior has a savory browned chewiness. On warm Sunday afternoons, these carnitas places capture the spirit of outdoor, hearty, informal eating.What you find commercially crisped into carnitas are huge chunks of pork, ones that can be sliced like a roast; at home, small pieces fit the pan better, but I don’t like serving the small ones for a main course. So I’ve developed this country ribs carnitas dinner that does very nicely when you can’t visit the rustic Mexican carnitas stands. Add some Frijoles Refritos, a big salad and plenty of Salsa Mexicana, hot tortillas, beer, tea or soda pop. This is the perfect spot for hot fudge sundaes, or at least warm Goat-Milk Caramel over ice cream.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For serving:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      About 2 cups (2/3 recipe) Chunky Guacamole with all of its garnishes
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The meat. Trim off all but a thin layer of fat from the pork.
     </li>
     <li>
      The slow-fry method. Melt the lard in a large (4-quart), heavy saucepan over medium-low heat. When it has melted but is not yet very hot, add the pork, water and lime zest. Cook with the lard at a gentle simmer, turning the pork occasionally, for about 40 minutes, until it is barely tender. Raise the heat to medium-high. If all of the water hasn’t yet evaporated, the lard will come to a rolling boil, which will eventually diminish into small bubbles as the water evaporates. After the change occurs, the carnitas will need about 10 minutes to brown. Watch them carefully and remove when they are a light golden brown. Drain on paper towels and sprinkle with salt.
     </li>
     <li>
      boil-then-fry method. Place the meat in a single layer in a wide, heavy saucepan, add enough water to cover the meat by ½ inch, measure in the salt and set over medium heat. Simmer, partially covered, turning the pork occasionally, until the meat is barely tender, about 40 minutes. Uncover, raise the heat to medium-high and quickly boil away the liquid.
     </li>
     <li>
      n you hear the meat begin to fry in its own rendered lard (once the water is gone), turn the heat down to between medium and medium-low. Let the pork fry, turning frequently, until evenly browned, about 30 minutes. Remove the ribs from the pan, drain on paper towels and sprinkle with a little salt.
     </li>
     <li>
      Serving. While the meat is cooking, prepare the guacamole, scoop it into a serving bowl and garnish. Serve the crispy ribs on a warm serving platter and pass the guacamole to eat along with them. Or cut the meat off the bones and roll with the guacamole into tacos.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>