<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   scrambled eggs with mexican flavors
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     scrambled eggs with mexican flavors
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Like ranchero, a la mexicana invariably brings to mind a list of ingredients: tomatoes, chiles and onions—all chopped and chunky. And like eggs with chorizo, these eggs a la mexicana make a perfect trio with steaming, soft corn or flour tortillas and Fresh Green Tomatillo Sauce. To dress them up for a special breakfast, scoop them into a decorative bowl and top with a few onion rings, a little chopped parsley and crumbled fresh cheese. Unadorned, at the privacy of your own table, they are very good with toast and coffee.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    22/3 cups, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      3 tablespoons lard, vegetable oil, bacon drippings, fat rendered from chorizo, or even butter
     </li>
     <li>
      Fresh hot green chiles to taste (roughly 3 chiles serranos or 1 large chile jalapeño), stemmed
     </li>
     <li>
      1 small onion, diced
     </li>
     <li>
      1 ripe, medium-large tomato, cored and diced
     </li>
     <li>
      8 large eggs
     </li>
     <li>
      About 1 scant teaspoon salt
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The flavorings. Melt the lard or other fat in a medium-size skillet set over medium heat. For a milder dish, seed the chiles, then chop them finely and add to the skillet, along with the onion and tomato. Cook, stirring frequently, until the onion has softened but is not brown, about 5 minutes. Reduce the heat to medium-low.
     </li>
     <li>
      The eggs. Beat the eggs with the salt, just enough to combine the whites and yolks. Add them to the skillet and scramble until they are as done as you like. Taste for salt, then scoop them into a warm dish and serve right away.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>