<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   scrambled eggs with mexican sausage
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     scrambled eggs with mexican sausage
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    For months, Deann and I lived over a coffee shop, whose early-morning aromas collected in the halls outside our place: simmering chilaquiles with epazote, coffee from the espresso machine, frying bacon and fragrant chorizo. A few steps down the stairs and I was ready for huevos con chorizo or chilaquiles every morning.Predictably, the best renditions of the simple scrambled-egg dish outlined here are served where the best chorizo is made: Toluca, Oaxaca and, to me, the Spanish settlement of Perote, Veracruz. For serving ideas, please see the introduction to Eggs a la Mexicana.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    22/3 cups, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      8 ounces (about 1 cup) chorizo sausage, store-bought or homemade, casing removed
     </li>
     <li>
      1 tablespoon vegetable oil
     </li>
     <li>
      1 small onion, chopped (optional)
     </li>
     <li>
      1 ripe, medium-large tomato, cored and chopped (optional)
     </li>
     <li>
      8 large eggs
     </li>
     <li>
      About ½ teaspoon salt (or less if the chorizo is very salty)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The flavorings. In a medium-size skillet, cook the chorizo in the oil over medium-low heat, stirring occasionally to break up clumps. When it is done, about 10 minutes, remove it with a slotted spoon, then discard all but about 2 tablespoons of fat from the skillet (or add vegetable oil to bring it to that quantity). Add the optional onions and tomato and cook, stirring frequently, until the onion begins to soften, about 7 minutes. Return the chorizo to the pan.
     </li>
     <li>
      The eggs. Beat the eggs with the salt, just enough to combine the whites and yolks. Add to the skillet and scramble until done to your liking. Taste for salt, then scoop into a warm dish and serve quickly.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>