<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   scrambled eggs and potatoes in tangy green sauce
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     scrambled eggs and potatoes in tangy green sauce
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    This earthy combination of well-browned potatoes, roasted chiles, scrambled eggs and tomatillo sauce is a delicious brunch or supper dish served with Frijoles Refritos and corn tortillas. It comes from a literal hole-in-the-wall, no-name, stand-up taquería in downtown Mexico City, where none of the dishes has a name more complicated than “potatoes and eggs” or “pork and zucchini.” The talented ladies who cook there, though, really know the Mexican secret of brilliantly flavored, beautifully textured taco fillings.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 3½ cups, enough for 12 tacos, serving 4 as a light main course
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ½ recipe Quick-Cooked Tomatillo Sauce, prepared as directed in Step 1 below
     </li>
     <li>
      3 small (about 10 ounces total) boiling potatoes like the red-skinned ones, halved
     </li>
     <li>
      4 large eggs
     </li>
     <li>
      A generous ¼ teaspoon salt
     </li>
     <li>
      2½ tablespoons lard or vegetable oil
     </li>
     <li>
      ½ cup (about 2 ounces) crumbled Mexican queso fresco or other fresh cheese like feta or farmer’s cheese, plus a little extra for garnish
     </li>
     <li>
      ½ small onion, thinly sliced
     </li>
     <li>
      2 large fresh chiles poblanos, roasted and peeled
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The preliminaries. Prepare the ½ recipe tomatillo sauce as directed, through Step 2; measure out the broth and salt called for in the sauce recipe and combine them.
     </li>
     <li>
      mer the potatoes in salted water to cover just until tender, about 15 minutes. Drain, run under cold water to cool, peel if you wish, then cut into ¾-inch dice.
     </li>
     <li>
      The eggs. Beat the eggs with the salt, just enough to combine the whites and yolks. Heat half the lard or oil in a large, well-seasoned or Teflon-coated skillet over medium-high. When hot, add the eggs and stir every 3 seconds or so (as when making an omelet) until set; to form large curds, the cooking must go quickly without much stirring. Scrape the eggs into a small bowl, stir in the crumbled cheese, and set aside. Clean the skillet.
     </li>
     <li>
      Frying the mixture. About ½ hour before serving, heat the remaining generous tablespoon lard or oil in the skillet over medium. Add the onion and diced potatoes, and fry, stirring frequently to ensure that nothing sticks to the pan, until the mixture is well browned, about 15 minutes. While the potatoes are browning, stem and seed the chiles, then slice them into 1/8-inch strips. Add to the potato mixture and increase the heat to medium-high.
     </li>
     <li>
      Adding the sauce. When the mixture begins to sizzle with a little added fervor, pour in the tomatillo puree from Step 1. Stir gently for 4 or 5 minutes while the sauce sears and boils vigorously to a thicker, darker mixture. Add the salted broth, bring to a boil, reduce the heat to medium and simmer until the sauce is thick enough to coat the other ingredients. Add the eggs and cheese, simmer for a minute or so, spoon into a serving dish, sprinkle with a little crumbled cheese and serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>