<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   shredded poached chicken
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     shredded poached chicken
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: about 3 cups (18 ounces) for a whole chicken, 11/3 cups (8 ounces) for a medium breast
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For a chicken breast:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ¼ medium onion, roughly chopped
     </li>
     <li>
      3 cups water
     </li>
     <li>
      ½ teaspoon salt
     </li>
     <li>
      1 medium (about 1-pound) whole chicken breast, halved
     </li>
     <li>
      ½ teaspoon mixed dried herbs (such as marjoram and thyme)
     </li>
     <li>
      2 bay leaves
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preliminaries. Place the onion, water and salt in a saucepan (a 4-quart one for a whole chicken, a 2-quart for a breast) and bring to a boil.
     </li>
     <li>
      Cooking the chicken. If cooking a whole chicken: add the dark-meat quarters. Skim off any foam that rises during the first few minutes of simmering, add the herbs and bay leaves, partially cover and simmer over medium heat for 10 minutes. Add the breast quarters (plus additional hot water to cover, if necessary), skim off any new foam that rises once the liquid returns to a simmer, partially cover and simmer for 13 minutes.
     </li>
     <li>
      cooking only chicken breast: Add the breast quarters (plus additional hot water to cover, if necessary). Skim off any foam that rises during the first minute of simmering, add the herbs and bay leaves, partially cover and simmer over medium heat for 13 minutes.
     </li>
     <li>
      ove the pot from the fire and let the chicken (whether whole bird or just breast) cool in the broth, if there is time.
     </li>
     <li>
      Shredding the chicken. Skin and bone the chicken, then shred the meat into small pieces. Sprinkle with salt before using, unless directed otherwise in your recipe.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>