<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   shredded beef jerky with scrambled eggs and chile
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     shredded beef jerky with scrambled eggs and chile
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    To my taste, this Northern specialty is the most delicious of all the egg dishes. I love the aged flavor of jerky that has been shredded and fried crisp; mix it with eggs, and I’ve found my dish for any simple meal. To make it breakfast, I add fruit, flour tortillas and coffee; for supper, I put out a salad, tortillas and beer. And I always offer a little Salsa Picante to sprinkle on.The name machacado means “crushed,” which aptly describes what happened to the jerky when I learned to prepare it in San Ignacio, Baja California Sur; there, my instructor showed me how to pound the jerky with a large flat stone to shred it quickly.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 2½ cups, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      2 ounces beef jerky, store-bought or homemade
     </li>
     <li>
      6 large eggs
     </li>
     <li>
      3 tablespoons lard or vegetable oil, plus a little more if needed
     </li>
     <li>
      1 small onion, diced
     </li>
     <li>
      1 fresh chile poblano, roasted and peeled, seeded and diced
     </li>
     <li>
      1 ripe, medium-small tomato, cored and diced
     </li>
     <li>
      2 cloves garlic, peeled and minced
     </li>
     <li>
      Salt, about ½ teaspoon (depending on the saltiness of the jerky)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The meat. Lay the jerky on a baking sheet and set under a heated broiler. In 1 to 3 minutes, depending on the thickness and dryness of the jerky, the fat will bubble on the top and the edges will be lightly browned and crispy.
     </li>
     <li>
      l the meat, then tear into thin shreds. Now, reduce the shreds of meat to fluffy, fine threads: Either pound them a little at a time in a mortar (it should look like a coarse, loose felt), or process them in 2 or 3 batches in the blender, pulsing the machine on and off quickly, until the meat looks like a fluffy heap of light-brown threads. There should be 1 cup.
     </li>
     <li>
      The eggs. Beat the eggs just enough to combine the yolks and whites; set aside.
     </li>
     <li>
      Browning the meat and vegetables. Heat the oil in a medium-large skillet over medium-high. Add the diced onion and fry, stirring frequently, until beginning to brown, about 5 minutes. Add the threads of meat, reduce the heat to medium and stir frequently until the mixture is well browned and crispy, 5 to 7 minutes more.
     </li>
     <li>
      the chile, tomato and garlic and stir for 2 minutes. Reduce the heat to medium-low and add a little more oil if all has been absorbed.
     </li>
     <li>
      Finishing the dish. Pour the eggs into the pan and scramble until done to your liking. Taste for salt, then scoop the mixture into a warm serving bowl and carry to the table.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>