<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   shrimp with lime dressing and crunchy vegetables
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     shrimp with lime dressing and crunchy vegetables
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    The refreshing simplicity of this soft taco filling, based on a recipe given to me by a Yucatecan taquería cook, makes it a perfect complement to some of the richer fillings. Also, it’s a delicious first course, hors d’oeuvre or picnic offering. With warm tortillas or good bread and a creamy potato salad, it makes a very good summer supper.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For completing the dish:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ½ small red onion, cut into ¼-inch dice
     </li>
     <li>
      1 ripe, medium-small tomato, cored and cut into ¼-inch dice
     </li>
     <li>
      5 radishes, finely diced
     </li>
     <li>
      1½ tablespoons finely chopped fresh coriander (cilantro)
     </li>
     <li>
      2½ tablespoons freshly squeezed lime juice
     </li>
     <li>
      5 tablespoons vegetable oil, preferably half olive oil and half vegetable oil
     </li>
     <li>
      ½ teaspoon salt
     </li>
     <li>
      2 or 3 leaves romaine or leaf lettuce, for garnish
     </li>
     <li>
      Sprigs of coriander (cilantro) or radish roses, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The shrimp. Squeeze the two lime halves into a medium-size saucepan, then add the two squeezed rinds, the black pepper, allspice, bay leaves and 1 quart water. Cover and simmer over medium-low heat for 10 minutes.
     </li>
     <li>
      se the heat to high, add the shrimp, re-cover and let the liquid return to a full boil. Immediately remove the pan from the heat, hold the lid slightly askew and strain off all the liquid. Re-cover tightly, set aside for 15 minutes, then rinse the shrimp under cold water to stop the cooking.
     </li>
     <li>
      l the shrimp, then devein them by running a knife down the back to expose the dark intestinal track and scraping it out. If the shrimp are medium or larger, cut them into ½-inch bits; place in a bowl.
     </li>
     <li>
      Other preliminaries. Add the red onion, tomato, radish and coriander to the shrimp. In a small bowl or a jar with a tight-fitting lid, combine the lime juice, oil and salt.
     </li>
     <li>
      Combining and serving. Shortly before serving, mix the dressing ingredients thoroughly, then pour over the shrimp mixture. Toss to coat everything well, cover, and refrigerate or set aside at room temperature.
     </li>
     <li>
      e a shallow serving bowl with the lettuce leaves. Taste the shrimp mixture for salt, scoop it into the prepared bowl and serve, garnished with sprigs of coriander or radish roses.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>