<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   shrimp-ball soup with roasted pepper and tomato
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     shrimp-ball soup with roasted pepper and tomato
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    The simple Mexican flavors of this west-coast specialty are clean and invitingly uncomplicated. The soup is substantial—just the kind of thing to serve before some simple Crispy-Fried Tacos or Enchiladas Suizas; ripe, aromatic Strawberries with Cream would be my choice for dessert.Along Mexico’s upper west coast, near Topolobampo in the Sea of Cortés, shrimp are so plentiful that the cooks use them to fill up soups, to shred for taco fillings and to grind for shrimp balls or cakes. This is a recipe for the latter, which re-creates a delicious version I had in Mazatlán; it is a combination of recipes I found in several Spanish-language publications.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1½ quarts, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      8 ounces shrimp, well chilled
     </li>
     <li>
      ¼ small onion, very finely chopped
     </li>
     <li>
      ¼ ripe, medium-large tomato, cored, seeded and finely chopped
     </li>
     <li>
      1 large egg yolk
     </li>
     <li>
      2 tablespoons flour
     </li>
     <li>
      ½ teaspoon dried oregano
     </li>
     <li>
      A generous ½ teaspoon salt
     </li>
     <li>
      1 tablespoon vegetable oil
     </li>
     <li>
      1 small onion, thinly sliced
     </li>
     <li>
      1 medium fresh chile poblano, roasted and peeled, seeded and sliced into thin strips 1 inch long
     </li>
     <li>
      1 ripe, medium-small tomato, roasted or boiled, cored, peeled and roughly chopped OR ½ 15-ounce can tomatoes, well drained and roughly chopped
     </li>
     <li>
      About 4½ cups (½ recipe) fish broth
     </li>
     <li>
      Salt, about ¾ teaspoon
     </li>
     <li>
      ¼ cup loosely packed, roughly chopped fresh coriander (cilantro)
     </li>
     <li>
      1 to 2 limes, quartered
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The shrimp mixture. Peel the shrimp and devein them by running a knife down the back to expose the dark intestinal track and scraping it out. Chop them finely: To chop by hand, use a large, sharp knife to cut the shrimp in small bits, then rock and chop, working the knife back and forth for several minutes, until the shrimp forms a coarse-textured paste. For machine chopping, either run the shrimp through the meat grinder fitted with the fine plate or use a food processor to chop the shrimp into a coarse puree (do it in two lots, pulsing 4 to 5 times for each lot). Place the shrimp in a mixing bowl.
     </li>
     <li>
      the onion, tomato, egg yolk, flour, oregano and salt, and mix thoroughly. Cover and refrigerate until you’re ready to finish the soup.
     </li>
     <li>
      The broth. In a large saucepan, heat the oil over medium. Add the onion and fry until just browning, about 7 minutes. Add the chile strips and tomato and fry for 3 or 4 minutes longer to reduce the liquid a little.
     </li>
     <li>
      r in the broth, bring to a boil, cover and simmer 15 minutes over medium-low heat to blend the flavors. Season with salt.
     </li>
     <li>
      Finishing the soup. Fifteen minutes before serving, poach the shrimp in the gently simmering broth: Drop in rounded tablespoons of the shrimp mixture, simmer gently for 8 to 10 minutes, then remove from the fire.
     </li>
     <li>
      le the soup into bowls and sprinkle with the chopped coriander. Serve with the lime wedges on the side.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>