<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   slivered beef with well-browned onions
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     slivered beef with well-browned onions
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Portable, butane-fired griddles show up at dusk in parks and on street corners through most of the country, penetrating the outdoor odors with the aroma of searing meat and sweet browned onions. This is an easy dish to get a passion for, served in hot flour or corn tortillas, with a little Chunky Guacamole or Red-Chile Sauce.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 2 cups, enough for 12 tacos, serving 4 as a light main course
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 pound thin-cut pan-fryable steaks like those called sandwich steaks or flip steaks, or even skirt steaks (see Ingredients in Cook’s Notes)
     </li>
     <li>
      Salt and freshly ground black pepper, as desired
     </li>
     <li>
      About 3 tablespoons vegetable oil
     </li>
     <li>
      1 large onion, diced or sliced
     </li>
     <li>
      2 large cloves garlic, peeled and minced
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The meat. Trim the beef of excess fat and sprinkle with salt and pepper. Over medium-high, heat enough vegetable oil to nicely coat the bottom of a large, heavy skillet. When it is searingly hot, brown the steak for 1 to 2 minutes on each side; for cuts like skirt, be careful not to cook past medium-rare. Remove to a wire rack set over a plate and keep warm in a low oven; reduce the heat under the skillet to medium.
     </li>
     <li>
      The onion. Add the onion to the skillet and cook, stirring frequently, until a deep golden-brown, about 10 minutes. Stir in the garlic and cook 2 minutes longer.
     </li>
     <li>
      Finishing the mixture. Cut the meat into thin strips (across the grain, for skirt steak); for tougher cuts of meat, cut into ½-inch pieces. When the onion mixture is ready, add the beef to the skillet and stir until heated through. Season with salt and serve in a deep, warm bowl.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>