<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   sparkling limeade
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     sparkling limeade
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Since lime is one of Mexico’s national flavors, it’s not surprising that a glass of cold sweet-sour limeade is one of the national drinks. Unlike the simple drink from the street vendors’ tables, the limonada of the coffee shops and restaurants is often mixed with sparkling mineral water, making it more refreshing yet.We make limonada at home a lot because it nicely complements Mexican dishes—even some of the most refined ones, and it makes a very special nonalcoholic choice at any dinner party.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 5 cups, 5 to 6 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ½ to 2/3 cup sugar
     </li>
     <li>
      11/3 cups freshly squeezed lime juice (roughly 8 to 10 limes)
     </li>
     <li>
      1 quart sparkling water
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      the smaller amount of sugar to the lime juice and stir until the sugar is dissolved. Add the sparkling water, stir and taste for sweetness; add more sugar if desired. Pour over ice and serve immediately.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>