<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   spicy crab soup
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     spicy crab soup
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Jaibas, the little live blue crabs, come to the Veracruz market tied into bundles, ready for boiling, picking and stuffing, or for stewing into a rich-tasting, spicy chilpachole. This recipe, given to me by a waitress in Veracruz, is one of the least complicated I know; I think its simplicity (and the bit of chipotle pepper) best shows off the crab. For a special dinner, serve it before Green Pumpkinseed Mole; or more simply, serve it with Picadillo Turnovers.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1½ quarts, 4 to 6 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      8 medium (2 to 2½ pounds total) live blue crabs (see Ingredients in Cook’s Notes)
     </li>
     <li>
      3 cloves garlic, unpeeled
     </li>
     <li>
      2 ripe, medium-small tomatoes, roasted or boiled, cored, peeled and roughly chopped OR one 15-ounce can tomatoes, drained and roughly chopped
     </li>
     <li>
      ½ small onion, roughly chopped
     </li>
     <li>
      2 tablespoons olive oil
     </li>
     <li>
      1 large sprig epazote (see Ingredients in Cook’s Notes)
     </li>
     <li>
      Canned chiles chipotles to taste (roughly 1 to 2 chiles), seeded and chopped
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
     <li>
      1 to 2 limes, cut into wedges
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Cooking the crabs. Bring 2 quarts water to a boil in a soup pot or kettle, drop in the crabs and quickly set the lid in place. Once the water returns to a boil, reduce the heat to medium. After 5 minutes, the crabs should have changed from their mottled blue to a brilliant red; if not, let them cook a minute or two longer. Remove the crabs to a tray and set the broth aside in its pan.
     </li>
     <li>
      Cleaning the crabs. First, remove the crab bodies from the shells: Working with one crab, break off all the legs and claws where they join the body, then pry back the small pointed flap (the “apron”) on the underside and break it off. Grasp the outer shell and, with your other hand, take hold of the body itself—your thumb at the front where the eyes are, your fingers at the back where you broke off the flap. Pry the two apart. If there is any orange-colored roe sticking to the shell, scrape it into a bowl; place the body in a second bowl, and the legs, unwashed shell and flap in a third; crack the claws and add them to the bowl with the roe. Continue with the remaining crabs.
     </li>
     <li>
      t, remove the meat from each body: With a small spoon, scrape off any roe that is sticking to the bodies and add it to what you’ve already collected. Pull off and discard the white fingerlike gills (also called “dead-man’s-fingers”) that are attached to each side. Break the bodies in half, then pick out the lump of crab meat that is attached toward the front of each half, inside where the claws joined the body. Stand the body halves on their sides (on the joints where the legs were attached) and split them in half, exposing the meat inside. Use your finger or a small pick to run between the quill-like filaments and fish out the crab meat. Add it to the bowl with the roe, being careful to remove any bits of chipped shell or filament.
     </li>
     <li>
      the picked bodies to the bowl with the shells.
     </li>
     <li>
      Finishing the broth. Add the bowl of picked shells to the broth, cover and simmer over medium-low heat for 30 minutes. Strain through a fine-mesh sieve, set the broth aside and discard the shells. Wash and dry the pan.
     </li>
     <li>
      The soup base. Roast the unpeeled garlic on an ungreased griddle or heavy skillet over medium heat, turning frequently, until the cloves are soft and blackened in spots, about 15 minutes. When cool enough to handle, slip them out of their skins and place them in a blender or food processor with the tomatoes and onion. Process until smooth.
     </li>
     <li>
      t the olive oil in the soup pot or kettle over medium-high. When hot enough to make a drop of the puree sizzle sharply, add it all at once. Stir nearly constantly for about 4 minutes, as the puree sears and thickens. Then add the broth and the epazote, cover and simmer gently over medium-low heat for 30 to 45 minutes.
     </li>
     <li>
      Finishing the soup. About 15 minutes before serving, remove the epazote and skim off any fat that is floating on the broth. Stir in the chopped chipotles, re-cover and simmer for 10 minutes. Season with salt.
     </li>
     <li>
      ally, add the crab meat, claws and any roe. Cover and let the crab heat in the broth for about 5 minutes. Ladle up bowl-fuls for your guests, each with bits of crabmeat and several of the claws to be fished out and picked at the table. Pass the lime wedges for the guests to squeeze into the soup to suit their own tastes.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>