<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   stacked tortillas with shark, black beans and tomato sauce
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     stacked tortillas with shark, black beans and tomato sauce
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    This stack of tortillas, tangy tomato sauce, fish and black beans is a favorite in snack shops and informal restaurants all over the Yucatán Peninsula—especially in Campeche, where shallow-water sand sharks (dogfish) called cazónes are abundant. It’s a simple but tasty combination, and one that is fairly quick to prepare. Serve it with Jícama Salad and a glass of Almond-Rice Cooler for a traditional-tasting meal.Chiles habaneros are requisite additions to Yucatecan tomato sauces—bobbing about to spread a little chile cheer. Since they’re used whole, they don’t give much of their special herby taste; but they’re always fished out and set proudly atop the dish. (EATER BEWARE.) They’re difficult to find in the United States, so I recommend using serranos.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    6 servings as a snack or light meal with other accompaniments
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 cup (about ½ recipe) Frijoles Refritos made with black beans
     </li>
     <li>
      About 4 cups (2 recipes) Yucatecan Tomato Sauce
     </li>
     <li>
      3 fresh chiles habaneros or chiles serranos, roasted
     </li>
     <li>
      12 corn tortillas, preferably store-bought
     </li>
     <li>
      3 tablespoons bitter orange juice
     </li>
     <li>
      6 leaves epazote, finely chopped
     </li>
     <li>
      12 ounces boneless, skinless shark steak, preferably 1 inch thick
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preliminaries. Heat the beans in a small, covered saucepan over low. Warm the tomato sauce over low heat in a similar covered pan; make a small slit in the side of each of the chiles and add to the sauce. Steam-heat the tortillas as directed.
     </li>
     <li>
      The fish. Bring 3 cups of salted water to a boil and add 2 tablespoons of the bitter orange juice, half the epazote and the shark. Cover and simmer over medium heat for 10 minutes. If possible, let the fish cool in the broth.
     </li>
     <li>
      in off the liquid, remove the fish and break it into rather small shreds. Place it in an ovenproof bowl, season with salt and mix in the remaining tablespoon of bitter orange juice and the rest of the epazote. Cover with foil, set in the oven, and turn it on to 350°.
     </li>
     <li>
      Finishing the dish. Oil a baking sheet and lay out 6 hot tortillas on it. Spread each with 2 rounded tablespoons of beans, then top with a portion of the warm fish mixture and a spoonful of the sauce. Top each serving with a second tortilla and spread a little sauce over it.
     </li>
     <li>
      er with foil and bake for about 8 minutes, just to heat through. Transfer each serving to a warm dinner plate, ladle some of the remaining sauce over each one and garnish with the roasted chiles from the sauce.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>