<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   stewed squash blossoms
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     stewed squash blossoms
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1½ cups
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      20 good-size, fresh squash blossoms
     </li>
     <li>
      ½ medium onion, diced
     </li>
     <li>
      Fresh hot green chiles to taste (roughly 2 chiles serranos or 1 chile jalapeño) stemmed, seeded and finely minced
     </li>
     <li>
      1 tablespoon lard or vegetable oil
     </li>
     <li>
      1 medium-large tomato, roasted or boiled, cored, peeled and chopped OR 2/3 15-ounce can tomatoes, drained and chopped
     </li>
     <li>
      Several epazote leaves, chopped OR a small handful fresh coriander (cilantro) or parsley, chopped
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
     <li>
      2 tablespoons crumbled Mexican queso fresco or other fresh cheese like feta or farmer’s cheese
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The squash blossoms. Clean the squash blossoms by removing the stamens from inside the flowers and trimming off tough-looking bases (the calyxes). Rinse them well and cut them crosswise into ½-inch sections.
     </li>
     <li>
      The filling. In a medium-size skillet set over medium heat, fry the onion and chile in lard or vegetable oil for about 5 minutes, until tender. Add the tomato, along with the sliced flowers and epazote. Cover and let the mixture steam over medium-low heat until the flowers are tender, about 8 minutes. Uncover, season with salt and sprinkle with cheese. Scoop into a small dish to cool before using.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>