<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   sweet fresh-cheese pie
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     sweet fresh-cheese pie
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: one 9-inch pie, 6 to 8 servings
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For the filling:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 pound “natural” (no gum additives) cream cheese, at room temperature (see Ingredients in Cook’s Notes)
     </li>
     <li>
      ¾ cup sugar
     </li>
     <li>
      ¼ teaspoon salt, plus a little more for the egg whites
     </li>
     <li>
      ¼ teaspoon ground cinnamon
     </li>
     <li>
      1 tablespoon flour
     </li>
     <li>
      ½ teaspoon vanilla extract
     </li>
     <li>
      3 large egg yolks, at room temperature
     </li>
     <li>
      2 large egg whites, at room temperature
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The crust. Pulverize the bread in a blender or food processor; there should be about 12/3 cups. Combine the crumbs and sugar in a bowl. Melt the butter with the shortening, then pour over the crumbs and mix well. Pat into an even layer in a 9-inch pie pan. Chill 20 to 30 minutes.
     </li>
     <li>
      The filling. Preheat the oven to 375° and position the rack in the upper third. Place the cheese in a food processor or electric mixer, add ½ cup of the sugar, ¼ teaspoon salt, the cinnamon, flour, vanilla and egg yolks, and process or beat until very smooth. If using a food processor, scrape the mixture into a large mixing bowl.
     </li>
     <li>
      ng a large wire whisk or an electric mixer at medium speed, beat the egg whites with a pinch of salt until they hold a firm peak, then beat in the remaining ¼ cup of sugar at half-minute intervals, 1 tablespoon at a time. Continue beating until they hold a stiff, shiny peak again. Stir 1/3 of the egg whites into the cheese batter, then gently fold in the remainder in 2 additions. Scoop into the crust.
     </li>
     <li>
      Baking. Immediately set the pie in the oven. Bake 5 minutes, then lower the heat to 325° and bake 25 minutes; turn off the oven and let the pie cool for 15 minutes with the door closed. Remove from the oven and cool completely before serving. It will have puffed and browned during baking, but will settle to its original height as it cools.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>