<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   swiss chard with tomatoes and potatoes
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     swiss chard with tomatoes and potatoes
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Here is another of the typical vegetable dishes that are often cooked with a little pork or chicken. This tasty, homey preparation, based on one from Rodriguez’ La comida en el México antiguo y moderno, can serve as anything from a light main dish (with cubes of fresh cheese stirred in at the last moment), to a vegetarian taco filling or an accompaniment to simple broiled or charcoal-grilled meat, poultry or fish. Swiss chard, one of the most common greens in Mexico, has a good texture and a flavor that’s a little fuller than spinach, so it works beautifully in this kind of preparation. Though frequently stewed for a long time, it seems to have the best texture when just wilted, as I’ve directed.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 2½ cups, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 tablespoon lard, vegetable oil or butter
     </li>
     <li>
      1 small onion, thinly sliced
     </li>
     <li>
      Fresh hot green chiles to taste (about 1 chile serrano or ½ chile jalapeño), stemmed, seeded, deveined and thinly sliced
     </li>
     <li>
      1 ripe, medium-small tomato, roasted or boiled, cored and peeled OR ½ 15-ounce can tomatoes, drained
     </li>
     <li>
      2 medium-small (about 8 ounces total) boiling potatoes like the red-skinned ones, cut in ¾-inch dice
     </li>
     <li>
      ½ cup any poultry or meat broth or water, plus a couple tablespoons more if necessary
     </li>
     <li>
      4 leaves epazote (optional)
     </li>
     <li>
      Salt, about ½ teaspoon
     </li>
     <li>
      ½ bunch (about 4 ounces) small Swiss chard, stems cut off and leaves sliced crosswise in 1-inch strips
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The flavorings. In a medium-size saucepan, heat the lard, oil or butter over medium. Add the onion and chile, and cook, stirring frequently, until the onion is lightly browned, 7 or 8 minutes. Roughly chop the tomato, add it to the pan and cook for 3 or 4 minutes longer, to reduce the liquid a little.
     </li>
     <li>
      The potatoes. Stir in the potatoes, broth, optional epazote and salt. Cover and cook over medium-low heat until the potatoes are tender, about 10 minutes. Check the amount of liquid: If most has been consumed, add a little more broth; or, if it is very soupy, quickly boil it down, uncovered, until only ¼ cup is left.
     </li>
     <li>
      Steam-cooking the chard. Mix in the chard, cover and cook over medium heat until the greens are tender, about 3 minutes. Uncover and taste for salt. There should be enough tomatoey broth to coat the vegetables. Serve right away.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>