<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   tacos
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     tacos
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      t Mexicans I know just laugh when they think about the crisp U-shaped tacos heaped with ground beef, lettuce and American cheese—the ones that come with beans and rice and pass for a Mexican “dinner” in the United States. They’re a long way from the authentic double thickness of corn tortillas—a little greasy from the griddle—wrapped around a biteful of meat, sprinkled with sharp sauce and a little fragrant onion and fresh coriander (cilantro). And enjoyed standing up, as a tasty snack.
     </li>
     <li>
      what exactly is a taco, that most well known of Mexican culinary inventions? Simply answered by one expert, it is improvised cooking wrapped in a tortilla. And, in my opinion, it is remarkably good not only because a fresh-baked corn tortilla is so good, but also because Mexican cooks have a natural talent for putting together dabs of this and that.
     </li>
     <li>
      Mexico, the corn tortillas for tacos can be steaming soft and folded over thick stews (tacos de cazuela), griddle-cooked meats, potatoes or eggs (tacos de la plancha), charcoal-grilled beef, pork or chicken (tacos al carbón), or steamed barbacoa or beef head meat (tacos a vapor). The tortillas can be quick-fried (to ensure that they don’t dry out), then folded over a little ground meat, fresh cheese or chile-seasoned potatoes and packed in a cloth-lined basket to sell on the street (tacos de canasta). The tortillas can be rolled around a filling and fried crisp to make tacos dorados. Or they can be replaced with soft flour tortillas to make burritos or tacos de harina. Folded or rolled, fried, half-fried, quick-fried or soft, filled with practically anything that will fit—they’re all tacos to someone in Mexico.
     </li>
     <li>
      t tacos are the most common of the lot, and when it comes to serving them (which I find myself doing frequently), I focus on the spirited informality, putting the components out for help-yourself buffets at parties or on a simply set table for impromptu lunches or suppers. I plan 3 or 4 tacos per person, plus some accompaniments. For a group of 4, I’d make 2 fillings; for 8, I’d make 3 or 4. As a general rule, 1 cup of filling makes about 4 tacos; plan 2 thin (or one thick) corn tortillas or 1 flour tortilla per taco.
     </li>
     <li>
      ipes from other chapters that work well as soft taco fillings: Melted Cheese with Peppers and Chorizo; Shredded Beef Salad with Avocado; Eggs a la Mexicana; Eggs with Chorizo; Scrambled Eggs with Shredded Jerky; Brains with Mexican Seasonings; Stewed Mushrooms; Chile-Marinated Vegetables; Chicken or Pork Pibil; Chicken Barbacoa; Shredded Pork Tinga; Carne con Chile Colorado; Pork Carnitas; Goat or Lamb Birria.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>