<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   tamarind cooler
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     tamarind cooler
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    The tamarind pods mature on tall trees in warm, humid climates before they’re picked and heaped in loose marketplace mounds, each pod looking like a fat, barky broad bean. The dark, sticky pulp underneath the rough exterior provides the flavor, and occasionally, you’ll find the extracted pulp packed into small envelopes or jars: plain, sugared or flavored with chile for a snack. Soaking the pods, however, is an easy way to get at the essence, and the outcome is always fresher tasting. Ice-cold tamarindo is delicious served with charcoal-grilled foods, as well as enchiladas, tacos and such.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 3½ cups, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      8 ounces (about 8 large) fresh tamarind pods (see Ingredients in Cook’s Notes)
     </li>
     <li>
      ½ cup sugar, plus a little more if necessary
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Cleaning the tamarind pods. Hold a pod in one hand, loosen the stem with the other, then firmly pull out the stem, along with the runners that trail down between the shell and pulp. Peel off the shells.
     </li>
     <li>
      Boiling. Bring 1 quart water to a boil, add the tamarind pods and sugar, then boil 1 minute. Pour into a noncorrosive container.
     </li>
     <li>
      Steeping. Let stand 2 hours (really fresh pods will be completely soft in about 1 hour, old ones may require 2½ hours or more). Using your hand or the back of a wooden spoon, break up the softened pods to free the pulp and seeds; knead the fibrous material carefully to free all the pulp.
     </li>
     <li>
      Finishing the drink. Strain the mixture through a fine-mesh sieve, pressing hard on the seeds and fibers to extract as much of their essence as possible. Adjust the sweetness to suit your taste, then cover and refrigerate until serving. Stir before pouring.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>