<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   tequila-lime cocktail
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     tequila-lime cocktail
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    I admit to a stab of pain when I hear North American restaurant goers proclaim that their favorite part of a Mexican meal is the margaritas. Drunk before the meal…two or three of them. But then who can fault the diners when so many of our Mexican-American restaurants specialize in uneventful plates of beans and rice?Now all this doesn’t mean I don’t enjoy a good margarita now and again. But I think the ones from the standard guides (1½ ounces tequila, ½ ounce Triple Sec, ½ ounce lime juice and a little sugar, shaken with ice and strained) are simply too strong for those weaned on margaritas made mostly of commercial sweet-and-sour mix. So I’ve developed what I think is a very good, fresh-tasting margarita, frothy and not too strong. You have to start a little ahead, but it’ll be one of the best you’ve had. If you’re so inclined, rub the rims of the glasses with a lime wedge, then dip them in a dish of kosher salt.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 3½ cups, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1¼ cups Lime-Zest Cooler
     </li>
     <li>
      ¼ cup freshly squeezed lime juice
     </li>
     <li>
      1/8 teaspoon salt
     </li>
     <li>
      1 cup decent-quality, drinkable tequila (see Ingredients in Cook’s Notes)
     </li>
     <li>
      1/3 cup Triple Sec
     </li>
     <li>
      1 cup ice cubes
     </li>
     <li>
      1 egg white (optional)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Preparing the base. Mix the prepared Lime-Zest Cooler with the lime juice, salt, tequila and Triple Sec, and let stand for ½ hour for the flavors to blend.
     </li>
     <li>
      Finishing the margaritas. Just before serving, pour the mixture into a blender jar and add the ice cubes and optional egg white. Blend for 30 to 45 seconds, until the ice is chopped (and the egg white is whipped to a froth). Serve immediately over cracked or crushed ice.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>