<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   tequila shooters with spicy chaser
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     tequila shooters with spicy chaser
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: about 1 cup sangrita, 4 to 8 shot-size servings
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For serving:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ½ pint easy-drinking tequila (see Ingredients in Cook’s Notes)
     </li>
     <li>
      2 limes, cut into wedges (optional)
     </li>
     <li>
      A small dish of salt (optional)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      a bottle or pitcher, mix together all the sangrita ingredients. Cover and refrigerate for at least an hour, allowing the flavors to meld.
     </li>
     <li>
      n you’re ready to serve, pour the sangrita into 4 to 8 tiny glasses (any 1½- to 3-ounce glass can serve the same function as a shot glass), then divide the tequila into 4 to 8 more small glasses. Serve a glass of each to your guests; pass the lime wedges and dish of salt for those who prefer to take their tequila the other way.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>