<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   tolucan chile-flavored sausage
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     tolucan chile-flavored sausage
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    Chorizo sits prominently on the mixed-grill combination plates in places known for charcoal fires; other places it gets scrambled invitingly into fresh eggs, or browned with crispy potatoes. One of my favorites, though, is chorizo on a plate of good melted cheese, with a stack of fresh-baked flour tortillas to roll it all in.The chorizo recipe that follows, for the deliciously flavored Tolucan variety, is based on one in Velázquez de León’s Platillos regionales de la República Mexicana.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 1½ pounds fresh sausage; about 1 pound after air-drying for 36 hours
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1/3 pound pork fat, cut into ½-inch cubes
     </li>
     <li>
      2 medium (about 1 ounce total) dried chiles anchos, stemmed, seeded and deveined
     </li>
     <li>
      2 medium (about 2/3 ounce total) dried chiles pasillas, stemmed, seeded and deveined
     </li>
     <li>
      A generous ¼ teaspoon coriander seeds (or about ¼ teaspoon ground)
     </li>
     <li>
      ½ inch cinnamon stick (or about ½ teaspoon ground)
     </li>
     <li>
      1/8 teaspoon cloves (or a generous 1/8 teaspoon ground)
     </li>
     <li>
      ¾ teaspoon dried oregano
     </li>
     <li>
      A generous ¼ teaspoon black peppercorns (or about 1/3 teaspoon ground)
     </li>
     <li>
      1/8 teaspoon freshly ground nutmeg
     </li>
     <li>
      1/8 teaspoon ground ginger
     </li>
     <li>
      2 tablespoons good-quality paprika
     </li>
     <li>
      1 generous teaspoon salt
     </li>
     <li>
      3 cloves garlic, peeled and finely minced
     </li>
     <li>
      1/3 cup cider vinegar
     </li>
     <li>
      8 ounces lean, boneless pork loin, cut into 1-inch cubes and chilled
     </li>
     <li>
      8 ounces lean, boneless pork shoulder, cut into 1-inch cubes and chilled
     </li>
     <li>
      4 to 5 feet of hog casings in 1 or 2 pieces, for stuffing the sausage (optional)
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The pork fat. Place the pork fat in the freezer (to firm it for easy chopping) while preparing the seasonings.
     </li>
     <li>
      The chiles and other seasonings. Set a griddle or heavy skillet over medium heat, then tear the chiles into large flat pieces. A few at a time, lay the chiles on the hot surface, press them down with a metal spatula until they blister and change color, flip them over and press down to toast the other side. Cool until crisp, then crumble them into a spice grinder (or blender fitted with the miniblend container). Measure in the coriander seeds, cinnamon stick, cloves, oregano and black peppercorns, and pulverize. Sift through a medium-mesh sieve into a large bowl, add the nutmeg, ginger, paprika and salt, then stir in the garlic and vinegar.
     </li>
     <li>
      Grinding and flavoring the meat. Set up a meat grinder fitted with the coarse grinding plate. Mix together the pork loin, shoulder and fat, then run through the grinder and into the bowl with the seasonings. Mix the meat and seasonings thoroughly, cover and refrigerate overnight. (Before using or stuffing the sausage, fry a little, taste it, then add more salt, if necessary.)
     </li>
     <li>
      Optional stuffing and aging. If the casings were packed in salt, soak for an hour before stuffing. According to manufacturer’s directions, set up the meat grinder with the funnellike sausage-stuffing attachment.
     </li>
     <li>
      se the casings, then check each piece for leaks by running water through it; either cut the casing where there are leaks or discard the piece. (To be useful, a casing should be at least 30 inches long, with no leaks.)
     </li>
     <li>
      ead 1 piece. of casing over the sausage-stuffing attachment, leaving a 3-inch overhang. Begin feeding the sausage through: When it comes through the end of the attachment, clamp off the casing so that the sausage collects and stretches the casing to a 1-inch diameter; if there is an air bubble, stop the machine and work it out. Feeding the sausage through the grinder in an uninterrupted flow, slowly move the casing away from the stuffer as the sausage fills out a continuous 1-inch diameter link. When the sausage is about 6 inches long, pull off an extra inch of casing and squeeze through the meat, completing one link and starting another. Continue until all of the sausage meat has been cased, stopping to thread on more casing as necessary.
     </li>
     <li>
      her twist the links several times to separate them or tie pieces of string between them. Hang in a cool, dry, airy place for about 36 hours or until dry to the touch and somewhat firm. Set a dish underneath to catch drips.
     </li>
     <li>
      p in plastic and refrigerate until ready to use.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>