<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   turnovers
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     turnovers
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      tever they call them—quesadillas, empanadas, molotes, tlacoyos, even enchiladas in the confusing jargon of San Luis Potosí—they’re deliciously stuffed pockets of Mexican flavor, bearers of well-spiced vegetables, meats and cheese, transporters of chile-spiked hot sauce or smooth guacamole. On the streets or in the markets, they’re made for the midmorning almuerzos or late-evening cenas of folks on their way to or from. In the restaurants, they turn into nice entremeses (“appetizers”) to have before the more serious eating starts. In my home, I make them with all their regional casings—from corn masa to flour-tortilla dough—and I fry or griddle-bake them to offer with drinks, to set in a basket on the table as an informal appetizer or to feature at a light lunch or supper. Following are the recipes for many of the well-known regional varieties.
     </li>
     <li>
      ting the Oil Temperature Right: As with all frying, work with a heavy pan and a thermometer. Keep the oil at 375°; cool oil means greasy food.
     </li>
     <li>
      ging Doneness: Anything made from masa harina darkens more quickly than that made from fresh masa; so fried masa harina creations must be well browned for them to be done. Any masa creations will turn out greasy if not fried long enough.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>