<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   turnover fillings
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     turnover fillings
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      following fillings come primarily from Central Mexico: Pueblan vendors fill their small, fried turnovers with concoctions heavy in strips of green chile, while their large griddle-baked turnovers get my favorite Shredded Pork Tinga. Near Cuernavaca, the cooks fry quesadillas filled with shredded chicken, minced pork or beef picadillo, and black corn mushrooms (huitlacoche), as well as the deliciously pungent brains with epazote, and the mushrooms with green chile outlined below. In Toluca, large quesadillas show up with a filling of squash blossoms; the recipe follows, should you be lucky enough to lay your hands on some of the delicate flowers. And on the coasts, crab, shrimp and poached fish find their way into turnovers. Though I haven’t seen them used in Mexico, Northern-Style Shredded Beef and Potatoes with Chorizo are good turnover fillings, too.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>