<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   vanilla-flavored caramel custard
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     vanilla-flavored caramel custard
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    YIELD: 10 servings, in 10 individual molds or 1 large one
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    For finishing the custard:
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      6 large eggs
     </li>
     <li>
      6 large egg yolks
     </li>
     <li>
      1 teaspoon vanilla extract
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      Reducing the milk. Bring the milk and 1 cup sugar to a boil in a large saucepan. Regulate the heat so the mixture simmers briskly without boiling over; stirring regularly, let reduce to 1 quart, about 45 minutes.
     </li>
     <li>
      The mold(s) and hot-water bath. Set 10 custard cups or a large mold (see Equipment in Cook’s Notes) in a baking pan deep enough to hold 2 inches of water. Put a teakettle of water on to heat, preheat the oven to 350° and position the rack in the middle.
     </li>
     <li>
      The caramel. Measure the appropriate amount of sugar into a small, heavy saucepan, dribble in the corresponding amount of water (first around the sides, then over the sugar), and stir several times. Bring to a boil, wash down the sides of the pan with a brush dipped in water, then simmer over medium heat, without stirring, until the syrup begins to color. Swirl the pan continually over the fire until the syrup is an even deep amber. Immediately pour the caramel into the mold or divide it among the custard cups, then tilt the mold or cups to distribute it over the bottom and sides.
     </li>
     <li>
      The custard. Beat the eggs, yolks and vanilla in a large bowl until liquidy. Slowly beat in the hot reduced milk, strain through a fine-mesh sieve (to remove any membranes or milk “skins”), then pour into the mold(s).
     </li>
     <li>
      Baking the flan. Fill the baking pan containing the custard(s) with 2 inches of simmering water, cover lightly with foil and bake until the custard has just set (a knife inserted near the center will come out clean), about 30 minutes for the individual molds, 40 to 50 minutes for a large one. Remove from the oven and let cool in the water bath (the custard will set completely as it cools).
     </li>
     <li>
      Unmolding the flan. For the best results, thoroughly chill the cooled custard(s). Run a non-serrated knife around the edge, penetrating to the bottom, then twist the dish back and forth to ensure that the custard is free from the mold. Invert a deep serving plate over the top, reverse the two and listen for the flan to drop. Individual custards may need a gentle shake from side to side to release any suction holding them in. If there still is caramel on the bottom of the mold, either scrape it out onto the flan, or set the mold in very hot water (or over a low fire) until it softens enough to pour out.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>