<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   wheat-flour tortillas
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     wheat-flour tortillas
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    The first homemade-wheat-flour tortillas I remember tasting were in Morelia, Michoacán, of all places—far away from the Northern states where these are common. Outside the glass-enclosed kitchen of the Silla de Cerro cabrito restaurant, you could watch one cook care for the roasting kid and another rhythmically roll out ball after ball of white dough—four or five passes, and they were ready to bake on the iron griddle, where they ballooned beautifully. Like the best of them, those tortillas were steaming, tender and savory-tasting.After a lot of experimenting through the years I think that the lightest and tastiest flour tortillas are the simplest ones—those made from part lard and cooked over a fairly high heat. No baking powder, no milk and no low-fat approaches. They are easy to make once you get the feel of the process; your rewards will match the effort, too, since they are so much better than the bready ones in the grocery-store packages.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    12 tortillas
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      ¾ pound (2¾ cups) all-purpose flour, plus a little extra for rolling the tortillas
     </li>
     <li>
      5 tablespoons lard or vegetable shortening, or a mixture of the two
     </li>
     <li>
      ¾ teaspoon salt
     </li>
     <li>
      about ¾ cup very warm tap water
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The dough. Combine the flour and fat in a large mixing bowl, working in the fat with your fingers, until completely incorporated. Dissolve the salt in the water, pour about 2/3 cup of it over the dry ingredients and immediately work it in with a fork; the dough will be in large clumps rather than a homogeneous mass. If all the dry ingredients haven’t been dampened, add the rest of the liquid (plus a little more, if necessary). Scoop the dough onto your work surface and knead until smooth. It should be a medium-stiff consistency—definitely not firm, but not quite as soft as most bread dough either.
     </li>
     <li>
      Resting. Divide the dough into 12 portions and roll each into a ball. Set them on a plate, cover with plastic wrap and let rest at least 30 minutes (to make the dough less springy, easier to roll).
     </li>
     <li>
      Rolling and griddle-baking. Heat an ungreased griddle or heavy skillet over medium to medium-high heat.
     </li>
     <li>
      a lightly floured surface, roll out a portion of the dough into an even 7-inch circle: Flatten a ball of dough, flour it, then roll forward and back across it; rotate a sixth of a turn and roll forward and back again; continue rotating and rolling until you reach a 7-inch circle, lightly flouring the tortilla and work surface from time to time.
     </li>
     <li>
      the tortilla on the hot griddle (you should hear a faint sizzle and see an almost immediate bubbling across the surface). After 30 to 45 seconds, when there are browned splotches underneath, flip it over. Bake 30 to 45 seconds more, until the other side is browned; don’t overbake the tortilla or it will become crisp. Remove and wrap in a heavy towel. Roll and griddle-bake the remaining tortillas in the same manner, stacking them one on top of the other, wrapped in the towel.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>