<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   white-rice pilaf with corn, roasted chiles and fresh cheese
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     white-rice pilaf with corn, roasted chiles and fresh cheese
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    In Puebla, there has grown up a traditional juxtaposition of fresh corn, roasted chiles poblanos and the sharp fresh cheese they call queso ranchero (literally “ranch cheese”). A number of restaurants offer the inspired combination in a white-rice dish that is not only an interesting melding of flavors, but useful in planning menus. Arroz a la poblana is beautiful as a ring or molded into mounds to serve with saucy dishes like Duck in Pumpkinseed Pipián.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 5 cups, 4 to 6 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1½ tablespoons vegetable oil
     </li>
     <li>
      1 cup long- or medium-grain rice
     </li>
     <li>
      1 small onion, finely diced
     </li>
     <li>
      1¾ cups broth, preferably poultry
     </li>
     <li>
      Salt, about ½ teaspoon if using salted broth, 1 teaspoon if using unsalted broth
     </li>
     <li>
      3 medium, fresh chiles poblanos, roasted and peeled, seeded and sliced into short, thin strips
     </li>
     <li>
      The kernels cut from 1 large ear fresh sweet corn (about 1 cup) OR 1 cup frozen corn, defrosted
     </li>
     <li>
      ½ to ¾ cup (2 to 3 ounces) crumbled Mexican queso fresco or other fresh cheese like feta or farmer’s cheese
     </li>
     <li>
      Several sprigs of watercress or parsley, for garnish
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The white rice. About 40 minutes before serving, combine the oil, rice and onion in a 1½- to 2-quart saucepan over medium heat. Stir frequently for about 7 minutes, until the onion is translucent but not browned. Meanwhile, add the salt to the broth and bring to a simmer.
     </li>
     <li>
      the broth to the rice mixture along with the chiles and corn, stir well, scrape down the sides of the pan, cover and simmer over medium-low heat for 15 minutes.
     </li>
     <li>
      Finishing the dish. When the rice has cooked 15 minutes, let stand off the fire, covered, 5 to 10 minutes, until the grains are tender (but not splayed). Add the crumbled cheese and toss the whole assemblage with a fork to mix the ingredients and stop the cooking. Scoop into a serving bowl, decorate with watercress or parsley and serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>