<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   yucatecan mixed-spice paste
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     yucatecan mixed-spice paste
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 3 tablespoons
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      12 cloves garlic, unpeeled
     </li>
     <li>
      1 teaspoon black peppercorns (or a scant 1½ teaspoons ground)
     </li>
     <li>
      ¼ teaspoon allspice berries (or a generous ¼ teaspoon ground)
     </li>
     <li>
      ¼ teaspoon cloves (or a generous ¼ teaspoon ground)
     </li>
     <li>
      ¼ teaspoon cumin seeds (or a generous ¼ teaspoon ground)
     </li>
     <li>
      2 teaspoons dried oregano
     </li>
     <li>
      ½ teaspoon salt
     </li>
     <li>
      1 tablespoon cider vinegar
     </li>
     <li>
      1 teaspoon flour
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      The garlic. Roast the unpeeled garlic on a griddle or heavy skillet set over medium heat for about 15 minutes, turning frequently, until blackened outside in spots and very soft inside. Remove, cool, then slip off the skin.
     </li>
     <li>
      The herbs and spices. Measure the black pepper, allspice, cloves, cumin and oregano into a mortar or spice grinder and pulverize thoroughly. Transfer to a small bowl and add the salt.
     </li>
     <li>
      The seasoning paste. Finely mince the garlic, then sprinkle with some of the spice mixture and use a flexible spreader or the back of a spoon to work it back and forth, mashing it to a smooth paste. Scrape in with the remaining spice powder, then work in the vinegar and flour.
     </li>
     <li>
      ape into a small jar, cover and let stand for several hours (or, preferably, overnight) before using.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>