<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   zucchini with roasted peppers, corn and cream
  </title>
  <meta content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport"/>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="container">
   <h2>
    Recipe
    <small>
     zucchini with roasted peppers, corn and cream
    </small>
   </h2>
   <h3>
    Description
   </h3>
   <div class="description">
    It is well known to most North Americans who’ve traveled in Mexico that vegetables as a side dish are rarely to be found. The country seems to be filled with exceptionally carnivorous public eaters, though in the privacy of their homes most of them are used to whole meals of vegetables stewed with chiles and other traditional flavors, with only a scrap of meat thrown in, perhaps. (Mexican cookbook writers often include recipes for these homey vegetable dishes, frequently exaggerating the size of the meat scraps, I think.)This recipe comes from the cafetería that we lived above in Mexico City, where it was served as a main dish—without any meat whatsoever. In addition to featuring it as a light main course with tortillas and a salad, I use it as a side dish for the one-pot Juchitecan Rice with Pork or with any of the sauceless grilled meats.
   </div>
   <h3>
    Yield
   </h3>
   <div class="yield">
    about 2 cups, 4 servings
   </div>
   <h3>
    Ingredients
   </h3>
   <div class="ingredients">
    <ul>
     <li>
      1 pound (4 small) zucchini, ends trimmed and cut into ½-inch cubes
     </li>
     <li>
      1 scant teaspoon salt, plus a little more to season the sauce, if necessary
     </li>
     <li>
      1 tablespoon unsalted butter
     </li>
     <li>
      1 tablespoon vegetable oil
     </li>
     <li>
      The kernels cut from 1 large ear fresh sweet corn (about 1 cup) OR 1 cup frozen corn, defrosted
     </li>
     <li>
      1 fresh chile poblano, roasted and peeled, seeded and sliced into thin strips
     </li>
     <li>
      ½ medium onion, thinly sliced
     </li>
     <li>
      2/3 cup Thick Cream or whipping cream
     </li>
    </ul>
   </div>
   <h3>
    Instructions
   </h3>
   <div class="instructions">
    <ol>
     <li>
      “Sweating” the zucchini. In a colander, toss the zucchini with the salt; let stand over a plate or in the sink for ½ hour. Rinse the zucchini, then dry on paper towels.
     </li>
     <li>
      Cooking the vegetables. Heat the butter and oil over medium-high in a skillet large enough to hold the zucchini in a single layer. When quite hot, add the zucchini and fry for 8 to 10 minutes, stirring frequently, until the zucchini is browned and just tender. Remove the zucchini, draining as much butter and oil as possible back into the pan. Reduce the heat to medium.
     </li>
     <li>
      the corn kernels, chile and onion. Stir regularly until the onion is lightly browned, 8 to 10 minutes.
     </li>
     <li>
      Finishing the dish. A few minutes before serving, stir in the cream and the zucchini and simmer for a few minutes, until the cream is reduced to a thick glaze. Add a little salt, if necessary, scoop into a warm dish and serve.
     </li>
    </ol>
   </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
 </body>
</html>